<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title><?php echo $title; ?></title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;">
Клиентом были оставлены следующие данные:
  <div>
  <?php if(isset($name)) { ?>
  Имя: <?php echo $name; ?>
  <?php } ?>
  </div>
  <div>
  <?php if(isset($phone)) { ?>
  Телефон: <?php echo $phone; ?>
  <?php } ?>
  </div>
  <div>
  <?php if(isset($email)) { ?>
  Email: <?php echo $email; ?>
  <?php } ?>
  </div>
  <div>
  <?php if(isset($message)) { ?>
  Сообщение: <?php echo $message; ?>
  <?php } ?>
  </div>
  <div>
  <?php if(isset($path)) { ?>
  Проект: <?php echo $path; ?>
  <?php } ?>
  </div>
</body>
</html>
