.basket {

  padding-top: 95px;
  padding-bottom: 80px;

  @media (min-width: 1240px) {

    padding-top: 195px;
  }

  &_content {

    padding: 0 25px;

    @media (min-width: 1240px) {

      max-width: 1240px;
      margin: 0 auto;
      padding: 0;
    }
  }

  &_title {

    font-size: 24px;
    font-weight: 300;
    line-height: 34px;
    color: $overall-color;

    @media (min-width: 1240px) {

      font-size: 36px;
      line-height: 51px;
    }
  }

  &_text {

    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #FFA92E;
    position: relative;
    margin-top: 15px;
    padding-left: 30px;

    &:before {

      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background-image: url('../image/basket.svg');
      background-repeat: no-repeat;
      background-size: auto;

      @media (min-width: 1240px) {

        top: 4px;
        width: 20px;
        height: 20px;
      }
    }

    @media (min-width: 1240px) {

      margin-top: 0;
      margin-left: 85px;
      font-size: 18px;
      line-height: 27px;
    }
  }

  &_head {

    @media (min-width: 1240px) {

      margin-top: 65px;
      display: flex;
      align-items: center;
    }
  }
}

.basket-head {

  &_name {

    display: table-cell;
    vertical-align: middle;
    width: 430px;
    font-size: 14px;
    font-weight: bold;
    color: $overall-color;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    padding-left: 20px;
  }

  &_price {

    display: table-cell;
    vertical-align: middle;
    padding-left: 70px;
    font-size: 14px;
    font-weight: bold;
    color: $overall-color;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
  }

  &_count {

    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    color: $overall-color;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
  }

  &_total-price {

    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    color: $overall-color;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
  }
}

.basket-wrapper {

  @media (min-width: 1240px) {

    margin-top: 80px;
  }
}

.basket-roster {

  margin-top: 15px;

  @media (min-width: 1240px) {

    display: table;
    width: 100%;
    margin-top: 0;
  }

  &_head {

    display: none;

    @media (min-width: 1240px) {

      display: table-row;
    }
  }

  &_item {

    padding-bottom: 45px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    position: relative;

    &:not(:first-child) {

      padding-top: 50px;
    }

    @media (min-width: 1240px) {

      display: table-row;
      padding: 0;

      &:not(:first-child) {

        padding-top: 0;
      }
    }
  }
}

.basket-item {

  &_delete {

    position: absolute;
    bottom: 0;
    right: 0;
    height: 24px;
    width: 24px;
    display: inline-block;
    background-image: url("../image/remove-basket.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @media (min-width: 1240px) {

      bottom: 50%;
      margin-bottom: -12px;
      right: 50px;
    }
  }
}

.basket-name {

  display: flex;

  @media (min-width: 1240px) {

    display: table-cell;
    vertical-align: middle;
    padding: 25px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 430px;
  }

  &_content {

    display: flex;

    @media (min-width: 1240px) {

      width: 430px;
      float: left;
    }
  }

  &_img {

    width: 85px;
  }

  &_wrap {

    margin-left: 30px;

    @media (min-width: 1240px) {

      margin-left: 20px;
    }
  }

  &_title {

    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    color: #000;
  }

  &_property {

    font-size: 12px;
    line-height: 25px;
    color: #000;
    margin-top: 15px;
  }
}

.basket-price {

  margin-top: 25px;
  padding-left: 95px;
  font-size: 28px;
  line-height: 29px;
  color: #000;

  @media (min-width: 1240px) {

    display: table-cell;
    vertical-align: middle;
    margin-top: 0;
    padding: 25px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-left: 70px;
  }
}

.basket-count {

  margin-top: 25px;
  padding-left: 95px;

  span {

    justify-content: flex-start;
    font-size: 24px;
  }

  @media (min-width: 1240px) {

    display: table-cell;
    vertical-align: middle;
    margin-top: 0;
    padding: 25px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }
}

.basket-total-price {

  margin-top: 25px;
  padding-left: 95px;
  font-size: 28px;
  line-height: 29px;
  color: #000;
  position: relative;

  @media (min-width: 1240px) {

    display: table-cell;
    vertical-align: middle;
    margin-top: 0;
    padding: 25px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-right: 50px;
  }
}

.basket-end {

  margin-top: 35px;

  @media (min-width: 1240px) {

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_desktop {

    @media (min-width: 1240px) {

      display: flex;
      flex-direction: row-reverse;
      width: 1000px;
      justify-content: space-between;
    }

    &__order {

      @media (min-width: 1240px) {

        width: 100%;

        p {

          margin-left: auto;
        }
      }
    }
  }

  &_total {

    text-align: center;
    font-size: 24px;
    line-height: 34px;
    color: $overall-color;
    font-weight: bold;

    @media (min-width: 1240px) {

      margin-right: 50px;
    }
  }

  &_btn {

    margin-top: 35px;
    text-align: center;

    @media (min-width: 1240px) {

      margin: 0;
    }
  }

  &_btn-order {

    height: 40px;
    line-height: 40px;
    display: inline-block;
    color: #fff;
    text-align: center;
    background-color: $leading-color;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    width: 230px;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -ms-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;

    &:hover {

      -webkit-transition-duration: .3s;
      -moz-transition-duration: .3s;
      -ms-transition-duration: .3s;
      -o-transition-duration: .3s;
      transition-duration: .3s;
      background-color: #FFA92E;
    }
  }

  &_btn-continue {

    margin-top: 35px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 300;
    width: 230px;
    text-decoration: none;
    background-color: #F3F3F3;
    color: $overall-color;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -ms-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;

    &:hover {

      background-color: $leading-color;
      color: #fff;
    }

    @media (min-width: 1240px) {

      display: none;
    }

    &__desktop {

      display: none;

      @media (min-width: 1240px) {

        display: block;
        margin-top: 0;
      }
    }
  }
}

.basket-modal {

  display: none;
  height: 100%;
  max-height: 490px;
  border-radius: 15px;
  background-color: #F3F3F3;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 295px;
  width: 100%;
  z-index: 4;
  padding: 30px 20px;
  box-sizing: border-box;

  &_title {

    font-size: 26px;
    line-height: 30px;
    color: $overall-color;
    font-weight: 300;
    text-align: center;
  }

  &_form {

    margin-top: 35px;
  }

  &_label {

    display: inline-block;
    width: 100%;
    position: relative;

    &:not(:first-child) {

      margin-top: 15px;
    }
  }

  &_input {

    width: 100%;
    box-sizing: border-box;
    height: 35px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, .2);
    padding-left: 25px;
    font-size: 14px;

    &:focus {

      outline: none;
    }

    &::-webkit-input-placeholder {

      font-style: italic;
      color: #C8C7CC;
    }

    &:-ms-input-placeholder {

      font-style: italic;
      color: #C8C7CC;
    }

    &::-ms-input-placeholder {

      font-style: italic;
      color: #C8C7CC;
    }

    &::placeholder {

      font-style: italic;
      color: #C8C7CC;
    }
  }

  &_checkbox {

    display: none;

    &:checked + .basket-modal_custom:before {

      content: "";
      display: block;
      position: absolute;
      width: 17px;
      height: 17px;
      background-image: url(../image/checked.svg);
      background-repeat: no-repeat;
      top: -9px;
      left: -5px;
    }
  }

  &_custom {

    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    top: 1px;
  }

  &_text {

    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
    color: $overall-color;
    text-align: center;

    a {

      color: $overall-color;
    }
  }

  &_btn {

    display: block;
    margin: 20px auto 0;
    width: 190px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    background-color: $leading-color;
    font-weight: 300;
    font-size: 12px;
    border: none;

    &:focus {

      outline: none;
    }
  }

  &_exit {

    width: 18px;
    height: 18px;
    position: absolute;
    top: 10px;
    right: 10px;

    &:before {

      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      width: 18px;
      height: 1px;
      background-color: #8c8c8c;
      transform: rotate(45deg);
    }

    &:after {

      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      width: 18px;
      height: 1px;
      background-color: #8c8c8c;
      transform: rotate(-45deg);
    }
  }
}

