.carousel {

  margin-top: 10px;
  opacity   : 0;

  @media (min-width: 1240px) {

    margin-top: 30px;
  }

  &__cart {

    margin-top: 60px;

    @media (min-width: 1240px) {

      margin-top: 40px;

    }
  }

  &_content {

    padding: 0 25px;

    @media (min-width: 1240px) {

      padding  : 0;
      max-width: 1240px;
      margin   : 0 auto;
    }
  }

  &_title {

    font-weight: 300;
    line-height: normal;
    font-size  : 26px;
    color      : $overall-color;

    &__cart {

      font-size: 18px;

      @media (min-width: 1240px) {

        font-size: 26px;
      }
    }
  }
}

.carousel-slider {

  margin-top: 30px;

  .owl-nav {

    margin-top     : 50px;
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    padding        : 0 45px;
    box-sizing     : border-box;

    @media (min-width: 1240px) {

      margin-top: 0;
      padding   : 0;
      display   : flex;
      position  : absolute;
      top       : -60px;
      right     : 0;
      width     : auto;
    }
  }

  .owl-nav .owl-prev {

    width              : 30px;
    height             : 30px;
    border             : 1px solid #C8C7CC;
    border-radius      : 50%;
    display            : flex;
    align-items        : center;
    justify-content    : center;
    transition-duration: .3s;

    &.disabled {

      opacity: .5;

      &:hover {

        border-color: #C8C7CC;

        svg path {

          fill: #C8C7CC !important;
        }
      }
    }


    @media (min-width: 1240px) {

      margin-right: 20px;

      &:hover {

        transition-duration: .3s;
        border-color       : #FFA92E;

        svg path{

          fill               : #FFA92E;
          transition-duration: .3s
        }
      }
    }
  }

  .owl-nav .owl-next{

    width              : 30px;
    height             : 30px;
    display            : flex;
    align-items        : center;
    justify-content    : center;
    border             : 1px solid #C8C7CC;
    border-radius      : 50%;
    transition-duration: .3s;

    &.disabled {

      opacity: .5;

      &:hover {

        border-color: #C8C7CC;

        svg path {

          fill: #C8C7CC !important;
        }
      }
    }

    @media (min-width: 1240px) {

      &:hover {

        transition-duration: .3s;
        border-color       : #FFA92E;

        svg path{

          fill               : #FFA92E;
          transition-duration: .3s
        }
      }
    }
  }
}

.carousel-slide {

  border             : 1px solid #f1f1f2;
  border-radius      : 10px;
  padding            : 20px 15px;
  box-sizing         : border-box;
  transition-duration: .3s;

  &__new {

    .carousel-info_title:after {

      content  : 'новинка';
      position : absolute;
      top      : -15px;
      right    : 0;
      font-size: 11px;
      color    : $leading-color;
    }
  }

  &__action {

    .carousel-info_title:after {

      content  : 'акция';
      position : absolute;
      top      : -15px;
      right    : 0;
      font-size: 11px;
      color    : #FFA92E;
    }
  }

  &__catalog {

    &:not(:first-child) {

      margin-top: 25px;

      @media (min-width: 1240px) {

        margin-top: 0;
      }
    }

    @media (min-width: 1240px) {

      width        : calc(100%/3 - 14px);
      margin-bottom: 35px;

      &:not(:nth-child(3n)) {

        margin-right: 20px;
      }
    }
  }

  &:hover {

    transition-duration: .3s;
    border-color       : #FFA92E;
  }

  &_head {

    display        : flex;
    align-items    : center;
    justify-content: space-between;
  }

  &_img-block {

    margin-top: 15px;
  }

  &_info {

    margin-top: 25px;
  }

  &_btn {

    margin-top: 25px;
    @include main-btn;

  }
}

.sticker-slide {

  width           : 55px;
  height          : 55px;
  border-radius   : 50%;
  background-color: #F3F3F3;
  display         : flex;
  align-items     : center;
  justify-content : center;
  text-align      : center;

  &_text {

    color    : $overall-color;
    font-size: 10px;
  }

  &_introtext {

    color         : $overall-color;
    font-size     : 14px;
    text-transform: uppercase;
  }
}

.price-slide {

  text-align: center;

  &_title {

    color      : #FFA92E;
    font-weight: bold;
    font-size  : 28px;
  }

  &_text {

    color    : #8C8C8C;
    font-size: 15px;
  }
}


.carousel-info {

  &_title {

    line-height: 25px;
    font-size  : 18px;
    color      : $overall-color;
    width      : 200px;
    position   : relative;
  }

  &_roster {

    margin-top: 15px;
  }

  &_item {

    line-height : 23px;
    font-size   : 12px;
    color       : $overall-color;
    position    : relative;
    padding-left: 10px;

    &:before {

      content  : '+';
      position : absolute;
      top      : 0;
      left     : 0;
      font-size: 12px;
      color    : $overall-color;
    }
  }
}

.sticker-slide-no-image {
  width : 55px;
  height: 55px;
}
