.start-slider {

  padding-top: 85px;

  @media (min-width: 1240px) {

    padding-top: 220px;
  }

  &_content {

    padding   : 0 25px;
    box-sizing: border-box;

    @media (min-width: 1240px) {

      padding  : 0;
      max-width: 1240px;
      margin   : 0 auto;
    }
  }
}

.slider {

  &_item {

    height             : 265px;
    width              : 100%;
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center center;
    border-radius      : 10px;

    @media (min-width: 1240px) {

      height     : 295px;
      display    : flex;
      align-items: center;
    }
  }

  .owl-nav {

    display: none;

    @media (min-width: 1240px) {

      display: block;
    }
  }

  .owl-nav .owl-prev {

    position : absolute;
    top      : 50%;
    transform: translate(0, -50%);
    left     : 30px;
  }

  .owl-nav .owl-next {

    position : absolute;
    top      : 50%;
    transform: translate(0, -50%);
    right    : 30px;
  }

  .owl-dots {

    position    : absolute;
    width       : 100%;
    bottom      : 10px;
    padding-left: 10px;
    box-sizing  : border-box;
    display     : flex;
    flex-wrap   : wrap;
  }

  .owl-dot {

    display      : flex;
    flex-wrap    : wrap;
    width        : 12px;
    height       : 12px;
    background   : #fff !important;
    border-radius: 50%;
    position     : relative;

    &:not(:last-child) {

      margin-right: 10px;
    }

    &:focus {

      outline: none;
    }

    &.active {

      span {

        display         : inline-block;
        width           : 7px;
        height          : 7px;
        background-color: $leading-color;
        border-radius   : 50%;
        position        : absolute;
        top             : 50%;
        left            : 50%;
        transform       : translate(-50%, -50%);
      }
    }
  }
}

.slide-content {

  padding   : 25px 15px 0;
  box-sizing: border-box;

  @media (min-width: 1240px) {

    padding: 0 0 0 105px;
    width  : 560px;
  }

  &_title {

    color      : $overall-color;
    font-size  : 20px;
    line-height: normal;

    @media (min-width: 1240px) {

      font-size  : 24px;
      line-height: 28px;
    }
  }

  &_text {

    margin-top : 10px;
    color      : $overall-color;
    font-weight: 300;
    line-height: 17px;
    font-size  : 12px;

    @media (min-width: 1240px) {

      font-size  : 12px;
      line-height: 17px;
      margin-top : 20px;
    }
  }
}

.slide {

  &_btn {

    margin-top: 10px;
    @include main-btn;

    @media (min-width: 1240px) {

      margin-top: 20px;
    }
  }
}

.advantages {

  margin-top: 30px;

  @media (min-width: 1240px) {

    margin-top    : 55px;
    padding-bottom: 25px;
  }

  &_content {

    padding   : 0 25px;
    box-sizing: border-box;

    @media (min-width: 1240px) {

      max-width: 1240px;
      margin   : 0 auto;
      padding  : 0;
    }
  }

  &_list {

    display  : flex;
    flex-wrap: wrap;
  }

  &_item {

    width          : 50%;
    text-align     : center;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    margin-bottom  : 35px;

    @media (min-width: 1240px) {

      width        : calc(100%/4);
      margin-bottom: 0;
    }

    svg {

      .star {

        color: $leading-color;
        width: 10px;
      }

      &:hover {


      }
    }
  }

  &_text {

    margin-top : auto;
    font-size  : 12px;
    font-weight: bold;
    opacity    : 0;

    @media (min-width: 1240px) {

      width    : 100%;
      font-size: 14px;
    }
  }
}

#advantages path {

  fill: $leading-color;
}


.start-form {

  padding   : 0 25px;
  margin-top: 40px;
  opacity   : 0;

  @media (min-width: 1240px) {

    margin-top: 35px;
    padding   : 0;
  }

  &__contact {

    margin-bottom: 50px;
  }

  &_content {

    box-sizing      : border-box;
    border-radius   : 10px;
    background-color: #F3F3F3;
    padding         : 25px 0;

    @media (min-width: 1240px) {

      max-width: 1240px;
      margin   : 0 auto;
    }
  }

  &_title {

    font-weight: 300;
    line-height: 25px;
    font-size  : 18px;
    text-align : center;
    color      : $overall-color;
    width      : 230px;
    margin     : 0 auto;

    @media (min-width: 1240px) {

      font-size  : 24px;
      line-height: 34px;
      width      : 400px;
    }
  }

  &_text {

    font-weight: 300;
    line-height: 18px;
    font-size  : 12px;
    text-align : center;
    margin-top : 20px;
    color      : $overall-color;
    padding    : 0 35px;

    @media (min-width: 1240px) {

      font-size  : 14px;
      line-height: 21px;
      width      : 560px;
      margin     : 20px auto 0;
    }
  }

  &_agree-block {

    margin  : 35px auto 0;
    width   : 255px;
    position: relative;
    display : block;

    @media (min-width: 1240px) {

      margin : 30px auto 0;
      width  : 465px;
      display: flex;

      .basket-modal_text {

        padding-left: 20px;
      }
    }
  }

  &_agree-input {

    @media (min-width: 1240px) {

      margin: 0;
    }
  }

  &_agree-text {

    font-weight: 300;
    color      : $overall-color;
    font-size  : 12px;

    @media (min-width: 1240px) {

      font-size : 12px;
      text-align: center;
      display   : inline-block;
    }

    a {

      color: $overall-color;
    }
  }
}

.form {

  &_subscription {

    padding   : 0 15px;
    margin-top: 20px;
    text-align: center;
    
    &__wrapper {

      position: relative;
    }

    &__success {

      position        : absolute;
      top             : 0;
      left            : 0;
      width           : 100%;
      height          : 100%;
      background-color: #F3F3F3;
      z-index         : 1;
      display         : none;

      div {

        display        : flex;
        align-items    : center;
        justify-content: center;
      }

      p {

        color      : $overall-color;
        font-size  : 18px;
        font-weight: 300;
      }
    }

    @media (min-width: 1240px) {

      display        : flex;
      justify-content: center;
      margin-top     : 25px;
    }

    &_input {

      width        : 100%;
      height       : 35px;
      line-height  : 35px;
      border       : 2px solid #d7d7d7;
      border-radius: 50px;
      font-size    : 14px;
      padding-left : 20px;
      box-sizing   : border-box;

      @media (min-width: 1240px) {

        width       : 295px;
        margin-right: 20px;
      }

      &::-webkit-input-placeholder {

        color      : #8C8C8C;
        font-weight: 300;
        font-style : italic;
      }

      &__error {

        border-color: red!important;
      }

      &:not(:last-child) {

        margin-bottom: 25px;

        @media (min-width: 1240px) {

          margin-bottom: 0;
        }
      }

      &:focus {

        outline: none;
      }
    }

    &_btn {

      height                     : 30px;
      line-height                : 30px;
      color                      : #fff;
      background-color           : $leading-color;
      border                     : none;
      font-size                  : 12px;
      font-weight                : 300;
      padding                    : 0 50px 0 70px;
      border-radius              : 50px;
      box-sizing                 : border-box;
      cursor                     : pointer;
      position                   : relative;
      -webkit-transition-duration: .3s;
      -moz-transition-duration   : .3s;
      -ms-transition-duration    : .3s;
      -o-transition-duration     : .3s;
      transition-duration        : .3s;

      &:before {

        content          : '';
        position         : absolute;
        top              : 11px;
        left             : 35px;
        width            : 28px;
        height           : 13px;
        background-image : url('../image/follow.svg');
        background-repeat: no-repeat;
      }

      &:hover {

        background-color           : #FFA92E;
        -webkit-transition-duration: .3s;
        -moz-transition-duration   : .3s;
        -ms-transition-duration    : .3s;
        -o-transition-duration     : .3s;
        transition-duration        : .3s;
        box-shadow                 : 0px 3px 10px rgba(254, 172, 36, 0.5);
      }

      &[disabled] {

        opacity: .5;

        &:hover {

          background-color: $leading-color;
        }
      }

      &__catalog {

        padding: 0 65px;

        &:before {

          display: none;
        }
      }

      &:focus {

        outline: none;
      }

      @media (min-width: 1240px) {

        height     : 35px;
        line-height: 35px;
      }
    }
  }
}

.partners {

  margin-top    : 50px;
  padding-bottom: 60px;

  @media (min-width: 1240px) {

    margin-top    : 25px;
    padding-bottom: 60px;
  }

  &_content {

    padding: 0 25px;

    @media (min-width: 1240px) {

      max-width: 1240px;
      margin   : 0 auto;
    }
  }

  &_title {

    font-size  : 26px;
    font-weight: 300;
    color      : $overall-color;
    opacity    : 0;
  }

  &_roster {

    display    : flex;
    flex-wrap  : wrap;
    align-items: center;

    @media (min-width: 1240px) {

      margin-top     : 30px;
      justify-content: space-between;
      padding        : 0 15px;
      align-items    : center;
    }
  }

  &_item {

    width     : 50%;
    margin-top: 30px;
    opacity   : 0;

    @media (min-width: 1240px) {

      margin-top: 0;
      width     : auto;
    }
  }
}
