.footer {

  background-color: $overall-color;

  &_content {

    padding: 40px 25px 50px;

    @media (min-width: 1240px) {

      padding: 40px 0 20px;
      max-width: 1240px;
      margin: 0 auto;
    }
  }
}

.footer-wrap {

  @media (min-width: 1240px) {

    display: flex;
  }
}

.footer-info {

  &_address {

    margin-top: 20px;
  }
}

.footer-address {

  &_block {

    &:not(:last-child) {

      margin-bottom: 20px;
    }
  }

  &_city {

    font-size: 11px;
    font-weight: bold;
    color: #fff;
    line-height: 15px;
  }

  &_street {

    font-size: 11px;
    font-weight: 300;
    color: #fff;
    line-height: 15px;
  }

  &_phone {

    font-size: 11px;
    font-weight: 300;
    color: #fff;
    line-height: 15px;
  }
}

.footer-soc {

  margin-top: 20px;

  &_list {

    display: flex;
    flex-wrap: wrap;
  }

  &_item {

    &:not(:last-child) {

      margin-right: 10px;
    }
  }

  &_link {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    text-decoration: none;
    background-color: #fff;
    transition-duration: .3s;

    &:hover {

      transition-duration: .3s;
      background-color: #FEAC24;
    }
  }
}

.footer-about {

  margin-top: 45px;

  @media (min-width: 1240px) {

    margin-top: 0;
    display: flex;
    margin-left: 175px;
    padding-top: 10px;
  }

  &_block {

    &:not(:first-child) {

      margin-top: 30px;

      @media (min-width: 1240px) {

        margin-top: 0;
        margin-left: 125px;
      }
    }
  }

  &_title {

    line-height: 21px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
  }

  &_list {

    margin-top: 20px;
  }

  &_item {

    line-height: 13px;
  }

  &_link {

    font-size: 11px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid transparent;
    transition-duration: .3s;

    &:hover {

      transition-duration: .3s;
      color: #FEAC24;
      border-color: #FEAC24;
    }
  }
}

.footer-copyright {

  margin-top: 30px;

  p {

    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
    color: #8C8C8C;

    a {

      text-transform: uppercase;
      color: #8C8C8C;
    }
  }
}

.overlay {

  display: none;
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, .6);
}

.modal-project {

  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F3F3F3;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 820px;
  z-index: 4;
  padding: 45px 20px;
  box-sizing: border-box;
  overflow: scroll;
  height: 100vh;
  display: none;
  max-height: max-content;

  @media (min-width: 1240px) {

    height: auto;
    overflow: visible;
  }

  &_wrap {

    position: relative;
  }

  &__success {

    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F3F3F3;
    z-index: 1;

    div {

      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;

      p {

        font-size: 18px;
        font-weight: 300;
        color: $overall-color;
      }
    }
  }

  &_exit {

    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;

    &:after {

      content: '';
      position: absolute;
      top: 7px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #8C8C8C;
      transform: rotate(45deg);
    }

    &:before {

      content: '';
      position: absolute;
      top: 7px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #8C8C8C;
      transform: rotate(-45deg);
    }
  }

  &_wrapper {

    @media (min-width: 1240px) {

      display: flex;
      justify-content: space-between;
    }
  }

  &_content {

    overflow: scroll;

    @media (min-width: 1280px) {

      overflow: visible;
    }
  }

  &_label {

    display: block;

    &:not(:first-child) {

      margin-top: 20px;
    }
  }

  &_left {

    margin-top: 20px;

    @media (min-width: 1240px) {

      width: 295px;
    }
  }

  &_right {

    margin-top: 20px;

    @media (min-width: 1240px) {

      width: 295px;
    }
  }

  &_title {

    font-weight: 300;
    line-height: 25px;
    font-size: 18px;
    text-align: center;
    color: $overall-color;

    @media (min-width: 1240px) {

      line-height: 34px;
      font-size: 24px;
      color: $overall-color;
      width: 370px;
      margin: 0 auto;
    }
  }

  &_form {

    margin-top: 15px;

    @media (min-width: 1240px) {

      width: 610px;
      margin: 30px auto 0;
    }
  }

  &_input {

    width: 100%;
    height: 35px;
    line-height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;

    &::-webkit-input-placeholder {

      color: #C8C7CC;
      font-style: italic;
    }

    @media (min-width: 1240px) {

      padding-left: 20px;
      text-align: left;
    }

    &:focus {

      outline: none;
    }

    &:-webkit-autofill{
      box-shadow:inset 0 0 0 1000px #fff;
      border-color: rgba(0, 0, 0, 0.2);
    }
  }

  &_textarea {

    height: 140px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 15px;
    padding-top: 7px;
    text-align: center;
    resize: none;
    width: 100%;
    font-size: 14px;
    font-weight: 300;

    &::-webkit-input-placeholder {

      color: #C8C7CC;
      font-style: italic;
    }

    &:focus {

      outline: none;
    }

    @media (min-width: 1240px) {

      padding: 7px 20px 0;
      text-align: left;
      height: 145px;
    }
  }

  &_file-upload {

    position: relative; /* Даем возможность делать позиционирование, внутри данного элемента */
    overflow: hidden; /* Все что выходит за пределы - скрываем */
    width: 100%;
    height: 80px;
    border: 1px dashed #C8C7CC;
    border-radius: 15px;
    box-sizing: border-box;

    @media (min-width: 1240px) {

      max-width: 400px;
      margin: 0 auto;
    }

    input[type="file"] {

      display: none;
    }

    label {

      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      text-align: center;
      padding-top: 10px;
      box-sizing: border-box;
    }

    span {

      font-weight: 300;
      line-height: 17px;
      font-size: 12px;
      color: #8C8C8C;
      display: block;
      text-align: center;
      margin-top: 10px;
    }
  }

  &_btn {

    width: 190px;
    height: 30px;
    padding: 0;
    display: block;
    margin: 30px auto;
    border-radius: 30px;
    background-color: $leading-color;
    cursor: pointer;
    text-align: center;
    border: 1px solid $leading-color;
    font-weight: 300;
    color: #fff;
    font-size: 14px;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -ms-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    font-family: 'Roboto', sans-serif;

    &:hover {

      background-color: #FFA92E;
      -webkit-transition-duration: .3s;
      -moz-transition-duration: .3s;
      -ms-transition-duration: .3s;
      -o-transition-duration: .3s;
      transition-duration: .3s;
    }

    &[disabled] {

      opacity: .5;

      &:hover {

        background-color: $leading-color;
      }
    }

    &:focus {

      outline: none;
    }
  }
}

