body.fixed {

  position: fixed;
  width   : 100%;
}

.page-wrap {

  &_blur {

    filter: blur(6px);
  }
}

.header {

  border-bottom   : 1px solid rgba(0, 0, 0, .15);
  background-color: #ffffff;
  position        : fixed;
  top             : 0;
  left            : 0;
  width           : 100%;
  z-index         : 2;

  @media (min-width: 1240px) {

    position      : absolute;
    padding-bottom: 25px
  }

  &.header-fixed {

    position: fixed;
    top     : -100px;
    padding : 15px 0;

    &__show {


      transition-duration: 1s;
      top                : 0;
    }

    .header-auth {

      display: none;
    }

    .header_content {

      padding: 0;
      display: none;
    }

    .header_content__nav {

      margin-top     : 0;
      justify-content: left;
      position       : relative;
      top            : 0;
      display        : flex;
    }

    .header-nav_content {

      padding-top: 24px;
    }

    .header-interaction__fixed {

      display: flex;
    }

    .header-desktop_fixed-logo {

      display: block;
    }

    .header-interaction_block {

      margin-left: auto;
    }

    .header-search_form {

      display: none;
    }

    .header-logo_img-block {

      width: 150px;
    }

    .header_content_wrap__nav {

      margin-left: 70px;
      position   : static;
    }
  }

  &_content {

    position  : relative;
    padding   : 15px 25px;
    box-sizing: border-box;

    @media (min-width: 1240px) {

      max-width: 1240px;
      margin   : 0 auto;
      padding  : 25px 0 0;
    }

    &__nav {

      padding         : 0;
      position        : absolute;
      top             : 65px;
      width           : 100%;
      height          : calc(100vh - 65px);
      display         : none;
      background-color: #fff;

      @media (min-width: 1240px) {

        position       : static;
        height         : auto;
        margin-top     : 25px;
        display        : flex;
        justify-content: space-between;
        align-items    : center;
      }

      &__active {

        display: flex;
      }
    }

    &_wrap {

      display    : flex;
      align-items: center;

      @media (min-width: 1240px) {

        align-items: flex-start;
      }

      &__nav {

        height   : calc(100% - 55px);
        flex-wrap: wrap;
        overflow : scroll;

        @media (min-width: 1240px) {

          display : block;
          overflow: visible;
          position: relative;
        }
      }
    }
  }
}

.header-auth {

  display: none;

  @media (min-width: 1240px) {

    display         : block;
    height          : 40px;
    background-color: $leading-color;
  }

  &_content {

    max-width      : 1240px;
    margin         : 0 auto;
    height         : 100%;
    display        : flex;
    align-items    : center;
    justify-content: space-between;

    .header-mobile_contact-block {

      margin-left: 20px;
    }
  }
}

.header-logo {

  &_info-block {

    @media (min-width: 1240px) {

      display    : flex;
      align-items: center;
    }
  }

  &_img-block {

    width: 122px;

    @media (min-width: 1240px) {

      width: 180px;
    }
  }

  &_img-title {

    display: none;

    @media (min-width: 1240px) {

      display    : block;
      margin-left: 10px;
    }
  }

  &_title {

    font-size  : 14px;
    font-weight: 300;
    color      : #8C8C8C;
    width      : 170px;
  }
}

.header-desktop {

  display: none;

  @media (min-width: 1240px) {

    display    : flex;
    margin-left: 65px;
  }

  &_city-phone {

    display: flex;

    &:not(:first-child) {

      margin-left: 105px;
    }
  }

  &_fixed-logo {

    display: none;
  }
}

.header-interaction {

  &_block {

      @media (min-width: 1240px) {

        margin-left: 110px;
        display    : flex;
        align-items: center;
      }
  }

  &_basket-block {

    @media (min-width: 1240px) {

      margin-left: 25px;
    }
  }

  &__fixed {

    display: none;
  }
}

.header-upload {

  &_block {

    display: none;

    @media (min-width: 1240px) {

      display: block;
    }
  }

  &_link {

    position                   : relative;
    text-decoration            : none;
    display                    : inline-block;
    width                      : 51px;
    color                      : $overall-color;
    font-size                  : 11px;
    font-weight                : 300;
    padding-left               : 25px;
    -webkit-transition-duration: .3s;
    -moz-transition-duration   : .3s;
    -ms-transition-duration    : .3s;
    -o-transition-duration     : .3s;
    transition-duration        : .3s;

    &:before {

      content          : '';
      position         : absolute;
      left             : 0;
      top              : -5px;
      width            : 24px;
      height           : 29px;
      background-image : url('../image/upload-desktop.svg');
      background-repeat: no-repeat;
      background-size  : 100% 100%;
    }

    &:hover {

      -webkit-transition-duration: .3s;
      -moz-transition-duration   : .3s;
      -ms-transition-duration    : .3s;
      -o-transition-duration     : .3s;
      transition-duration        : .3s;
      color                      : $leading-color;

      &:before {

        background-image: url('../image/upload-desktop-hover.svg');
      }
    }

    &__mobile {

      color          : #fff;
      font-weight    : 300;
      font-size      : 16px;
      width          : 74px;
      text-decoration: none;
      display        : block;
      padding-left   : 50px;

      &:before {

        top             : -7px;
        left            : 0;
        width           : 35px;
        height          : 40px;
        background-image: url('../image/upload-img.svg');
      }
    }
  }
}

.header-basket {

  &_link {

    display        : inline-block;
    text-decoration: none;

    @media (min-width: 1240px) {

      display    : flex;
      align-items: center;
    }
  }

  &_img-block {

    position: relative;
    width   : 25px;

    @media (min-width: 1240px) {

      width: 33px;
    }
  }

  &_count {

    position        : absolute;
    top             : -3px;
    right           : 0;
    width           : 15px;
    height          : 15px;
    border-radius   : 50%;
    background-color: $leading-color;
    color           : #fff;
    font-size       : 10px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    line-height     : 15px;

    @media (min-width: 1240px) {

      width : 20px;
      height: 20px;
    }
  }

  &_text {

    display: none;

    @media (min-width: 1240px) {

      display    : block;
      font-size  : 11px;
      font-weight: 300;
      width      : 45px;
      color      : $overall-color;
      margin-left: 10px;
    }
  }
}

.header-mobile-toggle {

  position: absolute;
  top     : 23px;
  right   : 25px;
  width   : 25px;
  height  : 16px;
  cursor  : pointer;

  @media (min-width: 1240px) {

    display: none;
  }

  &:before {

    content            : '';
    width              : 100%;
    height             : 1px;
    background-color   : $overall-color;
    position           : absolute;
    top                : 0;
    left               : 0;
    transition-duration: .3s;
  }

  &:after {

    content            : '';
    width              : 17px;
    height             : 1px;
    background-color   : $overall-color;
    position           : absolute;
    bottom             : 0;
    right              : 0;
    transition-duration: .3s;
  }

  span {

    display            : inline-block;
    width              : 100%;
    height             : 1px;
    background-color   : $overall-color;
    position           : absolute;
    top                : 50%;
    transform          : translate(0, -50%);
    transition-duration: .3s
  }

  &__active {

    &:before {

      top                : 7px;
      transform          : rotate(45deg);
      transition-duration: .3s;
    }

    &:after {

      bottom             : 8px;
      transform          : rotate(-45deg);
      width              : 100%;
      transition-duration: .3s;
    }

    span {

      opacity            : 0;
      transition-duration: .3s;
    }
  }
}

.header-nav {

  width         : 100%;
  padding-top   : 40px;
  padding-bottom: 30px;

  &_content {

    display: none;

    @media (min-width: 1240px) {

      padding-top: 34px;
      position   : absolute;
      left       : 0;
    }
  }

  &_wrap {

    @media (min-width: 1240px) {

      width           : 1240px;
      background-color: #fff;
      padding-bottom  : 15px;
    }
  }

  @media (min-width: 1240px) {

    padding: 0;
  }

  &_list {

    padding-left: 25px;
    box-sizing  : border-box;

    @media (min-width: 1240px) {

      padding-left: 0;
      display     : flex;
    }
  }

  &_item {

    position: relative;

    &:not(:last-child) {

      margin-bottom: 30px;

      @media (min-width: 1240px) {

        margin-bottom: 0;
        margin-right : 50px;
        position     : static;
      }
    }

    &:hover {

      @media (min-width: 1240px) {

        .header-nav_content {

          display: block;
        }
      }
    }
  }

  &_link {

    text-decoration    : none;
    font-weight        : 700;
    font-size          : 18px;
    color              : $overall-color;
    transition-duration: .3s;

    &:hover {

      transition-duration: .3s;
      color              : #FFA92E;
    }

    @media (min-width: 1240px) {

      font-weight: 400;
      font-size  : 14px;
    }
  }
}

.header-sub-nav {

  margin-top: 30px;

  @media (min-width: 1240px) {

    margin-top : 0;
    padding-top: 30px;
    width      : max-content;
  }

  &_item {

    &:not(:last-child) {

      margin-bottom: 30px;
    }

    &__more {

      position: relative;

      &:after {

        content                    : '';
        position                   : absolute;
        top                        : 4px;
        width                      : 7px;
        height                     : 7px;
        right                      : 10px;
        border-top                 : 1px solid $overall-color;
        border-right               : 1px solid $overall-color;
        transform                  : rotate(45deg);
        -webkit-transition-duration: .3s;
        -moz-transition-duration   : .3s;
        -ms-transition-duration    : .3s;
        -o-transition-duration     : .3s;
        transition-duration        : .3s;

        @media (min-width: 1240px) {

          right: -15px;
        }
      }

      &:hover {

        .header-sub-nav_link {

          color: #FFA92E;
        }

        &:after {

          border-color               : #FFA92E;
          -webkit-transition-duration: .3s;
          -moz-transition-duration   : .3s;
          -ms-transition-duration    : .3s;
          -o-transition-duration     : .3s;
          transition-duration        : .3s;
        }

        .header-sub-nav-roster {

          display: block;
          left   : 260px;
        }
      }
    }
  }

  &_link {

    font-size                  : 14px;
    text-decoration            : none;
    color                      : #000;
    transition-duration        : .3s;
    position                   : relative;
    display                    : inline-block;
    padding-left               : 38px;
    -webkit-transition-duration: .3s;
    -moz-transition-duration   : .3s;
    -ms-transition-duration    : .3s;
    -o-transition-duration     : .3s;
    transition-duration        : .3s;

    &:hover {

      color: #FFA92E;
    }

    &:before {

      content            : '';
      position           : absolute;
      top                : 50%;
      left               : 0;
      background-repeat  : no-repeat;
      background-size    : auto auto;
      background-position: center;
      width              : 26px;
      height             : 26px;
      transform          : translate(0, -50%);
    }
  }
}

.header-sub-nav-roster {

  display     : none;
  position    : absolute;
  top         : 0;
  padding-left: 65px;

  &_item {

    &:not(:last-child) {

      margin-bottom: 30px;
    }
  }

  &_link {

    font-size                  : 14px;
    text-decoration            : none;
    color                      : #000;
    transition-duration        : .3s;
    display                    : inline-block;
    -webkit-transition-duration: .3s;
    transition-duration        : .3s;

    &:hover {

      color                      : #FEAC24;
      -webkit-transition-duration: .3s;
      -moz-transition-duration   : .3s;
      -ms-transition-duration    : .3s;
      -o-transition-duration     : .3s;
      transition-duration        : .3s;
    }
  }
}

.header-search {

  display: none;

  @media (min-width: 1240px) {

    display: block;
  }

  &_form {

    position: relative;
  }

  &_input {

    background-color: #F3F3F3;
    border-radius   : 50px;
    border          : none;
    width           : 190px;
    height          : 30px;
    box-sizing      : border-box;
    font-family     : 'Roboto', sans-serif;
    padding-left    : 15px;
    font-size       : 12px;
    color           : $overall-color;

    &::-webkit-input-placeholder {

      color      : #8C8C8C;
      font-weight: 300;
      font-style : italic;
    }

    &:focus {

      outline: none;
    }
  }

  &_btn {

    background-color: $leading-color;
    border-radius   : 50%;
    width           : 30px;
    height          : 30px;
    position        : absolute;
    top             : 0;
    right           : 0;
    border          : none;
    cursor          : pointer;
    box-sizing      : border-box!important;

    &:before {

      content          : '';
      position         : absolute;
      top              : 50%;
      left             : 50%;
      width            : 12px;
      height           : 12px;
      background-image : url('../image/search.svg');
      background-repeat: no-repeat;
      background-size  : 100% 100%;
      transform        : translate(-50%, -50%);
    }
  }
}

.header-mobile {

  &_contact-block {

    color       : #FEAC24;
    border-color: #FEAC24;
  }

  &_city-phone {

    display: flex;

    &:not(:last-child) {

      margin-bottom: 15px;
    }
  }
}

.header-mobile-footer {

  background-color: $leading-color;
  padding         : 30px 25px 70px;
  box-sizing      : border-box;
  width           : 100%;
  margin-top      : auto;

  @media (min-width: 1240px) {

    display: none;
  }
}

.header-footer {

  &_top-block {

    display        : flex;
    justify-content: space-between;
  }

  &_middle-block {

    margin-top: 50px;
  }

  &_bottom-block {

    margin-top: 30px;
  }
}

.header-auth {

  &_block {

    position    : relative;
    padding-left: 20px;

    &:before {

      content          : '';
      position         : absolute;
      top              : 0;
      left             : 0;
      background-image : url('../image/auth.svg');
      background-repeat: no-repeat;
      background-size  : 100% 100%;
      width            : 12px;
      height           : 15px;
    }
  }

  &_link {

    text-decoration    : none;
    color              : #fff;
    font-weight        : 300;
    position           : relative;
    font-size          : 12px;
    display            : inline-block;
    transition-duration: .3s;
    border-bottom      : 1px solid transparent;

    &:hover {

      transition-duration: .3s;
      color              : #FEAC24;
      border-color       : #FEAC24;
    }

    &:not(:last-child) {

      margin-right: 10px;

      &:after {

        content : '/';
        color   : #fff;
        position: absolute;
        top     : 0;
        right   : -10px;
      }
    }
  }
}

.header-contact {

  &_link {

    text-decoration    : none;
    color              : #fff;
    font-weight        : 300;
    font-size          : 12px;
    position           : relative;
    border-bottom      : 1px solid transparent;
    transition-duration: .3s;

    &:hover {

      transition-duration: .3s;

    }

    &:before {

      content          : '';
      position         : absolute;
      top              : -1px;
      left             : -20px;
      width            : 10px;
      height           : 15px;
      background-image : url('../image/mobile-contact-marker.svg');
      background-repeat: no-repeat;
      background-size  : 100% 100%;
    }
  }
}

.header-city {

  &_name {

    color      : #fff;
    font-weight: 300;
    font-size  : 14px;
    width      : 80px;

    &__desktop {

      color: #2A2D33;
    }
  }
}

.header-phone {

  &_block {

    margin-left: 10px;
  }

  &_link {

    font-size      : 14px;
    color          : #fff;
    font-weight    : 700;
    text-decoration: none;
    display        : block;

    &__desktop {

      color: #2A2D33;
    }

    &:not(:last-child) {

      margin-bottom: 5px;
    }
  }
}

.header-sub-nav_img {
  vertical-align: middle
}
