@mixin main-btn {

  background-color: $leading-color;
  border-radius: 30px;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  padding: 0 55px 0 40px;
  position: relative;
  transition-duration: .3s;

  &:after {

    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 20px;
    width: 20px;
    height: 6px;
    background-image: url('../image/btn-arr.svg');
    background-repeat: no-repeat;
    background-size: auto;
    transition-duration: .3s;
  }

  &:hover {

    background-color: #FFA92E;
    transition-duration: .3s;
    box-shadow: 0 3px 10px rgba(254, 172, 36, 0.5);

    &:after {

      right: 10px;
      transition-duration: .3s;
    }
  }
}
