.article-page {

  padding-top: 95px;

  @media (min-width: 1240px) {

    padding-top: 195px;
  }

  &_content {

    padding: 0 25px;

    @media (min-width: 1240px) {

      padding: 0;
      max-width: 1240px;
      margin: 0 auto;
    }
  }

  &_breadcrumbs {

    display: none;

    @media (min-width: 1240px) {

      display: block;
      margin-top: 20px;
    }
  }

  &_title {

    font-size: 20px;
    font-weight: 300;
    color: $overall-color;

    @media (min-width: 1240px) {

      margin-top: 65px;
      font-size: 36px;
      line-height: 51px;
      color: $overall-color;
      margin-left: 105px;
    }
  }

  &_wrap {

    margin-top: 25px;

    @media (min-width: 1240px) {

      display: flex;
      max-width: 1240px;
    }
  }

  &_proffer {

    margin-top: 50px;
  }

  &_left {

    @media (min-width: 1240px) {

      width: 820px;
      margin-left: 105px;
    }
  }

  &_right {

    margin-top: 90px;

    @media (min-width: 1240px) {

      width: 295px;
      margin-top: 0;
      margin-left: 20px;
    }
  }

  &_recom_title {

    font-size: 18px;
    line-height: 21px;
    color: $overall-color;
    font-weight: bold;
  }
}

.article-breadcrumbs {

  &_list {

    display: flex;
  }

  &_item {

    position: relative;

    &:not(:last-child) {

      margin-right: 10px;

      &:after {

        content: '/';
        position: absolute;
        top: 4px;
        right: -8px;
        font-size: 11px;
        color: #C8C7CC;
      }
    }
  }

  &_link {

    font-size: 11px;
    color: #C8C7CC;
    text-decoration: none;
  }

  &_text {

    font-size: 11px;
    color: $overall-color;
    text-decoration: none;
  }
}

.article-info {

  &_block {

    &:not(:first-child) {

      margin-top: 30px;
    }
  }

  &_text {

    margin-top: 25px;

    p {

      font-size: 14px;
      line-height: 21px;
      color: $overall-color;
      font-weight: 300;

      &:not(:first-child) {

        margin-top: 15px;
      }
    }
  }
}

.article-proffer {

  &_slide {

    margin-top: 25px;
  }

  &_title {

    font-size: 18px;
    line-height: 21px;
    color: $overall-color;
    font-weight: 300;
  }
}

.article-slide {

  @media (min-width: 1240px) {

    display: flex;
    flex-wrap: wrap;
  }

  &_item {

    position: relative;
    margin-bottom: 20px;

    @media (min-width: 1240px) {

      width: calc(50% - 10px);

      &:nth-child(2n -1) {

        margin-right: 20px;
      }
    }

    &:hover .article-slide_name {

      -webkit-transition-duration: .3s;
      -moz-transition-duration: .3s;
      -ms-transition-duration: .3s;
      -o-transition-duration: .3s;
      transition-duration: .3s;
      color: #FFA92E;
    }
  }

  &_name {

    position: absolute;
    bottom: 20px;
    left: 15px;
    width: 100%;
    color: #fff;
    font-weight: 300;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -ms-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;

    @media (min-width: 1240px) {

      position: static;
      font-size: 24px;
      line-height: 28px;
      color: $overall-color;
      margin-top: 15px;
      padding-left: 20px;
      box-sizing: border-box;
    }
  }

  .owl-nav .owl-prev {

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 5px;
  }

  .owl-nav .owl-next {

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 5px;
  }

  a {
    text-decoration: none;
  }
}

.article-recommendation {

  &_list {

    margin-top: 25px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &_item {

    &:not(:first-child) {

      margin-top: 25px;
    }
  }

  &_link {

    text-decoration: none;

    &:hover .article-recommendation_title {

      color: #FFA92E;
      -webkit-transition-duration: .3s;
      -moz-transition-duration: .3s;
      -ms-transition-duration: .3s;
      -o-transition-duration: .3s;
      transition-duration: .3s;
    }
  }

  &_title {

    margin-top: 10px;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    font-weight: 500;
    transition-duration: .3s;
  }
}

.article-advice {

  margin-top: 30px;

  &_title {

    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: $overall-color;
  }

  &_list {

    margin-top: 20px;
    padding-left: 20px;
  }

  &_item {

    line-height: 23px;

    &:not(:first-child) {

      margin-top: 10px;
    }
  }

  &_link {

    color: $overall-color;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition-duration: .3s;

    &:hover {

      color: #FEAC24;
    }
  }
}
