.contact {

  padding-top: 95px;

  @media (min-width: 1240px) {

    padding-top: 195px;
  }

  &_content {

    padding: 0 25px;

    @media (min-width: 1240px) {

      padding: 0;
      max-width: 1240px;
      margin: 0 auto;
    }
  }

  &_title {

    font-size: 24px;
    line-height: 34px;
    color: $overall-color;
    font-weight: 300;

    @media (min-width: 1240px) {

      margin-top: 65px;
      font-size: 36px;
      line-height: 51px;
    }
  }
}

#contact_map {

  margin-top: 30px;
  height: 230px;
  border-radius: 10px;

  @media (min-width: 1240px) {

    height: 440px;
  }
}

.contact-info {

  margin-top: 40px;

  &_title {

    font-size: 18px;
    line-height: 21px;
    font-weight: 300;

    @media (min-width: 1240px) {

      font-size: 26px;
      line-height: 30px;
    }
  }

  &_address-soc {

    margin-top: 40px;

    @media (min-width: 1240px) {

      display: flex;
      align-items: center;
    }
  }
}

.contact-address {

  &_list {

    @media (min-width: 1240px) {

      display: flex;
    }
  }

  &_item {

    line-height: 21px;

    &:not(:first-child) {

      margin-top: 40px;

      @media (min-width: 1240px) {

        margin-top: 0;
        margin-left: 20px;
      }
    }

    p {

      font-size: 14px;
      color: $overall-color;
      font-weight: 300;

      &:first-child {

        font-weight: bold;
      }
    }
  }
}

.contact-soc {

  &_list {

    margin-top: 40px;
    display: flex;

    @media (min-width: 1240px) {

      margin-top: 0;
      margin-left: 40px;
    }
  }

  &_item {

    margin-right: 20px;
  }

  &_link {

    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
    border-radius: 50%;
    transition-duration: .3s;

    &:hover {

      transition-duration: .3s;
      background-color: #FEAC24;
    }
  }
}
