<?php echo $header; ?>
<section class="basket">
  <div class="basket_content">
    <h1 class="start-form_title"><?php echo $heading_title; ?></h1>
    <p class="article-page_recom_title"><?php echo $text_error; ?></p>
    <div class="buttons clearfix">
    </div>    
  </div>
</section>
<?php echo $footer; ?>
