<section class="start-slider animated">
  <div class="start-slider_content">
    <div class="slider owl-carousel owl-theme">
      <?php foreach ($banners as $banner) { ?>
        <div class="slider_item" style="background-image: url('<?php echo $banner['image']; ?>')">
          <div class="slide-content">
            <p class="slide-content_title"><?php echo $banner['title']; ?></p>
            <p class="slide-content_text">
              <?php echo $banner['description']; ?>
            </p>
            <a href="<?php echo $banner['link']; ?>" class="slide_btn">подробнее</a>
          </div>
        </div>
      <?php } ?>
    </div>
  </div>
</section>
<section class="advantages animated advant-anim">
  <div class="advantages_content">
    <ul class="advantages_list">
      <li class="advantages_item">
        <div class="advantages_item_img-block animated delay-3s zoomIn">
          <svg id="advantages" width="109" height="97" viewBox="0 0 109 97" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M45.6896 7.62836H45.0897C30.4329 7.97121 23.3188 0.514273 23.3188 0.514273L22.8046 -6.5393e-07L22.376 0.514273C22.2903 0.599985 15.1762 7.97121 0.605157 7.62836H0.00517263V8.22835C0.00517263 8.48549 -0.937658 35.6562 22.6331 47.8273L22.8903 47.9987L23.1474 47.8273C46.7182 35.7419 45.7754 8.5712 45.7754 8.22835L45.6896 7.62836ZM22.2046 46.1987C12.0906 40.7132 6.86213 32.2277 4.11935 24.7708H22.2046V46.1987ZM22.2046 23.4851H3.69079C1.46228 16.7138 1.20514 10.8854 1.20514 8.99975C1.29085 8.99975 1.37656 8.99975 1.54799 8.99975C13.0334 8.99975 19.7189 4.54273 22.2046 2.48565V23.4851ZM23.4903 46.1987V24.7708H41.5755C38.8327 32.2277 33.5186 40.6275 23.4903 46.1987ZM42.004 23.4851H23.4903V2.39993C25.9759 4.45702 32.6614 8.91404 44.1468 8.91404C44.2325 8.91404 44.3183 8.91404 44.4897 8.91404C44.4897 10.7997 44.2325 16.6281 42.004 23.4851Z" transform="translate(21.3981 24.6035)"/>
            <path d="M5.95111 0.0369888C4.49401 -0.134435 3.12262 0.294126 2.00836 1.23696C0.894107 2.17979 0.208411 3.46546 0.0369876 4.92257C-0.134436 6.37967 0.294123 7.75106 1.23696 8.86532C2.17979 9.97957 3.46547 10.6653 4.92257 10.8367C5.09399 10.8367 5.26542 10.8367 5.43684 10.8367C6.72252 10.8367 7.92249 10.4081 8.86532 9.63673C9.97958 8.69389 10.6653 7.40822 10.8367 5.95112C11.0938 2.9512 8.95103 0.294125 5.95111 0.0369888ZM8.09391 8.60818C7.23679 9.29388 6.20825 9.63673 5.09399 9.55101C3.97974 9.4653 3.03691 8.95103 2.2655 8.09391C1.5798 7.23679 1.23695 6.20825 1.32267 5.094C1.40838 3.97974 1.92265 3.03691 2.77977 2.2655C3.55118 1.66551 4.4083 1.32267 5.43684 1.32267C5.60826 1.32267 5.69398 1.32267 5.8654 1.32267C8.09391 1.5798 9.80815 3.55118 9.55101 5.77969C9.4653 6.89394 8.95103 7.92249 8.09391 8.60818Z" transform="translate(5.59521 67.5081)"/>
            <path d="M20.9356 6.8788L19.1356 7.47878C18.4499 5.67883 17.1642 4.22173 15.45 3.19318L16.3071 1.47894C16.4785 1.1361 16.3071 0.793247 16.05 0.621823C15.7071 0.450399 15.3643 0.621826 15.1929 0.878962L14.3357 2.5932C13.5643 2.25035 12.7072 1.99321 11.7644 1.9075C10.7358 1.82179 9.70729 1.90751 8.76446 2.16464L8.16448 0.450402C8.07877 0.107554 7.65021 -0.0638696 7.30736 0.0218423C6.96451 0.107554 6.79309 0.536114 6.8788 0.878962L7.47878 2.67891C5.67883 3.36461 4.22173 4.65029 3.2789 6.36453L1.56466 5.50741C1.22181 5.33598 0.878962 5.5074 0.707538 5.76454C0.536114 6.10739 0.707538 6.45024 0.964674 6.62166L2.67891 7.47878C2.33607 8.25019 2.07893 9.19302 1.99322 10.0501C1.90751 11.0787 1.99322 12.1072 2.25035 13.0501L0.450402 13.65C0.107554 13.7358 -0.0638696 14.1643 0.0218423 14.5072C0.107554 14.7643 0.36469 14.9357 0.621826 14.9357C0.707538 14.9357 0.79325 14.9357 0.79325 14.9357L2.5932 14.3357C3.2789 16.1357 4.56458 17.5928 6.27882 18.5356L5.4217 20.2499C5.25027 20.5927 5.4217 20.9356 5.67883 21.107C5.76454 21.1927 5.85026 21.1927 5.93597 21.1927C6.1931 21.1927 6.36453 21.0213 6.53595 20.8498L7.39307 19.1356C8.16448 19.4785 9.10731 19.7356 9.96443 19.8213C10.2216 19.8213 10.5644 19.8213 10.8215 19.8213C11.5072 19.8213 12.2787 19.7356 12.9643 19.5642L13.5643 21.3641C13.65 21.6213 13.9072 21.7927 14.1643 21.7927C14.25 21.7927 14.3357 21.7927 14.3357 21.7927C14.6786 21.707 14.85 21.2784 14.7643 21.0213L14.1643 19.2213C15.0214 18.8785 15.7928 18.4499 16.4785 17.8499C17.2499 17.1642 17.9356 16.3928 18.4499 15.5357L20.1642 16.3928C20.2499 16.4785 20.3356 16.4785 20.4213 16.4785C20.6784 16.4785 20.8498 16.3071 21.0213 16.1357C21.1927 15.7928 21.0213 15.45 20.7641 15.2786L19.0499 14.4215C19.3927 13.5643 19.6499 12.7072 19.7356 11.8501C19.8213 10.8216 19.7356 9.79301 19.4785 8.85018L21.2784 8.25019C21.6213 8.16448 21.7927 7.73592 21.707 7.47878C21.6213 6.96451 21.2784 6.79309 20.9356 6.8788ZM18.4499 11.593C18.2785 13.65 17.2499 15.45 15.7071 16.7357C14.1643 18.0214 12.1929 18.6213 10.1359 18.4499C5.93597 18.0214 2.85034 14.3357 3.2789 10.1359C3.62174 6.19311 6.96451 3.2789 10.8215 3.2789C11.0787 3.2789 11.3358 3.2789 11.5072 3.2789C15.7928 3.70746 18.8785 7.39307 18.4499 11.593Z" transform="translate(0.124756 62.0376)"/>
            <path d="M1.30711 2.16423C1.39282 2.24994 1.56424 2.33565 1.73567 2.33565C1.90709 2.33565 2.07852 2.24994 2.16423 2.16423C2.42136 1.90709 2.42136 1.47853 2.16423 1.2214L1.13569 0.192851C0.87855 -0.0642853 0.449985 -0.0642853 0.192849 0.192851C-0.0642866 0.449986 -0.0642866 0.878545 0.192849 1.13568L1.30711 2.16423Z" transform="translate(60.5521 76.9519)"/>
            <path d="M0.205186 1.13568L1.23373 2.16423C1.31944 2.24994 1.49086 2.33565 1.66229 2.33565C1.83371 2.33565 2.00514 2.24994 2.09085 2.16423C2.34798 1.90709 2.34798 1.47853 2.09085 1.22139L1.06231 0.192852C0.80517 -0.064284 0.376605 -0.064284 0.119469 0.192852C-0.0519546 0.5357 -0.0519494 0.964258 0.205186 1.13568Z" transform="translate(64.054 80.2947)"/>
            <path d="M0.205186 2.16423C0.290898 2.24994 0.462322 2.33565 0.633746 2.33565C0.80517 2.33565 0.976594 2.24994 1.06231 2.16423L2.09085 1.13568C2.34798 0.878545 2.34798 0.449986 2.09085 0.192851C1.83371 -0.0642853 1.40515 -0.0642853 1.14802 0.192851L0.119469 1.2214C-0.0519546 1.47853 -0.0519494 1.90709 0.205186 2.16423Z" transform="translate(60.6255 80.3804)"/>
            <path d="M0.707126 2.33565C0.87855 2.33565 1.04997 2.24994 1.13569 2.16423L2.16423 1.13568C2.42136 0.878545 2.42136 0.449986 2.16423 0.192851C1.90709 -0.0642853 1.47853 -0.0642853 1.2214 0.192851L0.192849 1.2214C-0.0642866 1.47853 -0.0642866 1.90709 0.192849 2.16423C0.449985 2.24994 0.621414 2.33565 0.707126 2.33565Z" transform="translate(63.9806 76.9519)"/>
            <path d="M1.30711 2.16423C1.39282 2.24994 1.56424 2.33565 1.73567 2.33565C1.90709 2.33565 2.07852 2.24994 2.16423 2.16423C2.42136 1.90709 2.42136 1.47853 2.16423 1.2214L1.13568 0.192853C0.878548 -0.0642833 0.449989 -0.0642833 0.192853 0.192853C-0.0642827 0.449988 -0.0642827 0.878547 0.192853 1.13568L1.30711 2.16423Z" transform="translate(28.153 8.46826)"/>
            <path d="M1.30711 2.16423C1.39282 2.24994 1.56424 2.33565 1.73567 2.33565C1.90709 2.33565 2.07852 2.24994 2.16423 2.16423C2.42136 1.90709 2.42136 1.47853 2.16423 1.2214L1.13568 0.192853C0.878548 -0.0642833 0.449989 -0.0642833 0.192853 0.192853C-0.0642827 0.449988 -0.0642827 0.878547 0.192853 1.13568L1.30711 2.16423Z" transform="translate(31.5814 11.8967)"/>
            <path d="M0.621412 2.33565C0.792836 2.33565 0.96426 2.24994 1.04997 2.16423L2.07852 1.13568C2.33565 0.878547 2.33565 0.449987 2.07852 0.192851C1.82138 -0.0642846 1.39282 -0.0642846 1.13568 0.192851L0.192852 1.2214C-0.064284 1.47853 -0.064284 1.90709 0.192852 2.16423C0.278564 2.24994 0.449988 2.33565 0.621412 2.33565Z" transform="translate(28.2386 11.9824)"/>
            <path d="M0.707124 2.33565C0.878548 2.33565 1.04997 2.24994 1.13568 2.16423L2.16423 1.13568C2.42136 0.878547 2.42136 0.449988 2.16423 0.192853C1.90709 -0.0642833 1.47853 -0.0642833 1.22139 0.192853L0.192853 1.2214C-0.0642827 1.47853 -0.0642827 1.90709 0.192853 2.16423C0.364277 2.33565 0.5357 2.33565 0.707124 2.33565Z" transform="translate(31.5814 8.46826)"/>
            <path d="M2.65707 -6.5393e-07C1.19997 -6.5393e-07 0 1.19997 0 2.65707C0 4.11418 1.19997 5.31414 2.65707 5.31414C4.11417 5.31414 5.31414 4.11418 5.31414 2.65707C5.31414 1.19997 4.11417 -6.5393e-07 2.65707 -6.5393e-07ZM2.65707 4.02846C1.88566 4.02846 1.28568 3.42848 1.28568 2.65707C1.28568 1.88566 1.88566 1.28568 2.65707 1.28568C3.42848 1.28568 4.02846 1.88566 4.02846 2.65707C4.02846 3.42848 3.42848 4.02846 2.65707 4.02846Z" transform="translate(91.0013 43.8887)"/>
            <path d="M2.0625 4.11417C3.17676 4.11417 4.11959 3.17134 4.11959 2.05709C4.11959 0.942832 3.17676 -6.5393e-07 2.0625 -6.5393e-07C0.948246 -6.5393e-07 0.00541284 0.942832 0.00541284 2.05709C-0.0802991 3.17134 0.862534 4.11417 2.0625 4.11417ZM2.0625 1.19997C2.49106 1.19997 2.83391 1.54282 2.83391 1.97138C2.83391 2.39994 2.49106 2.74278 2.0625 2.74278C1.63394 2.74278 1.29109 2.39994 1.29109 1.97138C1.29109 1.54282 1.63394 1.19997 2.0625 1.19997Z" transform="translate(59.3682 14.3179)"/>
            <path d="M0.685696 6.34269C1.02854 6.34269 1.37139 6.08555 1.37139 5.65699V0.685698C1.37139 0.34285 1.11426 0 0.685696 0C0.342848 0 -1.63483e-07 0.257138 -1.63483e-07 0.685698V5.65699C-1.63483e-07 6.08555 0.342848 6.34269 0.685696 6.34269Z" transform="translate(7.60352 47.917)"/>
            <path d="M0.685696 2.99992C1.02854 2.99992 1.37139 2.74279 1.37139 2.31423V0.685697C1.37139 0.342849 1.11426 -1.30786e-06 0.685696 -1.30786e-06C0.342848 -1.30786e-06 -1.63483e-07 0.257137 -1.63483e-07 0.685697V2.31423C-1.63483e-07 2.65707 0.342848 2.99992 0.685696 2.99992Z" transform="translate(7.60352 55.7168)"/>
            <path d="M0.685696 1.37139H7.97121C8.31406 1.37139 8.65691 1.11426 8.65691 0.685696C8.65691 0.342848 8.39977 6.5393e-07 7.97121 6.5393e-07H0.685696C0.342848 6.5393e-07 -3.26965e-07 0.257136 -3.26965e-07 0.685696C-3.26965e-07 1.02854 0.342848 1.37139 0.685696 1.37139Z" transform="translate(12.0605 16.8037)"/>
            <path d="M0.685695 1.37139H3.08563C3.42848 1.37139 3.77133 1.11426 3.77133 0.685696C3.77133 0.342848 3.51419 6.5393e-07 3.08563 6.5393e-07H0.685695C0.342847 6.5393e-07 3.26965e-07 0.257136 3.26965e-07 0.685696C3.26965e-07 1.02854 0.342847 1.37139 0.685695 1.37139Z" transform="translate(22.5175 16.8037)"/>
            <path d="M6.59982 6.5393e-07H0.685696C0.342848 6.5393e-07 -3.26965e-07 0.257136 -3.26965e-07 0.685696C-3.26965e-07 1.02854 0.257137 1.37139 0.685696 1.37139H6.59982C6.94267 1.37139 7.28552 1.11426 7.28552 0.685696C7.28552 0.257136 6.94267 6.5393e-07 6.59982 6.5393e-07Z" transform="translate(18.9175 19.375)"/>
            <path d="M0.685696 6.5393e-07C0.342848 6.5393e-07 6.5393e-07 0.257136 6.5393e-07 0.685696C6.5393e-07 1.02854 0.257136 1.37139 0.685696 1.37139H2.39993C2.74278 1.37139 3.08563 1.11426 3.08563 0.685696C3.08563 0.342848 2.82849 6.5393e-07 2.39993 6.5393e-07H0.685696Z" transform="translate(14.4606 19.375)"/>
            <path d="M0.633746 1.95521C0.80517 1.95521 0.976594 1.8695 1.06231 1.78379C1.14802 1.69807 1.23373 1.61236 1.31944 1.52665C1.49086 1.35522 1.57657 1.1838 1.748 1.09809C2.00513 0.840952 1.91942 0.412394 1.66229 0.155258C1.40515 -0.101878 0.976593 -0.0161676 0.719457 0.240968C0.633745 0.32668 0.46232 0.498105 0.376608 0.583817C0.290896 0.669529 0.290898 0.669527 0.205186 0.755239C-0.0519494 1.01237 -0.0519546 1.44094 0.119469 1.69808C0.290893 1.8695 0.462322 1.95521 0.633746 1.95521Z" transform="translate(93.6246 61.0471)"/>
            <path d="M1.54282 1.30786e-06H0.685696C0.342848 1.30786e-06 -2.61572e-06 0.257133 -2.61572e-06 0.685693C-2.61572e-06 1.02854 0.257136 1.37139 0.685696 1.37139H1.54282C1.88566 1.37139 2.22851 1.11425 2.22851 0.685693C2.1428 0.342845 1.88566 1.30786e-06 1.54282 1.30786e-06Z" transform="translate(77.8873 52.1169)"/>
            <path d="M-2.61572e-06 0.685697C-2.61572e-06 1.02854 0.257136 1.37139 0.685696 1.37139H1.54282C1.88566 1.37139 2.22851 1.11426 2.22851 0.685697C2.22851 0.342849 1.97137 -1.30786e-06 1.54282 -1.30786e-06H0.685696C0.342848 0.0857106 -2.61572e-06 0.342849 -2.61572e-06 0.685697Z" transform="translate(80.0302 63.0024)"/>
            <path d="M2.61572e-06 0.685697C2.61572e-06 1.02854 0.257135 1.37139 0.685694 1.37139H1.54281C1.88566 1.37139 2.22851 1.11426 2.22851 0.685697C2.22851 0.342849 1.97137 -1.30786e-06 1.54281 -1.30786e-06H0.685694C0.257135 0.0857106 2.61572e-06 0.342849 2.61572e-06 0.685697Z" transform="translate(83.5443 63.0024)"/>
            <path d="M1.54282 1.30786e-06H0.685696C0.342848 1.30786e-06 -2.61572e-06 0.257133 -2.61572e-06 0.685693C-2.61572e-06 1.02854 0.257136 1.37139 0.685696 1.37139H1.54282C1.88566 1.37139 2.22851 1.11425 2.22851 0.685693C2.22851 0.342845 1.97137 1.30786e-06 1.54282 1.30786e-06Z" transform="translate(81.3159 52.1169)"/>
            <path d="M-2.61572e-06 0.685697C-2.61572e-06 1.02854 0.257136 1.37139 0.685696 1.37139H1.54282C1.88566 1.37139 2.22851 1.11426 2.22851 0.685697C2.22851 0.342849 1.97137 -1.30786e-06 1.54282 -1.30786e-06H0.685696C0.257136 0.0857106 -2.61572e-06 0.342849 -2.61572e-06 0.685697Z" transform="translate(76.6017 63.0024)"/>
            <path d="M1.54282 1.30786e-06H0.685697C0.342849 1.30786e-06 -1.30786e-06 0.257133 -1.30786e-06 0.685693C-1.30786e-06 1.02854 0.257137 1.37139 0.685697 1.37139H1.54282C1.88566 1.37139 2.22851 1.11425 2.22851 0.685693C2.22851 0.342845 1.88566 1.30786e-06 1.54282 1.30786e-06Z" transform="translate(74.3732 52.1169)"/>
            <path d="M0.51427 2.1428C0.599982 2.1428 0.599986 2.1428 0.685698 2.1428C0.942834 2.1428 1.28568 1.97137 1.28568 1.62853C1.37139 1.28568 1.37139 1.02854 1.37139 0.685697C1.37139 0.342849 1.11426 -1.30786e-06 0.771409 -1.30786e-06C0.428561 -1.30786e-06 0.0857106 0.257138 0.0857106 0.599986C0.0857106 0.857122 0 1.11425 0 1.37139C0 1.71424 0.171423 2.05709 0.51427 2.1428Z" transform="translate(95.2869 57.8596)"/>
            <path d="M1.54281 1.30786e-06H0.685694C0.342847 1.30786e-06 2.61572e-06 0.257133 2.61572e-06 0.685693C2.61572e-06 1.02854 0.257135 1.37139 0.685694 1.37139H1.54281C1.88566 1.37139 2.22851 1.11425 2.22851 0.685693C2.22851 0.342845 1.88566 1.30786e-06 1.54281 1.30786e-06Z" transform="translate(84.8301 52.1169)"/>
            <path d="M1.73654 0.450857C1.4794 0.279433 1.13655 0.193721 0.879417 0.0222975C0.536569 -0.0634144 0.193721 0.108011 0.0222975 0.365147C-0.0634144 0.707995 0.108011 1.05084 0.365147 1.22227C0.622283 1.30798 0.879414 1.39368 1.05084 1.56511C1.13655 1.65082 1.22226 1.65083 1.39369 1.65083C1.65082 1.65083 1.82224 1.56511 1.99367 1.30798C2.16509 0.965129 2.07938 0.622281 1.73654 0.450857Z" transform="translate(91.7504 52.5232)"/>
            <path d="M1.03202 2.06056C1.11773 2.06056 1.20344 2.06056 1.28915 1.97485C1.632 1.80342 1.71771 1.46057 1.632 1.11773C1.46058 0.860591 1.28915 0.517743 1.11773 0.260607C0.946306 0.00347158 0.517746 -0.0822378 0.26061 0.0891862C0.00347421 0.26061 -0.0822417 0.68917 0.0891823 0.946306C0.260606 1.11773 0.346319 1.37486 0.432031 1.632C0.603455 1.88913 0.860595 2.06056 1.03202 2.06056Z" transform="translate(94.512 54.5991)"/>
            <path d="M1.30786e-06 0.79325C1.30786e-06 1.1361 0.342847 1.39323 0.599982 1.39323C0.599982 1.39323 0.599981 1.39323 0.685693 1.39323C1.02854 1.39323 1.37139 1.30752 1.62853 1.22181C1.97138 1.1361 2.1428 0.793249 2.05709 0.450401C1.97138 0.107553 1.62853 -0.0638709 1.28568 0.021841C1.02854 0.107553 0.771408 0.107557 0.514272 0.193269C0.257136 0.107557 1.30786e-06 0.450402 1.30786e-06 0.79325Z" transform="translate(90.4871 62.9805)"/>
            <path d="M2.61572e-06 0.685697C2.61572e-06 1.02854 0.257135 1.37139 0.685694 1.37139H1.54281C1.88566 1.37139 2.22851 1.11426 2.22851 0.685697C2.22851 0.342849 1.97137 -1.30786e-06 1.54281 -1.30786e-06H0.685694C0.342847 0.0857106 2.61572e-06 0.342849 2.61572e-06 0.685697Z" transform="translate(86.9728 63.0024)"/>
            <path d="M1.54281 1.30786e-06H0.685693C0.342845 1.30786e-06 1.30786e-06 0.257133 1.30786e-06 0.685693C1.30786e-06 1.02854 0.257133 1.37139 0.685693 1.37139H1.54281C1.88566 1.37139 2.22851 1.11425 2.22851 0.685693C2.1428 0.342845 1.88566 1.30786e-06 1.54281 1.30786e-06Z" transform="translate(88.3442 52.1169)"/>
            <path d="M-1.30786e-06 0.685697C-1.30786e-06 0.942833 0.171423 1.19997 0.428558 1.28568C0.51427 1.37139 0.599984 1.37139 0.771408 1.37139C0.771408 1.37139 0.771406 1.37139 0.857118 1.37139C0.94283 1.37139 1.11426 1.37139 1.19997 1.37139C1.54282 1.37139 1.79995 1.11426 1.88567 0.771408C1.88567 0.42856 1.62852 0.171421 1.37139 0.0857093C1.28568 0.0857093 1.19997 -1.30786e-06 1.11426 -1.30786e-06H0.685697C0.257137 0.0857106 -1.30786e-06 0.342849 -1.30786e-06 0.685697Z" transform="translate(73.5161 63.0024)"/>
            <path d="M0.685693 1.30786e-06C0.342845 1.30786e-06 1.30786e-06 0.257133 1.30786e-06 0.685693C1.30786e-06 1.02854 0.257133 1.37139 0.685693 1.37139H1.54281C1.88566 1.37139 2.22851 1.11425 2.22851 0.685693C2.22851 0.342845 1.97137 1.30786e-06 1.54281 1.30786e-06H0.685693Z" transform="translate(77.6302 75.6877)"/>
            <path d="M1.54281 1.30786e-06H0.685693C0.342845 1.30786e-06 1.30786e-06 0.257133 1.30786e-06 0.685693C1.30786e-06 1.02854 0.257133 1.37139 0.685693 1.37139H1.54281C1.88566 1.37139 2.22851 1.11425 2.22851 0.685693C2.22851 0.342845 1.97137 1.30786e-06 1.54281 1.30786e-06Z" transform="translate(74.2018 75.6877)"/>
            <path d="M0.069006 0.365147C-0.102418 0.707995 0.0690021 1.05084 0.326138 1.22227C0.583274 1.39369 0.926122 1.4794 1.18326 1.56511C1.26897 1.56511 1.26897 1.56511 1.35469 1.56511C1.61182 1.56511 1.86895 1.39369 1.95467 1.05084C2.04038 0.707991 1.86895 0.365141 1.52611 0.279429C1.26897 0.193718 1.09754 0.108009 0.840408 0.0222975C0.583273 -0.0634144 0.24043 0.108011 0.069006 0.365147Z" transform="translate(71.0471 75.2368)"/>
            <path d="M1.30786e-06 0.685696V1.54282C1.30786e-06 1.88566 0.257133 2.22851 0.685693 2.22851C1.02854 2.22851 1.37139 1.97137 1.37139 1.54282V0.685696C1.37139 0.342848 1.11425 -2.61572e-06 0.685693 -2.61572e-06C0.257133 0.0857093 1.30786e-06 0.342848 1.30786e-06 0.685696Z" transform="translate(68.6305 69.5166)"/>
            <path d="M1.01238 0.0857093C0.755244 0.257133 0.498107 0.428562 0.240971 0.599986C-0.016165 0.857122 -0.101876 1.19997 0.15526 1.54282C0.240972 1.71424 0.498107 1.79995 0.669531 1.79995C0.840955 1.79995 0.926667 1.71424 1.09809 1.62853C1.26951 1.4571 1.52665 1.37139 1.69807 1.19997C2.04092 1.02854 2.12663 0.599984 1.95521 0.342848C1.78379 0 1.35523 -0.0857146 1.01238 0.0857093Z" transform="translate(70.5323 63.8594)"/>
            <path d="M1.22181 0.0672504C0.878962 -0.104173 0.536114 0.0672517 0.36469 0.4101C0.278978 0.667235 0.107553 1.01008 0.021841 1.26722C-0.063871 1.61007 0.107553 1.95292 0.450401 2.03863C0.536113 2.03863 0.536117 2.03863 0.621829 2.03863C0.878965 2.03863 1.1361 1.8672 1.22181 1.52435C1.30752 1.26722 1.39324 1.0958 1.47895 0.838659C1.65037 0.581524 1.56466 0.238674 1.22181 0.0672504Z" transform="translate(68.78 66.2778)"/>
            <path d="M0.410096 0.0642814C0.0672478 0.149993 -0.104171 0.578553 0.0672531 0.921401C0.152965 1.17854 0.324389 1.52138 0.495813 1.77852C0.581525 1.94994 0.838659 2.12137 1.01008 2.12137C1.0958 2.12137 1.26722 2.12137 1.35293 2.03566C1.69578 1.86424 1.78149 1.43568 1.61006 1.17854C1.52435 1.00712 1.35293 0.749982 1.26722 0.578558C1.09579 0.0642866 0.752944 -0.107143 0.410096 0.0642814Z" transform="translate(68.9061 72.8806)"/>
            <path d="M1.37139 0.085712C1.28568 0 1.19997 1.30786e-06 1.11425 1.30786e-06H0.685694C0.342847 1.30786e-06 2.61572e-06 0.257133 2.61572e-06 0.685693C2.61572e-06 1.02854 0.257135 1.37139 0.685694 1.37139H0.857122C1.02855 1.4571 1.28568 1.4571 1.54281 1.4571H1.62852C1.97137 1.4571 2.22851 1.19997 2.22851 0.857121C2.22851 0.514273 1.97137 0.171423 1.62852 0.171423C1.54281 0.0857106 1.4571 0.085712 1.37139 0.085712Z" transform="translate(80.973 75.6877)"/>
            <path d="M1.74113 0.712587C1.5697 0.541163 1.31257 0.284023 1.05543 0.112599C0.798297 -0.0588247 0.369739 -0.0588208 0.112603 0.284027C-0.0588208 0.541163 -0.0588234 0.969721 0.284024 1.22686C0.455448 1.31257 0.626871 1.48399 0.798295 1.65542C0.884007 1.82684 1.05543 1.82684 1.22685 1.82684C1.39828 1.82684 1.5697 1.74113 1.65541 1.65542C1.99826 1.31257 1.99826 0.969723 1.74113 0.712587Z" transform="translate(83.8604 76.6038)"/>
            <path d="M0.188039 1.47372C0.188039 1.81656 0.530883 2.0737 0.873731 2.0737C1.21658 2.0737 1.47372 1.73085 1.47372 1.388C1.47372 1.13087 1.388 0.788021 1.30229 0.530885C1.21658 0.188037 0.873729 -0.0690971 0.530881 0.0166149C0.188034 0.102327 -0.069101 0.445169 0.0166109 0.788017C0.102323 1.04515 0.188039 1.21658 0.188039 1.47372Z" transform="translate(85.4991 79.0139)"/>
            <path d="M0.685696 1.79995C1.02854 1.79995 1.37139 1.54282 1.37139 1.11426V0.685696C1.37139 0.342848 1.11426 -2.61572e-06 0.685696 -2.61572e-06C0.342848 -2.61572e-06 -2.61572e-06 0.257136 -2.61572e-06 0.685696V1.11426C0.0857093 1.4571 0.342848 1.79995 0.685696 1.79995Z" transform="translate(85.6014 81.9448)"/>
            <path d="M26.1421 22.8851H28.5421L28.1992 22.028C28.0278 21.428 27.685 20.9137 27.2564 20.5709C26.3136 19.5423 25.0279 19.1995 23.7422 19.2852L16.6281 12.1711L24.0851 4.71416L24.1708 4.79987L25.885 4.62845L27.8564 1.62853L26.3136 3.26965e-07L23.3137 1.88566L23.1422 3.5999L23.2279 3.68561L15.771 11.1426L6.4284 1.88566C5.31414 0.771407 3.51419 0.771407 2.48565 1.88566C1.37139 2.99992 1.37139 4.79987 2.48565 5.82841L11.8283 15.171L11.3997 15.5996L10.4569 14.6567C9.68545 13.8853 8.39977 13.8853 7.62836 14.6567C7.11409 15.171 6.94267 15.9424 7.11409 16.5424L0.771408 22.7994C0.257136 23.3137 -1.30786e-06 23.9994 -1.30786e-06 24.685C-1.30786e-06 25.3707 0.257136 26.0564 0.771408 26.5707L1.19997 26.9993C1.71424 27.5135 2.39993 27.7707 3.08563 27.7707C3.42848 27.7707 3.68562 27.685 4.02846 27.5993C4.37131 27.5135 4.71416 27.2564 4.97129 26.9993L11.314 20.7423C11.4854 20.7423 11.5711 20.828 11.7425 20.828C12.2568 20.828 12.7711 20.5709 13.1996 20.228C13.971 19.4566 13.971 18.1709 13.1996 17.3995L12.3425 16.5424L12.7711 16.1138L20.0566 23.3994C20.0566 24.4279 20.3994 25.4565 21.2566 26.3136C22.028 27.1707 23.0565 27.5993 24.1708 27.5993H24.2565C25.3707 27.5993 26.3993 27.1707 27.1707 26.3993C27.685 25.885 28.0278 25.3707 28.2849 24.685L28.5421 23.8279H26.2279C25.9707 23.8279 25.7136 23.5708 25.7136 23.3137C25.6279 23.1422 25.7993 22.8851 26.1421 22.8851ZM24.5136 2.65707L26.1421 1.62853L26.2279 1.71424L25.1993 3.34277L24.685 3.42848L24.4279 3.17134L24.5136 2.65707ZM3.94275 26.1421C3.77132 26.3136 3.5999 26.3993 3.42848 26.485C2.91421 26.6564 2.31422 26.5707 1.97138 26.1421L1.54282 25.7136C1.37139 25.4565 1.19997 25.1136 1.19997 24.7708C1.19997 24.4279 1.37139 24.0851 1.62853 23.7422L7.71407 17.7424L10.114 20.1423L3.94275 26.1421ZM12.1711 19.3709C11.914 19.628 11.3997 19.628 11.1426 19.3709L8.91404 17.0567L8.39977 16.5424C8.14264 16.2853 8.22835 15.8567 8.48548 15.5996C8.65691 15.4282 8.82833 15.4282 8.99975 15.4282C9.17118 15.4282 9.3426 15.4282 9.51402 15.5996L12.2568 18.3424C12.4282 18.5995 12.4282 19.0281 12.1711 19.3709ZM21.0851 20.5709C20.9994 20.7423 20.9137 20.828 20.7423 20.9994L20.0566 21.6851L3.42848 4.97129C2.82849 4.37131 2.82849 3.42848 3.42848 2.82849C3.68561 2.57136 4.11418 2.39993 4.54274 2.39993C4.97129 2.39993 5.31414 2.57136 5.65699 2.82849L22.3708 19.5423L21.9423 19.9709C21.8565 20.0566 21.6851 20.1423 21.5994 20.228L21.0851 20.5709ZM26.1421 25.1993H26.485C26.3993 25.285 26.3136 25.3707 26.2279 25.5422C25.6279 26.0564 24.9422 26.3993 24.1708 26.3136C23.3994 26.3136 22.628 25.9707 22.1137 25.3707C21.1709 24.3422 21.0851 22.8851 21.7708 21.8565L22.7137 20.9137C23.8279 20.1423 25.3707 20.3137 26.3993 21.3423C26.485 21.428 26.485 21.428 26.5707 21.5137H26.2279C25.1993 21.5137 24.4279 22.3708 24.4279 23.3137C24.3422 24.4279 25.1136 25.1993 26.1421 25.1993Z" transform="translate(73.0875 7.28955)"/>
            <path d="M0.942833 0C0.428561 0 2.61572e-06 0.42856 2.61572e-06 0.942832C2.61572e-06 1.4571 0.428561 1.88566 0.942833 1.88566C1.4571 1.88566 1.88566 1.4571 1.88566 0.942832C1.79995 0.42856 1.4571 0 0.942833 0ZM0.942833 1.28568C0.771409 1.28568 0.599984 1.11426 0.599984 0.942832C0.599984 0.771408 0.771409 0.599984 0.942833 0.599984C1.11426 0.599984 1.28568 0.771408 1.28568 0.942832C1.28568 1.11426 1.11426 1.28568 0.942833 1.28568Z" transform="translate(76.6874 10.2039)"/>
            <path d="M76.0342 1.63483e-07C64.1202 1.63483e-07 54.4348 9.68545 54.4348 21.5994C54.4348 22.5422 54.5205 23.3994 54.6062 24.2565C40.378 21.9423 33.3496 14.6567 33.3496 14.571L32.8354 14.0568L32.3211 14.571C32.2354 14.6567 21.9499 25.4565 0.60765 25.0279H0.00766642V25.6279C0.00766642 26.0564 -1.36373 65.1411 32.5782 82.6263L32.8354 82.7978L33.0925 82.6263C47.5778 75.1694 55.7204 63.9411 60.1775 53.1414C60.2632 53.2271 60.4346 53.3128 60.606 53.3128H61.0346C61.3774 53.3128 61.7203 53.0557 61.7203 52.6271C61.7203 52.2843 61.4631 51.9414 61.0346 51.9414H60.6917C62.406 47.6559 63.5202 43.5417 64.2916 39.6846C67.6344 41.9131 71.6629 43.1131 76.0342 43.1131C87.9481 43.1131 97.6336 33.4277 97.6336 21.5137C97.6336 9.68545 87.9481 1.63483e-07 76.0342 1.63483e-07ZM32.8354 81.3406C2.23618 65.3982 1.20763 31.3706 1.29335 26.3136C20.4928 26.485 30.6068 18.0852 32.9211 15.9424C34.721 17.6567 41.8351 23.6565 54.8633 25.6279C55.549 31.0277 58.6346 35.999 63.2631 38.9132C60.5203 52.5414 53.1491 70.7124 32.8354 81.3406ZM76.0342 41.9132C71.7486 41.9132 67.8915 40.6275 64.5488 38.399V38.3132L64.2059 38.0561C64.1202 37.9704 64.0345 37.9704 63.9488 37.8847C59.7489 34.7991 56.8347 30.1706 55.9776 24.8565V24.5136C55.8062 23.5708 55.8061 22.628 55.8061 21.5994C55.8061 10.3711 64.8916 1.28568 76.1199 1.28568C87.3482 1.28568 96.3479 10.3711 96.3479 21.5994C96.3479 32.8277 87.2624 41.9132 76.0342 41.9132Z" transform="translate(11.3672 0.175537)"/>
            <path d="M41.3989 1.71424H25.0279V0.685693C25.0279 0.342845 24.7708 1.30786e-06 24.3422 1.30786e-06C23.9136 1.30786e-06 23.6565 0.257133 23.6565 0.685693V5.31414H7.97122L6.4284 3.68561C6.25697 3.51419 6.08555 3.42848 5.91413 3.51419L0.599981 4.19989C0.257133 4.19989 0 4.54273 0 4.79987V7.19981C0 7.54265 0.257133 7.79979 0.599981 7.79979L5.91413 8.48549H5.99984C6.17126 8.48549 6.34269 8.39977 6.4284 8.31406L7.97122 6.68553H23.6565V11.314C23.6565 11.6568 23.9136 11.9997 24.3422 11.9997C24.7708 11.9997 25.0279 11.7425 25.0279 11.314V10.2854H41.3989C42.9417 10.2854 44.2274 8.99975 44.2274 7.45694V4.71416C44.2274 3.94275 43.9702 3.25705 43.3703 2.74278C42.856 1.97137 42.1703 1.71424 41.3989 1.71424ZM5.7427 7.02838L1.37139 6.51411V5.31414L5.7427 4.79987L6.85696 5.99984L5.7427 7.02838ZM42.9417 7.28552C42.9417 8.14264 42.256 8.82833 41.3989 8.82833H25.0279V2.99992H41.3989C41.8274 2.99992 42.1703 3.17134 42.5131 3.42848C42.7703 3.68562 42.9417 4.11417 42.9417 4.54273V7.28552Z" transform="translate(55.8594 84.6875)"/>
            <path d="M14.0568 0H0.685698C0.34285 0 0 0.257138 0 0.685698C0 1.02855 0.257138 1.37139 0.685698 1.37139H14.1425C14.4853 1.37139 14.8282 1.11426 14.8282 0.685698C14.7425 0.34285 14.4853 0 14.0568 0Z" transform="translate(82.4301 89.916)"/>
          </svg>
        </div>
        <p class="advantages_text animated delay-4s fadeInUp">Гарантия <br> 5 лет</p>
      </li>
      <li class="advantages_item">
        <div class="advantages_item_img-block animated delay-5s zoomIn">
          <svg id="advantages" width="107" height="93" viewBox="0 0 107 93" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.16852 0.58426C1.16852 0.250397 0.918122 0 0.58426 0C0.250397 0 0 0.250397 0 0.58426V10.934C0 11.2679 0.250397 11.5183 0.58426 11.5183C0.918122 11.5183 1.16852 11.2679 1.16852 10.934V0.58426Z" transform="translate(20.9879 19.2747)" fill="#007AFF"/>
            <path d="M0.58426 0C0.250397 0 0 0.250397 0 0.58426V3.92288C0 4.25675 0.250397 4.50714 0.58426 4.50714C0.918122 4.50714 1.16852 4.25675 1.16852 3.92288V0.58426C1.16852 0.250397 0.918122 0 0.58426 0Z" transform="translate(20.9879 33.0466)" fill="#007AFF"/>
            <path class="star" d="M2.32814 1.52325L0.992689 0.187799C0.742292 -0.0625979 0.324964 -0.0625979 0.158033 0.187799C-0.00889835 0.438196 -0.092364 0.855524 0.158033 1.02245L1.49348 2.3579C1.57695 2.44137 1.74388 2.52483 1.91081 2.52483C2.07774 2.52483 2.24467 2.44137 2.32814 2.3579C2.57854 2.19097 2.57854 1.77364 2.32814 1.52325Z" transform="translate(8.05969 46.5471)" fill="#007AFF"/>
            <path class="star" d="M1.02245 0.187796C0.772056 -0.0626005 0.354729 -0.0626005 0.187798 0.187796C-0.0625991 0.438193 -0.0625991 0.855521 0.187798 1.02245L1.52325 2.3579C1.60671 2.44137 1.77364 2.52484 1.94057 2.52484C2.10751 2.52484 2.27444 2.44137 2.3579 2.3579C2.6083 2.1075 2.6083 1.69018 2.3579 1.52324L1.02245 0.187796Z" transform="translate(12.2866 50.8872)" fill="#007AFF"/>
            <path class="star" d="M1.52325 0.187796L0.187798 1.52324C-0.0625989 1.77364 -0.0625989 2.19097 0.187798 2.3579C0.271264 2.44137 0.438195 2.52484 0.605126 2.52484C0.772057 2.52484 0.938988 2.44137 1.02245 2.3579L2.3579 1.02245C2.6083 0.772056 2.6083 0.354728 2.3579 0.187796C2.19097 -0.0626005 1.77364 -0.0626005 1.52325 0.187796Z" transform="translate(7.94641 50.8872)" fill="#007AFF"/>
            <path class="star" d="M2.3579 0.187799C2.10751 -0.0625979 1.69018 -0.0625979 1.52325 0.187799L0.187798 1.52325C-0.0625991 1.77364 -0.0625991 2.19097 0.187798 2.3579C0.271263 2.44137 0.438195 2.52483 0.605126 2.52483C0.772057 2.52483 0.938987 2.44137 1.02245 2.3579L2.3579 1.02245C2.6083 0.855524 2.6083 0.438196 2.3579 0.187799Z" transform="translate(12.2866 46.5471)" fill="#007AFF"/>

            <path d="M1.49348 2.3579C1.57695 2.44137 1.74388 2.52484 1.91081 2.52484C2.07774 2.52484 2.24467 2.44137 2.32814 2.3579C2.57853 2.10751 2.57853 1.69018 2.32814 1.52325L0.992689 0.187797C0.742292 -0.0625995 0.324964 -0.0625995 0.158033 0.187797C-0.0088982 0.438194 -0.0923638 0.855522 0.158033 1.02245L1.49348 2.3579Z" transform="translate(99.2876 4.81421)" fill="#007AFF"/>
            <path d="M0.992687 0.187798C0.74229 -0.0625992 0.324962 -0.0625992 0.15803 0.187798C-0.00890074 0.438194 -0.0923663 0.855522 0.15803 1.02245L1.49349 2.3579C1.57695 2.44137 1.74388 2.52483 1.91081 2.52483C2.07774 2.52483 2.24468 2.44137 2.32814 2.3579C2.57854 2.10751 2.57854 1.69018 2.32814 1.52325L0.992687 0.187798Z" transform="translate(103.628 9.07104)" fill="#007AFF"/>
            <path d="M0.605126 2.49507C0.772057 2.49507 0.938988 2.4116 1.02245 2.32814L2.3579 0.992689C2.6083 0.742292 2.6083 0.324964 2.3579 0.158033C2.10751 -0.0088982 1.69018 -0.0923638 1.52325 0.158033L0.187798 1.49348C-0.0625992 1.74388 -0.0625992 2.16121 0.187798 2.32814C0.271263 2.49507 0.438194 2.49507 0.605126 2.49507Z" transform="translate(99.2578 9.10083)" fill="#007AFF"/>
            <path d="M0.605123 2.52484C0.772054 2.52484 0.938985 2.44137 1.02245 2.3579L2.35791 1.02245C2.6083 0.772057 2.6083 0.354729 2.35791 0.187797C2.10751 -0.0625995 1.69018 -0.0625995 1.52325 0.187797L0.187795 1.52325C-0.0626018 1.77364 -0.0626018 2.19097 0.187795 2.3579C0.271261 2.44137 0.438192 2.52484 0.605123 2.52484Z" transform="translate(103.598 4.81421)" fill="#007AFF"/>
            <path d="M1.02245 0.187796C0.772056 -0.0626005 0.354728 -0.0626005 0.187797 0.187796C-0.0625999 0.438193 -0.0625999 0.855521 0.187797 1.02245L1.52325 2.3579C1.60671 2.44137 1.77365 2.52484 1.94058 2.52484C2.10751 2.52484 2.27444 2.44137 2.3579 2.3579C2.6083 2.1075 2.6083 1.69018 2.3579 1.52324L1.02245 0.187796Z" transform="translate(46.5076 85.9429)" fill="#007AFF"/>
            <path d="M1.02245 0.1878C0.772058 -0.0625967 0.35473 -0.0625967 0.187799 0.1878C-0.0625979 0.438197 -0.0625979 0.855525 0.187799 1.02246L1.52325 2.3579C1.60671 2.44137 1.77364 2.52483 1.94058 2.52483C2.10751 2.52483 2.27444 2.44137 2.3579 2.3579C2.6083 2.10751 2.6083 1.69018 2.3579 1.52325L1.02245 0.1878Z" transform="translate(50.7643 90.283)" fill="#007AFF"/>
            <path d="M1.52325 0.1878L0.187798 1.52325C-0.0625986 1.77365 -0.0625986 2.19097 0.187798 2.3579C0.271264 2.44137 0.438195 2.52483 0.605126 2.52483C0.772057 2.52483 0.938989 2.44137 1.02245 2.3579L2.3579 1.02246C2.6083 0.772059 2.6083 0.354731 2.3579 0.1878C2.19097 -0.0625967 1.77364 -0.0625967 1.52325 0.1878Z" transform="translate(46.4241 90.283)" fill="#007AFF"/>
            <path d="M1.52325 0.187796L0.187799 1.52324C-0.0625979 1.77364 -0.0625979 2.19097 0.187799 2.3579C0.271264 2.44137 0.438196 2.52484 0.605127 2.52484C0.772058 2.52484 0.938989 2.44137 1.02245 2.3579L2.3579 1.02245C2.6083 0.772056 2.6083 0.354728 2.3579 0.187796C2.10751 -0.0626005 1.69018 -0.0626005 1.52325 0.187796Z" transform="translate(50.7643 85.9429)" fill="#007AFF"/>
            <path d="M3.00476 6.00952C4.67407 6.00952 6.00952 4.67407 6.00952 3.00476C6.00952 1.33545 4.67407 0 3.00476 0C1.33545 0 -1.27358e-06 1.33545 -1.27358e-06 3.00476C-1.27358e-06 4.67407 1.33545 6.00952 3.00476 6.00952ZM3.00476 1.16852C4.00635 1.16852 4.84101 2.00317 4.84101 3.00476C4.84101 4.00635 4.00635 4.841 3.00476 4.841C2.00318 4.841 1.16852 4.00635 1.16852 3.00476C1.16852 2.00317 2.00318 1.16852 3.00476 1.16852Z" transform="translate(44.4418 3.8335)" fill="#007AFF"/>
            <path d="M3.00476 -1.27358e-06C1.33545 -1.27358e-06 -1.27358e-06 1.33545 -1.27358e-06 3.00476C-1.27358e-06 4.67407 1.33545 6.00953 3.00476 6.00953C4.67407 6.00953 6.00953 4.67407 6.00953 3.00476C6.09299 1.33545 4.67407 -1.27358e-06 3.00476 -1.27358e-06ZM3.00476 4.84101C2.00317 4.84101 1.16852 4.00635 1.16852 3.00476C1.16852 2.00317 2.00317 1.16852 3.00476 1.16852C4.00635 1.16852 4.84101 2.00317 4.84101 3.00476C4.84101 4.00635 4.00635 4.84101 3.00476 4.84101Z" transform="translate(66.9774 76.9495)" fill="#007AFF"/>
            <path d="M6.36792e-07 0.597231C6.36792e-07 0.931094 0.250397 1.18149 0.584259 1.18149H11.8521C12.186 1.18149 12.4364 0.931094 12.4364 0.597231C12.4364 0.263369 12.186 0.0129714 11.8521 0.0129714H0.667725C0.333862 -0.0704942 6.36792e-07 0.263369 6.36792e-07 0.597231Z" transform="translate(14.4777 8.66162)" fill="#007AFF"/>
            <path d="M0.597231 1.16852H4.18625C4.52011 1.16852 4.77051 0.918122 4.77051 0.584259C4.77051 0.250397 4.52011 -6.36792e-07 4.18625 -6.36792e-07H0.597231C0.263369 -6.36792e-07 0.012972 0.250397 0.012972 0.584259C-0.0704936 0.918122 0.263369 1.16852 0.597231 1.16852Z" transform="translate(7.20312 8.67456)" fill="#007AFF"/>
            <path d="M0.584259 1.16852H8.43003C8.76389 1.16852 9.01428 0.918121 9.01428 0.584259C9.01428 0.250396 8.76389 -1.59198e-07 8.43003 -1.59198e-07H0.584259C0.250397 -1.59198e-07 0 0.250396 0 0.584259C0 0.918121 0.250397 1.16852 0.584259 1.16852Z" transform="translate(7.21606 4.83521)" fill="#007AFF"/>
            <path d="M0.58426 1.16852H3.08823C3.42209 1.16852 3.67249 0.918121 3.67249 0.584259C3.67249 0.250396 3.42209 -1.59198e-07 3.08823 -1.59198e-07H0.58426C0.250397 -1.59198e-07 -3.18396e-07 0.250396 -3.18396e-07 0.584259C-3.18396e-07 0.918121 0.250397 1.16852 0.58426 1.16852Z" transform="translate(18.4005 4.83521)" fill="#007AFF"/>
            <path d="M12.4364 0.584258C12.4364 0.250396 12.186 1.27358e-06 11.8521 1.27358e-06H0.584261C0.250398 1.27358e-06 -2.54717e-06 0.250396 -2.54717e-06 0.584258C-2.54717e-06 0.91812 0.250398 1.16852 0.584261 1.16852H11.8521C12.1025 1.16852 12.4364 0.91812 12.4364 0.584258Z" transform="translate(82.0847 83.4597)" fill="#007AFF"/>
            <path d="M4.25674 2.54717e-06H0.584257C0.250394 2.54717e-06 0 0.250397 0 0.584259C0 0.918122 0.250394 1.16852 0.584257 1.16852H4.25674C4.59061 1.16852 4.84101 0.918122 4.84101 0.584259C4.92447 0.333862 4.59061 2.54717e-06 4.25674 2.54717e-06Z" transform="translate(96.9417 83.3762)" fill="#007AFF"/>
            <path d="M8.43003 1.27358e-06H0.584257C0.250394 1.27358e-06 0 0.250396 0 0.584258C0 0.91812 0.250394 1.16852 0.584257 1.16852H8.43003C8.76389 1.16852 9.01429 0.91812 9.01429 0.584258C9.09775 0.333861 8.76389 1.27358e-06 8.43003 1.27358e-06Z" transform="translate(92.7683 87.2158)" fill="#007AFF"/>
            <path d="M3.08822 1.27358e-06H0.584257C0.250394 1.27358e-06 0 0.250396 0 0.584258C0 0.91812 0.250394 1.16852 0.584257 1.16852H3.08822C3.42209 1.16852 3.67249 0.91812 3.67249 0.584258C3.67249 0.333861 3.42209 1.27358e-06 3.08822 1.27358e-06Z" transform="translate(86.9258 87.2158)" fill="#007AFF"/>
            <path d="M1.16852 3.42209V0.584258C1.16852 0.250396 0.918121 1.27358e-06 0.584259 1.27358e-06C0.250397 1.27358e-06 0 0.250396 0 0.584258V3.42209C0 3.75595 0.250397 4.00635 0.584259 4.00635C0.918121 4.00635 1.16852 3.75595 1.16852 3.42209Z" transform="translate(7.21606 78.0344)" fill="#007AFF"/>
            <path d="M5.69653 25.2901C5.77999 25.3735 5.94692 25.457 6.11385 25.457C6.28079 25.457 6.44772 25.3735 6.53118 25.2901L22.7235 9.09775L24.3928 10.7671C24.5598 10.934 24.8102 11.0175 25.0606 10.934C25.3109 10.8505 25.4779 10.6001 25.4779 10.3497V0.584259C25.4779 0.417328 25.3944 0.250397 25.3109 0.166931C25.2275 0.0834654 25.0605 0 24.8936 0H15.2116C14.9612 0 14.7108 0.166931 14.6273 0.417328C14.5439 0.667725 14.5439 0.918122 14.7943 1.08505L16.4636 2.75437L0.187798 18.8632C-0.0625992 19.1136 -0.0625992 19.531 0.187798 19.6979L5.69653 25.2901ZM17.7156 3.08823C17.966 2.83783 17.966 2.4205 17.7156 2.25357L16.6305 1.16852H24.3094V8.84735L23.2243 7.7623C23.1408 7.67884 22.9739 7.59537 22.807 7.59537C22.64 7.59537 22.4731 7.67884 22.3896 7.7623L6.19732 23.9546L1.52325 19.2806L17.7156 3.08823Z" transform="translate(52.0997 0.0776367)" fill="#007AFF"/>
            <path d="M104.499 19.1345H78.3742L90.9775 6.53118C91.2279 6.28079 91.2279 5.86346 90.9775 5.69653L85.4688 0.187798C85.2184 -0.0625989 84.8011 -0.0625989 84.6341 0.187798L68.3583 16.2967L66.689 14.6273C66.5221 14.4604 66.2717 14.377 66.0213 14.4604C65.7709 14.5439 65.604 14.7943 65.604 15.0447V19.1345H30.3815C30.0476 19.1345 29.7972 19.3849 29.7972 19.7187V51.4357H23.7042H23.3704C23.2869 51.4357 23.2869 51.4357 23.2034 51.4357C20.8664 51.6026 18.6128 52.7711 17.2774 54.7743C16.3593 56.0263 14.9403 56.7775 13.3545 56.7775H11.8521C11.7687 56.694 11.6852 56.5271 11.5183 56.4436C11.0175 55.9428 10.2663 55.6924 9.43161 55.7759C7.42844 55.9428 5.42526 56.0263 3.33862 56.0263C3.00476 56.0263 2.75436 56.2767 2.75436 56.6105C2.75436 56.9444 3.08823 57.1948 3.33862 57.1948C5.3418 57.1948 7.42844 57.1113 9.51508 56.9444C9.93241 56.9444 10.3497 57.0279 10.6836 57.2783C10.8505 57.4452 11.0175 57.6956 11.0175 58.0295V74.3887C11.0175 74.7226 10.8505 74.973 10.6836 75.1399C10.4332 75.3903 10.0159 75.5572 9.51508 75.4738C6.51032 75.3068 3.50556 75.2234 0.584259 75.2234C0.250397 75.2234 0 75.4738 0 75.8076C0 76.1415 0.250397 76.3919 0.584259 76.3919C3.50556 76.3919 6.51032 76.4754 9.43161 76.6423C9.51508 76.6423 9.59854 76.6423 9.59854 76.6423C10.2663 76.6423 10.934 76.3919 11.4348 75.9746C11.5183 75.9746 11.5183 75.9746 11.6017 75.9746C11.6017 75.9746 13.6049 76.058 14.6899 76.6423C14.9403 76.8092 15.1907 76.8927 15.4411 77.0596C16.6097 77.7273 17.9451 78.562 20.616 79.1463C21.868 79.3967 24.7058 79.4801 27.7106 79.4801C31.8839 79.4801 36.3075 79.3132 36.6414 79.3132C38.4776 79.3132 39.98 77.8108 39.98 75.9746C39.98 75.2234 39.7296 74.4722 39.2288 73.8879H39.3123C41.1485 73.8879 42.6509 72.3855 42.6509 70.5493C42.6509 69.5477 42.1501 68.6296 41.3989 67.9619C42.3171 67.3776 42.9848 66.376 42.9848 65.124C42.9848 64.3728 42.7344 63.6217 42.2336 63.0374H104.499C104.833 63.0374 105.083 62.787 105.083 62.4531V19.7187C105.167 19.3849 104.833 19.1345 104.499 19.1345ZM66.8559 16.5471L67.941 17.6321C68.0245 17.7156 68.1914 17.799 68.3583 17.799C68.5253 17.799 68.6922 17.7156 68.7757 17.6321L84.968 1.43978L89.6421 6.11386L73.4497 22.2227C73.1993 22.4731 73.1993 22.8904 73.4497 23.0574L74.5348 24.1424H66.8559V16.5471ZM20.9499 78.2281C18.4459 77.6439 17.2774 76.9762 16.1089 76.3084C15.8585 76.1415 15.6081 75.9746 15.3577 75.8911C14.3561 75.3068 12.9372 75.1399 12.186 75.0564C12.186 74.8895 12.2694 74.7226 12.2694 74.5556V58.1129C12.2694 58.1129 12.2694 58.1129 12.2694 58.0295H13.3545C15.2742 58.0295 17.1104 57.1113 18.279 55.442C19.531 53.6893 21.5341 52.6042 23.7042 52.6042H30.1311C30.2145 52.6042 30.298 52.6877 30.3815 52.6877C30.4649 52.6877 30.5484 52.6877 30.6319 52.6042H37.643H38.1438V52.6877C38.1438 54.9412 36.3075 56.7775 34.054 56.7775H26.709C26.3751 56.7775 26.1247 57.0279 26.1247 57.3617C26.1247 57.4452 25.9578 65.0406 19.0302 66.376C18.6963 66.4595 18.4459 66.7934 18.5294 67.1272C18.6128 67.4611 18.8632 67.628 19.1136 67.628H19.1971C25.8743 66.376 27.0429 60.0326 27.2933 58.0295H29.7138V62.787C29.7138 63.0374 29.7972 63.2043 29.9642 63.2878C29.4634 63.872 29.1295 64.6232 29.1295 65.4579C29.1295 66.543 29.7138 67.5445 30.5484 68.1288C29.7138 68.7131 29.1295 69.7146 29.1295 70.7997C29.1295 71.8848 29.7138 72.8863 30.5484 73.4706C29.7138 74.0549 29.1295 75.0564 29.1295 76.1415C29.1295 76.9762 29.4634 77.8108 29.9642 78.3951C26.3751 78.562 22.3688 78.4785 20.9499 78.2281ZM38.8115 76.3084C38.8115 77.4769 37.8934 78.3951 36.7249 78.3951H36.6414L32.5516 78.562H32.4681C31.3831 78.562 30.4649 77.5604 30.4649 76.3919C30.4649 75.2234 31.3831 74.3053 32.5516 74.3053H33.6366H34.8052H36.6414C37.8099 74.2218 38.8115 75.1399 38.8115 76.3084ZM39.3123 72.9698H36.6414H32.4681C31.2996 72.9698 30.3815 72.0517 30.3815 70.8832C30.3815 69.7146 31.2996 68.7965 32.4681 68.7965H36.6414H39.3123C40.4808 68.7965 41.3989 69.7146 41.3989 70.8832C41.3989 72.0517 40.4808 72.9698 39.3123 72.9698ZM41.7328 65.5414C41.7328 66.7099 40.8147 67.628 39.6462 67.628H39.3123H36.6414H34.054H32.4681C31.2996 67.628 30.3815 66.7099 30.3815 65.5414C30.3815 64.3728 31.2996 63.4547 32.4681 63.4547H36.6414H39.7296C40.8981 63.5382 41.7328 64.3728 41.7328 65.5414ZM103.915 62.2027H39.8131H39.7296H34.054C34.054 62.2027 34.054 62.2027 33.9705 62.2027H32.4681H30.9657V58.0295H34.054C36.9753 58.0295 39.3958 55.6924 39.3958 52.7711V52.1034C39.3958 51.7695 39.1454 51.5191 38.8115 51.5191H37.643H30.9657V20.303H65.604V24.8101C65.604 25.144 65.8544 25.3944 66.1882 25.3944H75.9537C76.2041 25.3944 76.4545 25.2275 76.538 24.9771C76.6214 24.7267 76.6214 24.4763 76.371 24.3094L74.7017 22.64L77.0388 20.303H103.915V62.2027Z" transform="translate(0.121582 8.73706)" fill="#007AFF"/>
            <path d="M3.92288 -1.27358e-06C1.75278 -1.27358e-06 -1.27358e-06 1.75278 -1.27358e-06 3.92289C-1.27358e-06 6.09299 1.75278 7.84577 3.92288 7.84577C6.09299 7.84577 7.84577 6.09299 7.84577 3.92289C7.84577 1.75278 6.09299 -1.27358e-06 3.92288 -1.27358e-06ZM3.92288 6.67725C2.4205 6.67725 1.25198 5.42527 1.25198 4.00635C1.25198 2.50397 2.50397 1.33545 3.92288 1.33545C5.42526 1.33545 6.59378 2.58744 6.59378 4.00635C6.59378 5.42527 5.42526 6.67725 3.92288 6.67725Z" transform="translate(44.4418 46.0671)" fill="#007AFF"/>
            <path d="M3.92288 -1.27358e-06C1.75278 -1.27358e-06 -2.54717e-06 1.75278 -2.54717e-06 3.92289C-2.54717e-06 6.09299 1.75278 7.84577 3.92288 7.84577C6.09299 7.84577 7.84577 6.09299 7.84577 3.92289C7.84577 1.75278 6.00952 -1.27358e-06 3.92288 -1.27358e-06ZM3.92288 6.67725C2.4205 6.67725 1.25198 5.42527 1.25198 4.00635C1.25198 2.50397 2.50397 1.33545 3.92288 1.33545C5.42527 1.33545 6.59378 2.58744 6.59378 4.00635C6.59378 5.42527 5.3418 6.67725 3.92288 6.67725Z" transform="translate(82.9194 46.0671)" fill="#007AFF"/>
            <path d="M4.50714 -1.27358e-06C4.17328 -1.27358e-06 3.92288 0.250396 3.92288 0.584259C3.92288 2.4205 2.4205 3.92288 0.584259 3.92288C0.250397 3.92288 -6.36792e-07 4.17328 -6.36792e-07 4.50714V21.7011C-6.36792e-07 22.0349 0.250397 22.2853 0.584259 22.2853C2.4205 22.2853 3.92288 23.7877 3.92288 25.6239C3.92288 25.9578 4.17328 26.2082 4.50714 26.2082H53.9188C54.2526 26.2082 54.503 25.9578 54.503 25.6239C54.503 23.7877 56.0054 22.2853 57.8417 22.2853C58.1755 22.2853 58.4259 22.0349 58.4259 21.7011V4.59061C58.4259 4.25674 58.1755 4.00635 57.8417 4.00635C56.0889 4.00635 54.67 2.75436 54.503 1.00159C54.503 0.918121 54.503 0.751192 54.503 0.667726C54.503 0.333864 54.2526 0.0834662 53.9188 0.0834662H4.50714V-1.27358e-06ZM57.2574 5.0914V21.1168C55.2542 21.3672 53.5849 23.0365 53.3345 25.0397H5.0914C4.84101 23.0365 3.17169 21.3672 1.16852 21.1168V5.0914C3.17169 4.84101 4.84101 3.17169 5.0914 1.16852H53.3345C53.5849 3.25516 55.2542 4.84101 57.2574 5.0914Z" transform="translate(38.3488 36.886)" fill="#007AFF"/>
          </svg>
        </div>
        <p class="advantages_text animated delay-6s fadeInUp">Возврат в течение <br> 90 дней</p>
      </li>
      <li class="advantages_item">
        <div class="advantages_item_img-block animated delay-7s zoomIn">
          <svg id="advantages" width="103" height="99" viewBox="0 0 103 99" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.646375 9.37243C0.969562 9.37243 1.29275 9.13004 1.29275 8.72605V0.646374C1.29275 0.323187 1.05036 6.16431e-07 0.646375 6.16431e-07C0.242391 6.16431e-07 1.54108e-07 0.24239 1.54108e-07 0.646374V8.80685C0.0807969 9.13004 0.323187 9.37243 0.646375 9.37243Z" transform="translate(8.51624 41.364)" fill="#007AFF"/>
            <path d="M-3.08215e-07 3.55506C-3.08215e-07 3.87825 0.24239 4.20143 0.646374 4.20143C1.05036 4.20143 1.29275 3.95904 1.29275 3.55506V0.646377C1.29275 0.32319 1.05036 0 0.646374 0C0.24239 0 -3.08215e-07 0.242393 -3.08215e-07 0.646377V3.55506Z" transform="translate(8.59692 53.3218)" fill="#007AFF"/>
            <path d="M6.1643e-07 3.07028C6.1643e-07 4.76701 1.37355 6.14056 3.07028 6.14056C4.76701 6.14056 6.14055 4.76701 6.14055 3.07028C6.14055 1.37354 4.76701 0 3.07028 0C1.37355 0 6.1643e-07 1.37354 6.1643e-07 3.07028ZM4.9286 3.07028C4.9286 4.12064 4.12064 4.9286 3.07028 4.9286C2.01992 4.9286 1.21195 4.12064 1.21195 3.07028C1.21195 2.01992 2.01992 1.21195 3.07028 1.21195C4.12064 1.21195 4.9286 2.10072 4.9286 3.07028Z" transform="translate(25.8065 10.9036)" fill="#007AFF"/>
            <path d="M2.82789 1.23286e-06C1.29275 1.23286e-06 -1.23286e-06 1.29275 -1.23286e-06 2.82789C-1.23286e-06 4.36303 1.29275 5.65578 2.82789 5.65578C4.36302 5.65578 5.65577 4.36303 5.65577 2.82789C5.65577 1.29275 4.36302 1.23286e-06 2.82789 1.23286e-06ZM2.82789 4.52462C1.93912 4.52462 1.21195 3.79745 1.21195 2.90868C1.21195 2.01992 1.93912 1.29275 2.82789 1.29275C3.71665 1.29275 4.44382 2.01992 4.44382 2.90868C4.44382 3.79745 3.71665 4.52462 2.82789 4.52462Z" transform="translate(55.2167 91.6196)" fill="#007AFF"/>
            <path d="M11.3923 0.646377C11.3923 0.32319 11.15 0 10.746 0H0.646374C0.323187 0 -2.46572e-06 0.242393 -2.46572e-06 0.646377C-2.46572e-06 0.969564 0.24239 1.29275 0.646374 1.29275H10.746C11.15 1.21195 11.3923 0.969564 11.3923 0.646377Z" transform="translate(77.5165 92.5083)" fill="#007AFF"/>
            <path d="M3.95904 0H0.646373C0.323186 0 2.46572e-06 0.242393 2.46572e-06 0.646377C2.46572e-06 0.969564 0.242389 1.29275 0.646373 1.29275H3.95904C4.28223 1.29275 4.60542 1.05036 4.60542 0.646377C4.60542 0.242393 4.36302 0 3.95904 0Z" transform="translate(90.9288 92.5083)" fill="#007AFF"/>
            <path d="M7.67569 2.46572e-06H0.646374C0.323187 2.46572e-06 -2.46572e-06 0.242389 -2.46572e-06 0.646373C-2.46572e-06 0.96956 0.24239 1.29275 0.646374 1.29275H7.67569C7.99888 1.29275 8.32207 1.05036 8.32207 0.646373C8.32207 0.242389 8.07968 2.46572e-06 7.67569 2.46572e-06Z" transform="translate(87.2122 95.9827)" fill="#007AFF"/>
            <path d="M2.90868 2.46572e-06H0.646375C0.323188 2.46572e-06 -1.23286e-06 0.242389 -1.23286e-06 0.646373C-1.23286e-06 0.96956 0.242392 1.29275 0.646375 1.29275H2.90868C3.23187 1.29275 3.55506 1.05036 3.55506 0.646373C3.55506 0.242389 3.31267 2.46572e-06 2.90868 2.46572e-06Z" transform="translate(81.8795 95.9827)" fill="#007AFF"/>
            <path d="M6.16431e-07 0.646375C6.16431e-07 0.969562 0.24239 1.29275 0.646374 1.29275H10.746C11.0692 1.29275 11.3923 1.05036 11.3923 0.646375C11.3923 0.323187 11.15 1.54108e-07 10.746 1.54108e-07H0.565579C0.242392 0.0807969 6.16431e-07 0.323187 6.16431e-07 0.646375Z" transform="translate(27.8265 4.27832)" fill="#007AFF"/>
            <path d="M0.646374 1.29275H3.95904C4.28223 1.29275 4.60542 1.05036 4.60542 0.646375C4.60542 0.323187 4.36303 1.54108e-07 3.95904 1.54108e-07H0.646374C0.323186 1.54108e-07 0 0.242391 0 0.646375C0 1.05036 0.323186 1.29275 0.646374 1.29275Z" transform="translate(21.2012 4.27832)" fill="#007AFF"/>
            <path d="M0.646374 1.21195H7.67569C7.99888 1.21195 8.32207 0.969562 8.32207 0.565578C8.32207 0.161594 7.99888 -7.70538e-08 7.67569 -7.70538e-08H0.646374C0.323186 -7.70538e-08 0 0.24239 0 0.646374C0 1.05036 0.323186 1.21195 0.646374 1.21195Z" transform="translate(21.2012 0.884766)" fill="#007AFF"/>
            <path d="M0.646374 1.21195H2.90868C3.23187 1.21195 3.55506 0.969562 3.55506 0.565578C3.55506 0.161594 3.23187 -7.70538e-08 2.90868 -7.70538e-08H0.646374C0.323187 -7.70538e-08 0 0.24239 0 0.646374C0 1.05036 0.323187 1.21195 0.646374 1.21195Z" transform="translate(31.3008 0.884766)" fill="#007AFF"/>
            <path d="M10.8268 1.23286e-06H0.646374C0.323187 1.23286e-06 3.08215e-07 0.242388 3.08215e-07 0.646372C3.08215e-07 0.969559 0.24239 1.29275 0.646374 1.29275H10.8268C11.15 1.29275 11.4731 1.05036 11.4731 0.646372C11.3923 0.323185 11.15 1.23286e-06 10.8268 1.23286e-06Z" transform="translate(6.73853 70.2085)" fill="#007AFF"/>
            <path d="M3.87825 1.23286e-06H0.646374C0.323187 1.23286e-06 0 0.242388 0 0.646372C0 0.969559 0.24239 1.29275 0.646374 1.29275H3.95904C4.28223 1.29275 4.60542 1.05036 4.60542 0.646372C4.52462 0.323185 4.20143 1.23286e-06 3.87825 1.23286e-06Z" transform="translate(0.194092 70.2085)" fill="#007AFF"/>
            <path d="M0.646374 1.29275H7.67569C7.99888 1.29275 8.32207 1.05036 8.32207 0.646377C8.32207 0.32319 8.07968 0 7.67569 0H0.646374C0.323187 0 0 0.242393 0 0.646377C0 1.05036 0.24239 1.29275 0.646374 1.29275Z" transform="translate(0.194092 66.6533)" fill="#007AFF"/>
            <path d="M2.90868 1.29275C3.23187 1.29275 3.55506 1.05036 3.55506 0.646377C3.55506 0.32319 3.31267 0 2.90868 0H0.646374C0.323187 0 0 0.242393 0 0.646377C0 0.969564 0.24239 1.29275 0.646374 1.29275H2.90868Z" transform="translate(10.2936 66.6533)" fill="#007AFF"/>
            <path d="M1.63613 2.4441C1.71693 2.5249 1.87852 2.6057 2.04012 2.6057C2.20171 2.6057 2.3633 2.5249 2.4441 2.4441C2.68649 2.20171 2.68649 1.79773 2.4441 1.55534L1.07056 0.181793C0.828168 -0.0605976 0.424186 -0.0605976 0.181795 0.181793C-0.0605951 0.424183 -0.0605951 0.828167 0.181795 1.07056L1.63613 2.4441Z" transform="translate(56.4084 4.25806)" fill="#007AFF"/>
            <path d="M1.63614 2.4441C1.71693 2.5249 1.87853 2.6057 2.04012 2.6057C2.20171 2.6057 2.36331 2.5249 2.4441 2.4441C2.68649 2.20171 2.68649 1.79773 2.4441 1.55534L1.07055 0.181792C0.828165 -0.0605979 0.424182 -0.0605979 0.181792 0.181792C-0.0605988 0.424183 -0.0605988 0.828167 0.181792 1.07056L1.63614 2.4441Z" transform="translate(60.6907 8.62109)" fill="#007AFF"/>
            <path d="M0.666573 2.6057C0.828167 2.6057 0.989761 2.5249 1.07056 2.4441L2.4441 1.07056C2.68649 0.828167 2.68649 0.424183 2.4441 0.181792C2.20171 -0.0605979 1.79773 -0.0605979 1.55534 0.181792L0.181794 1.55534C-0.0605964 1.79773 -0.0605964 2.20171 0.181794 2.4441C0.343388 2.5249 0.50498 2.6057 0.666573 2.6057Z" transform="translate(56.4893 8.62109)" fill="#007AFF"/>
            <path d="M0.666576 2.6057C0.828169 2.6057 0.989763 2.5249 1.07056 2.4441L2.4441 1.07056C2.68649 0.828167 2.68649 0.424183 2.4441 0.181793C2.20171 -0.0605976 1.79773 -0.0605976 1.55534 0.181793L0.18179 1.55534C-0.0606001 1.79773 -0.0606001 2.20171 0.18179 2.4441C0.343384 2.6057 0.504982 2.6057 0.666576 2.6057Z" transform="translate(60.7714 4.25806)" fill="#007AFF"/>
            <path d="M1.63613 2.4441C1.71693 2.5249 1.87852 2.6057 2.04012 2.6057C2.20171 2.6057 2.3633 2.5249 2.4441 2.4441C2.68649 2.20171 2.68649 1.79773 2.4441 1.55534L1.07056 0.181794C0.828168 -0.0605964 0.424186 -0.0605964 0.181795 0.181794C-0.0605951 0.424184 -0.0605951 0.828167 0.181795 1.07056L1.63613 2.4441Z" transform="translate(84.2832 31.2441)" fill="#007AFF"/>
            <path d="M0.19342 1.07056L1.56696 2.4441C1.64776 2.5249 1.80935 2.6057 1.97095 2.6057C2.13254 2.6057 2.29413 2.5249 2.37493 2.4441C2.61732 2.20171 2.61732 1.79773 2.37493 1.55534L1.00139 0.181792C0.758997 -0.0605982 0.355009 -0.0605982 0.112618 0.181792C-0.0489753 0.424182 -0.0489703 0.828168 0.19342 1.07056Z" transform="translate(88.7155 35.6072)" fill="#007AFF"/>
            <path d="M0.193418 2.4441C0.274214 2.5249 0.435808 2.6057 0.597401 2.6057C0.758995 2.6057 0.920589 2.5249 1.00139 2.4441L2.37493 1.07056C2.61732 0.828166 2.61732 0.424184 2.37493 0.181793C2.13254 -0.060597 1.72856 -0.060597 1.48616 0.181793L0.112622 1.55534C-0.0489716 1.79773 -0.0489728 2.20171 0.193418 2.4441Z" transform="translate(84.4333 35.5264)" fill="#007AFF"/>
            <path d="M0.666575 2.6057C0.828168 2.6057 0.989762 2.5249 1.07056 2.4441L2.4441 1.07056C2.68649 0.828167 2.68649 0.424184 2.4441 0.181794C2.20171 -0.0605964 1.79773 -0.0605964 1.55534 0.181794L0.181795 1.55534C-0.0605951 1.79773 -0.0605951 2.20171 0.181795 2.4441C0.343389 2.5249 0.504981 2.6057 0.666575 2.6057Z" transform="translate(88.7271 31.2441)" fill="#007AFF"/>
            <path d="M1.07056 0.181792C0.828166 -0.0605988 0.424184 -0.0605988 0.181793 0.181792C-0.060597 0.424182 -0.060597 0.828164 0.181793 1.07055L1.55534 2.4441C1.63613 2.5249 1.79773 2.60569 1.95932 2.60569C2.12092 2.60569 2.28251 2.5249 2.36331 2.4441C2.6057 2.20171 2.6057 1.79773 2.36331 1.55534L1.07056 0.181792Z" transform="translate(19.969 91.5994)" fill="#007AFF"/>
            <path d="M1.07056 0.181793C0.828168 -0.0605976 0.424183 -0.0605976 0.181793 0.181793C-0.0605973 0.424183 -0.0605973 0.828166 0.181793 1.07056L1.55534 2.4441C1.63613 2.5249 1.79773 2.6057 1.95932 2.6057C2.12091 2.6057 2.28251 2.5249 2.36331 2.4441C2.6057 2.20171 2.6057 1.79773 2.36331 1.55534L1.07056 0.181793Z" transform="translate(24.3322 95.9624)" fill="#007AFF"/>
            <path d="M1.55534 0.181793L0.181793 1.55534C-0.060597 1.79773 -0.060597 2.20171 0.181793 2.4441C0.26259 2.5249 0.424184 2.6057 0.585777 2.6057C0.747371 2.6057 0.908964 2.5249 0.989761 2.4441L2.36331 1.07056C2.6057 0.828166 2.6057 0.424183 2.36331 0.181793C2.20171 -0.0605976 1.79773 -0.0605976 1.55534 0.181793Z" transform="translate(19.969 95.9624)" fill="#007AFF"/>
            <path d="M1.55534 0.181792L0.181793 1.55534C-0.0605973 1.79773 -0.0605973 2.20171 0.181793 2.4441C0.26259 2.5249 0.424183 2.60569 0.585777 2.60569C0.74737 2.60569 0.908964 2.5249 0.989761 2.4441L2.36331 1.07055C2.6057 0.828164 2.6057 0.424182 2.36331 0.181792C2.12091 -0.0605988 1.79773 -0.0605988 1.55534 0.181792Z" transform="translate(24.3322 91.5994)" fill="#007AFF"/>
            <path d="M63.7487 73.8483C63.8295 73.8483 63.8295 73.8483 63.9103 73.8483C63.9103 73.8483 63.9911 73.8483 63.9911 73.7675C63.9911 73.7675 64.0718 73.7675 64.0718 73.6867L64.1526 73.6059L64.2334 73.5251V73.4443C64.2334 73.3635 64.2334 73.3635 64.2334 73.2827V73.2019V73.1211C63.4255 70.374 62.5367 67.6269 61.7287 64.9606C59.7896 58.6585 53.9722 55.1034 46.6197 55.669L45.5694 55.7498C44.5998 55.8306 43.7111 55.9114 42.6607 55.9114C42.0951 54.861 40.4792 50.8212 42.6607 45.0846C42.8223 44.923 42.9839 44.7614 43.1455 44.5998H52.8411C52.9219 44.5998 53.0027 44.5998 53.0835 44.519H53.1643C53.2451 44.519 53.2451 44.4382 53.3259 44.4382C53.3259 44.4382 53.3259 44.4382 53.4067 44.3574C53.4067 44.3574 53.4875 44.2766 53.4875 44.1958C53.4875 44.1958 53.4875 44.1958 53.4875 44.115L54.5378 41.2064C55.669 41.0448 56.7193 40.56 57.7697 39.9136C59.5472 38.7017 60.6784 36.8433 61.0824 34.7426C61.4864 32.6419 61.0016 30.5412 59.7896 28.7637C58.6585 27.1477 57.0425 26.0974 55.265 25.6126C55.3458 24.8046 55.4266 23.9966 55.4266 23.1079C55.4266 10.342 45.0846 0 32.3995 0C19.472 0.0807968 9.13004 10.4228 9.13004 23.1079C9.13004 23.9966 9.21083 24.8046 9.29163 25.6126C7.4333 26.0974 5.81737 27.2285 4.68621 28.7637C3.47426 30.5412 2.98948 32.6419 3.39346 34.7426C3.79745 36.8433 4.9286 38.7017 6.70613 39.9136C8.07968 40.8832 9.61481 41.368 11.2308 41.368C11.7155 41.368 12.2003 41.2872 12.6851 41.2064C13.0083 41.1256 13.2507 40.8024 13.1699 40.4792L10.5844 26.0166V25.9358C10.4228 25.047 10.342 24.0774 10.342 23.0271C10.342 10.9884 20.1184 1.13115 32.1571 1.13115C44.1958 1.13115 53.9722 10.9076 53.9722 23.0271C53.9722 23.9966 53.8915 24.9662 53.8107 25.855V25.9358L51.1444 40.4792C51.0636 40.8024 51.306 41.1256 51.6291 41.2064C52.1139 41.2872 52.5987 41.368 53.0835 41.368L52.3563 43.3071H44.1958C45.4886 41.6103 46.5389 39.5904 47.3469 37.2473H47.4277C49.2052 37.2473 50.5788 34.581 50.5788 31.1068C50.5788 28.1981 49.69 25.855 48.2357 25.1278V24.9662C48.4781 23.0271 48.7205 21.088 48.882 19.068C49.4476 10.5036 47.1853 9.45322 42.8223 8.07968C42.4991 7.99888 42.1759 7.83729 41.7719 7.75649C38.2169 6.62534 34.6618 6.38295 32.2379 6.38295C29.814 6.38295 26.1782 6.62534 22.7039 7.75649C22.3807 7.83729 21.9767 7.99888 21.6535 8.07968C17.2905 9.45322 15.0282 10.5036 15.5938 19.068C15.7554 21.0072 15.9978 23.0271 16.2402 24.9662V25.1278C14.8666 25.7742 13.897 28.1173 13.897 31.1068C13.897 34.581 15.2706 37.2473 17.0481 37.2473H17.1289C18.1793 40.2368 19.7144 42.8223 21.5727 44.923C23.6735 50.5788 22.0575 54.6994 21.4919 55.8306C20.4416 55.7498 19.5528 55.7498 18.5833 55.669L17.6137 55.5882C10.2612 55.0226 4.44382 58.5777 2.5047 64.8798C1.61593 67.5461 0.807968 70.2932 6.1643e-07 73.0403V73.1211V73.2019C6.1643e-07 73.2827 6.1643e-07 73.2827 6.1643e-07 73.3635V73.4443L0.0807962 73.5251L0.161593 73.6059L0.24239 73.6867L0.323187 73.7675C0.403984 73.7675 0.403983 73.7675 0.48478 73.7675H63.7487V73.8483ZM7.4333 38.944C5.97896 37.8937 4.9286 36.3586 4.60542 34.581C4.28223 32.8035 4.68621 31.026 5.73657 29.4908C6.62534 28.1981 7.99888 27.2285 9.53402 26.8245L11.9579 40.0752C10.2612 40.2368 8.72605 39.8328 7.4333 38.944ZM52.5179 40.156L54.9418 26.9053C56.4769 27.3093 57.7697 28.2789 58.7393 29.5716C59.7896 31.026 60.1936 32.8843 59.8704 34.6618C59.5472 36.4394 58.5777 37.9745 57.0425 39.0248C55.669 39.8328 54.1338 40.2368 52.5179 40.156ZM21.9767 9.37243C22.2999 9.29163 22.7039 9.13004 23.0271 9.04924C25.6934 8.16048 28.8444 7.75649 32.2379 7.67569C35.5506 7.67569 38.7825 8.16048 41.4487 9.04924C41.8527 9.13004 42.1759 9.29163 42.4991 9.37243C46.2966 10.5036 48.2357 11.15 47.6701 19.068C47.5893 20.0376 47.5085 20.9264 47.4277 21.8959C46.7813 19.9568 45.731 17.9369 43.9534 17.6945C41.0448 17.3713 33.3691 17.4521 32.9651 17.4521C32.9651 17.4521 29.6524 17.6945 26.0974 14.2202C25.9358 14.0586 25.7742 14.0586 25.6126 14.0586C25.451 14.0586 25.2894 14.1394 25.2086 14.301C24.643 15.0282 24.0774 16.4825 24.8046 17.9369C22.9463 17.6137 20.0376 17.3713 18.9064 18.7449C18.1793 19.5528 17.6137 21.0072 17.1289 22.3807C16.9673 21.2496 16.8865 20.1184 16.8057 19.068C16.2402 11.0692 18.1793 10.5036 21.9767 9.37243ZM17.7753 36.0354C17.6945 36.0354 17.6137 35.9546 17.5329 35.9546C17.4521 35.9546 17.3713 35.9546 17.2905 36.0354C17.2097 36.1162 17.1289 36.1162 17.0481 36.1162C16.2402 36.1162 15.109 34.2578 15.109 31.1876C15.109 28.6021 15.917 26.6629 16.8057 26.3398C17.0481 26.3398 17.3713 26.1782 17.3713 25.855C17.6945 24.5622 18.6641 20.8456 19.7952 19.5528C20.6032 18.5833 23.9966 18.9872 26.1782 19.5528C26.4205 19.6336 26.7437 19.472 26.9053 19.2296C27.0669 18.9872 26.9861 18.6641 26.7437 18.5025C25.451 17.5329 25.6126 16.4017 25.855 15.7554C29.5716 19.068 32.8843 18.8256 33.0459 18.8256C33.1267 18.8256 41.0448 18.7449 43.8727 19.068C45.8118 19.3104 46.8621 24.1582 47.1045 25.855C47.1045 26.1782 47.4277 26.4205 47.7509 26.3398C48.5589 26.6629 49.4476 28.6021 49.4476 31.1876C49.4476 34.2578 48.3165 36.1162 47.5085 36.1162C47.4277 36.1162 47.3469 36.1162 47.1853 36.0354C47.0237 35.9546 46.8621 35.9546 46.7005 36.0354C46.5389 36.1162 46.4581 36.2778 46.3773 36.4393C45.5694 39.1056 44.2766 41.4487 42.7415 43.3879H36.2778C36.0354 42.6607 35.389 42.1759 34.6618 42.1759H30.0564C29.0868 42.1759 28.3597 42.9839 28.3597 43.8727V44.0342C28.3597 45.0038 29.1676 45.731 30.0564 45.731H34.6618C35.389 45.731 36.0354 45.2462 36.2778 44.519H41.6103C39.0248 47.1045 35.793 48.5589 32.3187 48.5589C28.7637 48.5589 25.451 47.0237 22.7847 44.2766C22.7039 44.115 22.6231 44.0342 22.4615 43.9534C20.6032 41.9335 19.1488 39.4288 18.2601 36.4393C18.0985 36.2778 17.9369 36.1162 17.7753 36.0354ZM34.985 44.0342C34.985 44.2766 34.7426 44.519 34.5002 44.519H29.8948C29.6524 44.519 29.41 44.2766 29.41 44.0342V43.8727C29.41 43.6303 29.6524 43.3879 29.8948 43.3879H34.5002C34.7426 43.3879 34.985 43.6303 34.985 43.8727V44.0342ZM23.3503 46.6197C25.9358 48.6397 28.9252 49.8516 32.1571 49.8516C35.3082 49.8516 38.3785 48.7205 40.8832 46.7005C39.4288 52.4371 41.4487 56.1538 41.7719 56.7193C41.7719 56.8001 41.8527 56.8809 41.9335 56.9617C40.56 59.3048 38.944 61.3248 37.2473 63.1831L35.9546 57.7697L37.6513 54.861C37.7321 54.6994 37.7321 54.457 37.6513 54.2146C37.5705 54.053 37.3281 53.8914 37.0857 53.8914H27.2285C26.9861 53.8914 26.8245 53.9722 26.6629 54.2146C26.5821 54.3762 26.5821 54.6186 26.6629 54.861L28.4405 57.8505L27.1477 63.1831C25.6126 61.5671 23.9158 59.4664 22.2999 56.8001L22.3807 56.7193C22.7039 56.2346 24.8046 52.3563 23.3503 46.6197ZM32.2379 67.5461C31.5915 67.1421 30.1372 66.0918 28.1981 64.2334C28.2789 64.1526 28.2789 64.0718 28.2789 63.991L29.6524 58.3353H34.8234L36.197 63.991C36.197 64.0718 36.2778 64.1526 36.2778 64.1526C34.3386 66.0918 32.8035 67.1421 32.2379 67.5461ZM34.9042 57.1233H29.41L28.2789 55.1842H36.0354L34.9042 57.1233ZM3.71665 65.2838C5.49418 59.5472 10.8268 56.3154 17.6137 56.8001L18.5833 56.8809C19.472 56.9617 20.1992 56.9617 21.088 57.0425C26.0974 65.4454 31.6723 68.6773 31.9147 68.8389C31.9955 68.9197 32.0763 68.9197 32.2379 68.9197C32.3187 68.9197 32.3995 68.9197 32.4803 68.8389H32.5611C32.6419 68.7581 34.581 67.6269 37.2473 65.0414C39.5096 62.7791 41.6103 60.1128 43.3879 57.1233C44.1958 57.0425 45.0038 57.0425 45.8118 56.9617L46.8621 56.8809C53.6491 56.3154 58.9817 59.628 60.7592 65.3646C61.4864 67.7885 62.2943 70.2124 63.0215 72.7171H1.45434C2.18151 70.2124 2.90868 67.7077 3.71665 65.2838Z" transform="translate(18.9388 14.5393)" fill="#007AFF"/>
            <path d="M15.5822 19.1954C19.8645 16.6907 21.7228 11.5197 20.0261 6.83351C18.0869 1.50092 12.1888 -1.32696 6.85618 0.612159C5.56344 1.09694 4.43228 1.82411 3.46272 2.63208C1.92758 4.00562 0.877222 5.78315 0.311645 7.80307C-0.173136 9.82299 -0.0923394 11.9237 0.554035 13.8628C2.25077 18.6298 7.26017 21.4577 12.1888 20.4882C12.4312 20.569 13.0775 20.8922 13.4815 21.1345C14.5319 21.7809 15.0975 22.0233 15.5014 22.0233C15.5822 22.0233 15.663 22.0233 15.7438 21.9425C15.9054 21.8617 16.067 21.7809 16.067 21.6193C16.1478 21.4577 16.1478 21.2961 16.067 21.1345C15.9054 20.4882 15.5822 19.5994 15.5822 19.1954ZM14.6127 20.3266C14.4511 20.2458 14.2895 20.165 14.2087 20.0842C13.1583 19.5186 12.6736 19.1954 12.3504 19.1954C12.2696 19.1954 12.2696 19.1954 12.1888 19.1954C7.82575 20.0842 3.30113 17.5795 1.84678 13.3781C1.20041 11.6813 1.11961 9.82299 1.60439 8.04546C2.08917 6.26793 2.97794 4.7328 4.35148 3.52084C5.24025 2.71288 6.20981 2.1473 7.34096 1.74331C12.0272 0.0465813 17.279 2.47049 18.9757 7.2375C20.5108 11.4389 18.7333 16.0443 14.9359 18.2259C14.5319 18.3875 14.0471 18.7106 14.6127 20.3266Z" transform="translate(2.62952 11.4226)" fill="#007AFF"/>
            <path d="M13.0083 0.646375C13.0083 0.323188 12.7659 -3.08215e-07 12.3619 -3.08215e-07H0.646374C0.323187 -3.08215e-07 -1.54108e-07 0.242391 -1.54108e-07 0.646375C-1.54108e-07 0.969562 0.24239 1.29275 0.646374 1.29275H12.3619C12.6851 1.29275 13.0083 1.05036 13.0083 0.646375Z" transform="translate(6.41541 18.9023)" fill="#007AFF"/>
            <path d="M8.16047 0H0.646375C0.323187 0 1.54108e-07 0.24239 1.54108e-07 0.646374C1.54108e-07 1.05036 0.242391 1.29275 0.646375 1.29275H8.16047C8.48366 1.29275 8.80685 1.05036 8.80685 0.646374C8.80685 0.24239 8.48366 0 8.16047 0Z" transform="translate(8.51624 23.0232)" fill="#007AFF"/>
            <path d="M4.05293 0.360679C3.89133 0.441476 3.72974 0.603069 3.64894 0.764663C3.56815 1.00705 3.64895 1.16865 3.81054 1.33024L5.74966 3.26936L5.58807 5.53167L3.32576 5.69327L1.38664 3.75414C1.22504 3.59255 1.06345 3.51175 0.821056 3.59255C0.659462 3.67334 0.417072 3.75414 0.417072 3.99653C-0.471693 6.25884 0.0938887 8.92514 1.79062 10.6219C2.1946 11.0259 2.67938 11.349 3.16416 11.6722C3.72974 20.5599 3.89133 29.8515 3.56815 39.3047C3.56815 40.9207 4.8609 42.2942 6.55763 42.2942C8.17357 42.2942 9.54711 41.0015 9.54711 39.3047C9.22392 29.8515 9.38552 20.5599 9.95109 11.5914C9.95109 11.5106 9.95109 11.4298 9.95109 11.349C10.1935 11.1874 10.4359 10.9451 10.6783 10.7027C13.1022 8.27876 13.1022 4.31972 10.6783 1.89582C8.90074 0.118287 6.31524 -0.447289 4.05293 0.360679ZM8.25436 39.2239C8.25436 40.1935 7.44639 41.0015 6.47683 41.0015C5.50727 41.0015 4.6993 40.1935 4.6993 39.3047C5.02249 30.0939 4.8609 20.9639 4.29532 12.2378C4.8609 12.3994 5.50727 12.4802 6.07285 12.4802C6.88081 12.4802 7.76958 12.3186 8.49675 11.9954C8.09277 20.7215 7.93118 29.9323 8.25436 39.2239ZM9.7087 9.73311C7.76958 11.6722 4.61851 11.6722 2.67938 9.73311C1.54823 8.60195 0.982654 6.90522 1.30584 5.37008L2.76018 6.82442C2.92177 6.98601 3.08337 6.98602 3.24496 6.98602L6.23444 6.74362C6.55763 6.74362 6.80002 6.50124 6.80002 6.17805L7.04241 3.18857C7.04241 3.02697 6.96161 2.86538 6.88081 2.70378L5.50727 1.33024C7.04241 1.08785 8.57755 1.65343 9.7087 2.70378C11.6478 4.64291 11.6478 7.79398 9.7087 9.73311Z" transform="translate(88.4111 46.2551)" fill="#007AFF"/>
            <path d="M24.4006 -3.08215e-07H1.69673C0.727173 -3.08215e-07 -2.46572e-06 0.727171 -2.46572e-06 1.69673V14.0586C-2.46572e-06 15.0282 0.727173 15.7554 1.69673 15.7554H24.4006C25.3702 15.7554 26.0974 15.0282 26.0974 14.0586V1.69673C26.0974 0.807968 25.3702 -3.08215e-07 24.4006 -3.08215e-07ZM24.8854 14.0586C24.8854 14.301 24.643 14.5434 24.4006 14.5434H1.69673C1.45434 14.5434 1.21195 14.301 1.21195 14.0586V1.69673C1.21195 1.45434 1.45434 1.21195 1.69673 1.21195H24.4006C24.643 1.21195 24.8854 1.45434 24.8854 1.69673V14.0586Z" transform="translate(76.7086 7.99487)" fill="#007AFF"/>
            <path d="M4.36303 6.1643e-07C1.93912 6.1643e-07 0 1.93912 0 4.36303C0 6.78693 1.93912 8.72605 4.36303 8.72605C6.78693 8.72605 8.72605 6.78693 8.72605 4.36303C8.72605 2.01992 6.70613 6.1643e-07 4.36303 6.1643e-07ZM4.36303 7.5949C2.5855 7.5949 1.21195 6.14056 1.21195 4.44382C1.21195 2.74709 2.6663 1.29275 4.36303 1.29275C6.14056 1.29275 7.5141 2.74709 7.5141 4.44382C7.5141 6.14056 6.05976 7.5949 4.36303 7.5949Z" transform="translate(90.2825 11.4692)" fill="#007AFF"/>
            <path d="M6.62534 3.08215e-07H0.646374C0.323187 3.08215e-07 -2.46572e-06 0.24239 -2.46572e-06 0.646374C-2.46572e-06 0.969561 0.24239 1.29275 0.646374 1.29275H6.62534C6.94852 1.29275 7.27171 1.05036 7.27171 0.646374C7.19091 0.24239 6.94852 3.08215e-07 6.62534 3.08215e-07Z" transform="translate(79.9404 13.4082)" fill="#007AFF"/>
            <path d="M6.62534 6.1643e-07H0.646374C0.323187 6.1643e-07 -2.46572e-06 0.24239 -2.46572e-06 0.646374C-2.46572e-06 0.969561 0.24239 1.29275 0.646374 1.29275H6.62534C6.94852 1.29275 7.27171 1.05036 7.27171 0.646374C7.19091 0.323187 6.94852 6.1643e-07 6.62534 6.1643e-07Z" transform="translate(79.9404 17.125)" fill="#007AFF"/>
            <path d="M0.646372 1.29275H3.95904C4.28223 1.29275 4.60542 1.05036 4.60542 0.646374C4.60542 0.24239 4.36303 3.08215e-07 3.95904 3.08215e-07H0.646372C0.323185 3.08215e-07 1.23286e-06 0.24239 1.23286e-06 0.646374C1.23286e-06 1.05036 0.323185 1.29275 0.646372 1.29275Z" transform="translate(80.506 5.73267)" fill="#007AFF"/>
          </svg>
        </div>
        <p class="advantages_text animated delay-8s fadeInUp">Профессиональная <br> консультация</p>
      </li>
      <li class="advantages_item">
        <div class="advantages_item_img-block animated delay-9s zoomIn">
          <svg id="advantages" width="99" height="95" viewBox="0 0 99 95" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.539626 0C0.231268 0 2.94073e-07 0.231266 2.94073e-07 0.539623V9.94453C2.94073e-07 10.2529 0.231268 10.4842 0.539626 10.4842C0.847983 10.4842 1.07925 10.2529 1.07925 9.94453V0.539623C1.07925 0.231266 0.847983 0 0.539626 0Z" transform="translate(7.45178 52.1492)" fill="#007AFF"/>
            <path d="M0.539626 -2.35258e-06C0.231268 -2.35258e-06 2.94073e-07 0.231269 2.94073e-07 0.539627V3.6232C2.94073e-07 3.93156 0.231268 4.16283 0.539626 4.16283C0.847983 4.16283 1.07925 3.93156 1.07925 3.6232V0.539627C1.07925 0.231269 0.847983 -2.35258e-06 0.539626 -2.35258e-06Z" transform="translate(7.45178 64.6377)" fill="#007AFF"/>
            <path d="M0.539627 10.5612C0.847985 10.5612 1.07925 10.33 1.07925 10.0216V0.539625C1.07925 0.231268 0.847985 2.94073e-07 0.539627 2.94073e-07C0.231269 2.94073e-07 -2.35258e-06 0.231268 -2.35258e-06 0.539625V9.94453C-2.35258e-06 10.33 0.231269 10.5612 0.539627 10.5612Z" transform="translate(95.7963 20.6196)" fill="#007AFF"/>
            <path d="M0.539627 4.16283C0.847985 4.16283 1.07925 3.93156 1.07925 3.6232V0.539625C1.07925 0.231267 0.847985 1.17629e-06 0.539627 1.17629e-06C0.231269 1.17629e-06 -2.35258e-06 0.231267 -2.35258e-06 0.539625V3.6232C-2.35258e-06 3.85447 0.231269 4.16283 0.539627 4.16283Z" transform="translate(95.7963 33.1853)" fill="#007AFF"/>
            <path d="M1.48397 2.25486C1.56106 2.33195 1.71524 2.40904 1.86942 2.40904C2.0236 2.40904 2.17778 2.33195 2.25487 2.25486C2.48614 2.0236 2.48614 1.63815 2.25487 1.48397L0.944344 0.173451C0.713076 -0.0578171 0.327629 -0.0578171 0.17345 0.173451C-0.0578182 0.404719 -0.0578182 0.790166 0.17345 0.944345L1.48397 2.25486Z" transform="translate(85.5242 5.72217)" fill="#007AFF"/>
            <path d="M1.48397 2.25487C1.56106 2.33195 1.71524 2.40904 1.86942 2.40904C2.02359 2.40904 2.17777 2.33195 2.25486 2.25487C2.48613 2.0236 2.48613 1.63815 2.25486 1.48397L0.944345 0.173451C0.713077 -0.0578173 0.32763 -0.0578173 0.173451 0.173451C-0.0578171 0.404719 -0.0578171 0.790166 0.173451 0.944345L1.48397 2.25487Z" transform="translate(89.6869 9.88501)" fill="#007AFF"/>
            <path d="M0.558896 2.38155C0.713075 2.38155 0.867253 2.30446 0.944343 2.22737L2.25487 0.916854C2.48613 0.685586 2.48613 0.300139 2.25487 0.14596C2.0236 -0.00821872 1.63815 -0.0853081 1.48397 0.14596L0.173449 1.45648C-0.0578194 1.68775 -0.0578194 2.0732 0.173449 2.22737C0.250538 2.30446 0.404717 2.38155 0.558896 2.38155Z" transform="translate(85.6012 9.91235)" fill="#007AFF"/>
            <path d="M0.558897 2.40904C0.713076 2.40904 0.867255 2.33195 0.944344 2.25486L2.25487 0.944345C2.48614 0.713077 2.48614 0.32763 2.25487 0.173451C2.0236 -0.0578171 1.63815 -0.0578171 1.48397 0.173451L0.17345 1.48397C-0.0578182 1.71524 -0.0578182 2.10069 0.17345 2.25486C0.250539 2.40904 0.404718 2.40904 0.558897 2.40904Z" transform="translate(89.764 5.72217)" fill="#007AFF"/>
            <path d="M0.916855 0.173449C0.685587 -0.0578194 0.30014 -0.0578194 0.145962 0.173449C-0.00821725 0.404717 -0.0853067 0.790164 0.145962 0.944343L1.45648 2.25487C1.53357 2.33196 1.68775 2.40904 1.84193 2.40904C1.9961 2.40904 2.15028 2.33196 2.22737 2.25487C2.45864 2.0236 2.45864 1.63815 2.22737 1.48397L0.916855 0.173449Z" transform="translate(59.9579 87.5911)" fill="#007AFF"/>
            <path d="M0.944347 0.173451C0.713079 -0.0578171 0.327632 -0.0578171 0.173453 0.173451C-0.0578147 0.404719 -0.0578147 0.790166 0.173453 0.944345L1.48397 2.25486C1.56106 2.33195 1.71524 2.40904 1.86942 2.40904C2.0236 2.40904 2.17778 2.33195 2.25486 2.25486C2.48613 2.02359 2.48613 1.63815 2.25486 1.48397L0.944347 0.173451Z" transform="translate(64.0933 91.6768)" fill="#007AFF"/>
            <path d="M1.48397 0.173451L0.173453 1.48397C-0.0578147 1.71524 -0.0578147 2.10068 0.173453 2.25486C0.250543 2.33195 0.404722 2.40904 0.5589 2.40904C0.713079 2.40904 0.867258 2.33195 0.944347 2.25486L2.25486 0.944345C2.48613 0.713077 2.48613 0.32763 2.25486 0.173451C2.10069 -0.0578171 1.71524 -0.0578171 1.48397 0.173451Z" transform="translate(59.8534 91.6768)" fill="#007AFF"/>
            <path d="M1.48397 0.145958L0.173449 1.45648C-0.0578194 1.68775 -0.0578194 2.0732 0.173449 2.22738C0.250538 2.30446 0.404717 2.38155 0.558896 2.38155C0.713075 2.38155 0.867253 2.30446 0.944343 2.22738L2.25487 0.916852C2.48613 0.685584 2.48613 0.300137 2.25487 0.145958C2.0236 -0.00822078 1.71524 -0.0853102 1.48397 0.145958Z" transform="translate(64.0161 87.6187)" fill="#007AFF"/>
            <path d="M0.944345 0.173451C0.713077 -0.0578171 0.32763 -0.0578171 0.173451 0.173451C-0.057817 0.404719 -0.057817 0.790166 0.173451 0.944345L1.48397 2.25486C1.56106 2.33195 1.71524 2.40904 1.86942 2.40904C2.0236 2.40904 2.17778 2.33195 2.25486 2.25486C2.48613 2.02359 2.48613 1.63815 2.25486 1.48397L0.944345 0.173451Z" transform="translate(0.880005 82.0405)" fill="#007AFF"/>
            <path d="M0.916854 0.173452C0.685586 -0.0578159 0.300139 -0.0578159 0.14596 0.173452C-0.0082185 0.404721 -0.0853079 0.790168 0.14596 0.944346L1.45648 2.25486C1.53357 2.33195 1.68775 2.40905 1.84193 2.40905C1.99611 2.40905 2.15028 2.33195 2.22737 2.25486C2.45864 2.0236 2.45864 1.63815 2.22737 1.48397L0.916854 0.173452Z" transform="translate(4.99316 86.2034)" fill="#007AFF"/>
            <path d="M1.48397 0.173452L0.173451 1.48397C-0.0578171 1.71524 -0.0578171 2.10068 0.173451 2.25486C0.250541 2.33195 0.404719 2.40905 0.558898 2.40905C0.713077 2.40905 0.867256 2.33195 0.944345 2.25486L2.25486 0.944346C2.48613 0.713078 2.48613 0.327631 2.25486 0.173452C2.0236 -0.0578159 1.71524 -0.0578159 1.48397 0.173452Z" transform="translate(0.802856 86.2034)" fill="#007AFF"/>
            <path d="M1.48397 0.173451L0.173451 1.48397C-0.0578171 1.71524 -0.0578171 2.10068 0.173451 2.25486C0.250541 2.33195 0.404719 2.40904 0.558898 2.40904C0.713077 2.40904 0.867256 2.33195 0.944345 2.25486L2.25486 0.944345C2.48613 0.713077 2.48613 0.32763 2.25486 0.173451C2.10069 -0.0578171 1.71524 -0.0578171 1.48397 0.173451Z" transform="translate(4.88855 82.0405)" fill="#007AFF"/>
            <path d="M3.00648 6.01297C4.62536 6.01297 6.01297 4.70245 6.01297 3.00649C6.01297 1.38761 4.70245 0 3.00648 0C1.31052 0 2.35258e-06 1.31052 2.35258e-06 3.00649C0.0770917 4.70245 1.38761 6.01297 3.00648 6.01297ZM3.00648 1.15634C4.00865 1.15634 4.85663 2.00432 4.85663 3.00649C4.85663 4.00865 4.00865 4.85663 3.00648 4.85663C2.00432 4.85663 1.15634 4.00865 1.15634 3.00649C1.15634 2.00432 2.00432 1.15634 3.00648 1.15634Z" transform="translate(55.016 0.884766)" fill="#007AFF"/>
            <path d="M1.17629e-06 3.00649C1.17629e-06 4.62536 1.31052 6.01297 3.00649 6.01297C4.62537 6.01297 6.01297 4.70245 6.01297 3.00649C6.01297 1.31052 4.70246 -2.35258e-06 3.00649 -2.35258e-06C1.38761 0.077087 1.17629e-06 1.38761 1.17629e-06 3.00649ZM4.85663 3.00649C4.85663 4.00865 4.00865 4.85663 3.00649 4.85663C2.00433 4.85663 1.15634 4.00865 1.15634 3.00649C1.15634 2.00432 2.00433 1.15634 3.00649 1.15634C4.00865 1.15634 4.85663 2.00432 4.85663 3.00649Z" transform="translate(87.8561 64.2522)" fill="#007AFF"/>
            <path d="M3.00649 1.17629e-06C1.38761 1.17629e-06 -2.94073e-07 1.31052 -2.94073e-07 3.00649C-2.94073e-07 4.62537 1.31052 6.01297 3.00649 6.01297C4.62536 6.01297 6.01297 4.70246 6.01297 3.00649C6.01297 1.31052 4.70245 1.17629e-06 3.00649 1.17629e-06ZM3.00649 4.77954C2.00432 4.77954 1.15634 3.93156 1.15634 2.92939C1.15634 1.92723 2.00432 1.07925 3.00649 1.07925C4.00865 1.07925 4.85663 1.92723 4.85663 2.92939C4.85663 4.00865 4.08574 4.77954 3.00649 4.77954Z" transform="translate(21.9446 81.366)" fill="#007AFF"/>
            <path d="M0.539626 1.07925H11.7176C12.0259 1.07925 12.2572 0.847984 12.2572 0.539626C12.2572 0.231268 12.0259 -2.94073e-07 11.7176 -2.94073e-07H0.539626C0.231268 -2.94073e-07 0 0.231268 0 0.539626C0 0.847984 0.231268 1.07925 0.539626 1.07925Z" transform="translate(10.8438 4.66211)" fill="#007AFF"/>
            <path d="M0.539626 1.09123H4.16283C4.47118 1.09123 4.70245 0.859965 4.70245 0.551607C4.70245 0.24325 4.47118 0.0119807 4.16283 0.0119807H0.539626C0.231268 -0.0651086 0 0.24325 0 0.551607C0 0.859965 0.231268 1.09123 0.539626 1.09123Z" transform="translate(3.52026 4.65015)" fill="#007AFF"/>
            <path d="M8.94237 0.539626C8.94237 0.231268 8.7111 -2.94073e-07 8.40274 -2.94073e-07H0.539626C0.231268 -2.94073e-07 0 0.231268 0 0.539626C0 0.847984 0.231268 1.07925 0.539626 1.07925H8.32565C8.7111 1.07925 8.94237 0.847984 8.94237 0.539626Z" transform="translate(3.52026 8.5166)" fill="#007AFF"/>
            <path d="M0.539626 1.47036e-07C0.231269 1.47036e-07 0 0.231268 0 0.539626C0 0.847983 0.231269 1.07925 0.539626 1.07925H3.08358C3.39193 1.07925 3.6232 0.847983 3.6232 0.539626C3.6232 0.231268 3.39193 1.47036e-07 3.08358 1.47036e-07H0.539626Z" transform="translate(14.6982 8.43945)" fill="#007AFF"/>
            <path d="M11.7176 2.35258e-06H0.539628C0.231271 2.35258e-06 -1.17629e-06 0.231268 -1.17629e-06 0.539626C-1.17629e-06 0.847983 0.231271 1.07925 0.539628 1.07925H11.7176C12.0259 1.07925 12.2572 0.847983 12.2572 0.539626C12.2572 0.231268 12.0259 2.35258e-06 11.7176 2.35258e-06Z" transform="translate(79.145 86.6853)" fill="#007AFF"/>
            <path d="M4.16283 2.35258e-06H0.539625C0.231267 2.35258e-06 1.17629e-06 0.231268 1.17629e-06 0.539626C1.17629e-06 0.847983 0.231267 1.07925 0.539625 1.07925H4.16283C4.47119 1.07925 4.70245 0.847983 4.70245 0.539626C4.70245 0.231268 4.47119 2.35258e-06 4.16283 2.35258e-06Z" transform="translate(94.0232 86.6853)" fill="#007AFF"/>
            <path d="M1.17629e-06 0.551606C1.17629e-06 0.859963 0.231267 1.09123 0.539625 1.09123H8.32565C8.63401 1.09123 8.86528 0.859963 8.86528 0.551606C8.86528 0.243248 8.63401 0.0119822 8.32565 0.0119822H0.539625C0.231267 -0.0651072 1.17629e-06 0.243248 1.17629e-06 0.551606Z" transform="translate(89.7833 82.896)" fill="#007AFF"/>
            <path d="M0.539626 2.35258e-06C0.231268 2.35258e-06 2.35258e-06 0.231268 2.35258e-06 0.539626C2.35258e-06 0.847983 0.231268 1.07925 0.539626 1.07925H3.08358C3.39194 1.07925 3.6232 0.847983 3.6232 0.539626C3.6232 0.231268 3.39194 2.35258e-06 3.08358 2.35258e-06H0.539626Z" transform="translate(83.9246 82.8308)" fill="#007AFF"/>
            <path d="M82.6398 29.1976C82.794 29.1205 82.9482 28.8892 82.9482 28.7351C82.9482 28.5038 82.8711 28.3496 82.6398 28.2725L75.7018 24.2639L82.6398 20.2552C82.794 20.1781 82.9482 19.9469 82.9482 19.7927C82.9482 19.5614 82.8711 19.4073 82.6398 19.3302L49.3372 0.0578173C49.183 -0.0192721 48.9518 -0.0192721 48.7976 0.0578173L41.4741 4.29773L34.1506 0.0578173C33.9964 -0.0192721 33.7652 -0.0192721 33.611 0.0578173L0.308358 19.3302C0.154179 19.4073 -2.94073e-07 19.6385 -2.94073e-07 19.7927C-2.94073e-07 20.024 0.0770895 20.1781 0.308358 20.2552L7.2464 24.2639L0.308358 28.2725C0.154179 28.3496 -2.94073e-07 28.5809 -2.94073e-07 28.7351C-2.94073e-07 28.9663 0.0770895 29.1205 0.308358 29.1976L13.6448 36.9065V57.104C13.6448 57.3352 13.7219 57.4894 13.9532 57.5665L41.2428 73.3698C41.3199 73.4469 41.397 73.4469 41.4741 73.4469C41.5512 73.4469 41.6283 73.4469 41.7054 73.3698L68.995 57.5665C69.1492 57.4894 69.3034 57.2581 69.3034 57.104V36.9065L82.6398 29.1976ZM49.0289 47.3136L42.5533 43.5362L74.6996 24.8806L81.1751 28.658L49.0289 47.3136ZM41.397 42.9195L9.09655 24.1868L41.397 5.45407L73.6975 24.1868L41.397 42.9195ZM49.0289 0.982889L81.2522 19.6385L74.7767 23.4159L42.5533 4.76027L49.0289 0.982889ZM33.7652 0.982889L40.2407 4.76027L8.09439 23.4159L1.61888 19.6385L33.7652 0.982889ZM8.09439 24.9577L40.3178 43.5362L33.8422 47.3136L1.61888 28.7351L8.09439 24.9577ZM14.7241 37.6004L33.5339 48.547C33.611 48.6241 33.6881 48.6241 33.8422 48.6241C33.9193 48.6241 34.0735 48.6241 34.1506 48.547L40.9345 44.6155V71.9822L14.7241 56.7956V37.6004ZM68.147 56.7956L42.0137 71.9051V44.5384L48.7976 48.47C48.8747 48.547 48.9518 48.547 49.1059 48.547C49.183 48.547 49.3372 48.547 49.4143 48.47L68.2241 37.5233V56.7956H68.147Z" transform="translate(8.45398 12.4675)" fill="#007AFF"/>
            <path d="M0.539625 -5.88145e-07C0.231267 -5.88145e-07 1.17629e-06 0.231268 1.17629e-06 0.539626V1.31052C1.17629e-06 1.61888 0.231267 1.85015 0.539625 1.85015C0.847982 1.85015 1.07925 1.61888 1.07925 1.31052V0.539626C1.15634 0.308358 0.847982 -5.88145e-07 0.539625 -5.88145e-07Z" transform="translate(49.3114 20.0029)" fill="#007AFF"/>
            <path d="M0.539625 5.88145e-07C0.231267 5.88145e-07 1.17629e-06 0.231269 1.17629e-06 0.539627V2.08141C1.17629e-06 2.38977 0.231267 2.62104 0.539625 2.62104C0.847982 2.62104 1.07925 2.38977 1.07925 2.08141V0.539627C1.15634 0.308359 0.847982 5.88145e-07 0.539625 5.88145e-07Z" transform="translate(49.3114 29.9475)" fill="#007AFF"/>
            <path d="M0.539625 5.88145e-07C0.231267 5.88145e-07 1.17629e-06 0.231269 1.17629e-06 0.539627V2.08141C1.17629e-06 2.38977 0.231267 2.62104 0.539625 2.62104C0.847982 2.62104 1.07925 2.38977 1.07925 2.08141V0.539627C1.15634 0.231269 0.847982 5.88145e-07 0.539625 5.88145e-07Z" transform="translate(49.3114 40.74)" fill="#007AFF"/>
            <path d="M0.539625 -5.88145e-07C0.231267 -5.88145e-07 1.17629e-06 0.231268 1.17629e-06 0.539626V2.08141C1.17629e-06 2.38977 0.231267 2.62104 0.539625 2.62104C0.847982 2.62104 1.07925 2.38977 1.07925 2.08141V0.539626C1.15634 0.231268 0.847982 -5.88145e-07 0.539625 -5.88145e-07Z" transform="translate(49.3114 24.6282)" fill="#007AFF"/>
            <path d="M0.539625 5.88145e-07C0.231267 5.88145e-07 1.17629e-06 0.231269 1.17629e-06 0.539627V2.08141C1.17629e-06 2.38977 0.231267 2.62104 0.539625 2.62104C0.847982 2.62104 1.07925 2.38977 1.07925 2.08141V0.539627C1.15634 0.231269 0.847982 5.88145e-07 0.539625 5.88145e-07Z" transform="translate(49.3114 35.3438)" fill="#007AFF"/>
            <path d="M0.539625 -1.17629e-06C0.231267 -1.17629e-06 1.17629e-06 0.231268 1.17629e-06 0.539625V2.08142C1.17629e-06 2.38977 0.231267 2.62104 0.539625 2.62104C0.847982 2.62104 1.07925 2.38977 1.07925 2.08142V0.539625C1.15634 0.308357 0.847982 -1.17629e-06 0.539625 -1.17629e-06Z" transform="translate(49.3114 46.0591)" fill="#007AFF"/>
            <path d="M0.539625 -1.17629e-06C0.231267 -1.17629e-06 1.17629e-06 0.231271 1.17629e-06 0.539628V1.31052C1.17629e-06 1.61888 0.231267 1.85015 0.539625 1.85015C0.847982 1.85015 1.07925 1.61888 1.07925 1.31052V0.539628C1.15634 0.231271 0.847982 -1.17629e-06 0.539625 -1.17629e-06Z" transform="translate(49.3114 51.4553)" fill="#007AFF"/>
          </svg>
        </div>
        <p class="advantages_text animated delay-10s fadeInUp">Бесплатная доставка <br> заказов от 5 000 руб.</p>
      </li>
    </ul>
  </div>
</section>