.lk-order-page {

  padding-top: 95px;
  padding-bottom: 40px;

  &__desktop {

    margin-top: 70px;
    display: flex;
    align-items: center;
  }

  @media (min-width: 1240px) {

    padding-bottom: 50px;
  }

  @media (min-width: 1240px) {

    padding-top: 195px;
  }

  &_content {

    padding: 0 25px;

    @media (min-width: 1240px) {

      padding: 0;
      max-width: 1240px;
      margin: 0 auto;
    }
  }

  &_title {

    color: $overall-color;
    font-size: 24px;
    font-weight: 300;

    @media (min-width: 1240px) {

      line-height: 51px;
      font-size: 36px;
    }
  }

  &_status {

    margin-top: 25px;
  }
}

.lk-status {

  &_block {

    &:not(:first-child) {

      margin-top: 15px;
    }
  }

  &_name {

    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    color: $overall-color;
    display: inline-block;
    width: 40px;
    margin-right: 65px;
  }

  &_value {

    color: $overall-color;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;

    &__done {

      color: #2DC445;
    }
  }
}

.lk-conditions {

  margin-top: 40px;

  @media (min-width: 1240px) {

    margin-top: 34px;
  }

  &_title {

    font-size: 18px;
    line-height: 21px;
    font-weight: 300;

    @media (min-width: 1240px) {

      font-size: 26px;
    }
  }
}

.lk-order-roster {

  margin-top: 40px;

  @media (min-width: 1240px) {

    margin-top: 100px;
  }
}

.lk-order-list {

  @media (min-width: 1240px) {

    display: table;
    width: 100%;
  }

  &_item {

    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    padding-top: 30px;

    @media (min-width: 1240px) {

      display: table-row;
      padding: 0;
    }
  }
}

.lk-order {

  &_content {

    display: flex;
  }
}

.lk-order-name {

  @media (min-width: 1240px) {

    display: table-cell;
    vertical-align: middle;
    width: 430px;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }

  &_img {

    @media (min-width: 1240px) {

      width: 85px;
    }
  }

  &_wrap {

    margin-left: 30px;
  }

  &_title {

    font-weight: bold;
    font-size: 12px;
    color: #000;
    line-height: 14px;

    @media (min-width: 1240px) {

      font-size: 14px;
      line-height: 16px;
    }
  }

  &_property {

    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;

    @media (min-width: 1240px) {

      font-size: 14px;
      line-height: 16px;
    }
  }
}

.lk-order-price {

  margin-top: 30px;
  display: flex;
  align-items: flex-end;

  @media (min-width: 1240px) {

    display: table-cell;
    vertical-align: middle;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-left: 70px;
  }

  span {

    &:first-child {

      font-size: 14px;
      line-height: 21px;
      color: $overall-color;
      font-weight: bold;
      width: 55%;

      @media (min-width: 1240px) {

        display: none;
      }
    }

    &:last-child {

      font-size: 24px;
      line-height: 28px;
      color: #000;
    }
  }
}

.lk-order-count {

  margin-top: 20px;
  display: flex;
  align-items: flex-end;

  @media (min-width: 1240px) {

    display: table-cell;
    vertical-align: middle;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }

  span {

    &:first-child {

      font-size: 14px;
      line-height: 21px;
      color: $overall-color;
      font-weight: bold;
      width: 55%;

      @media (min-width: 1240px) {

        display: none;
      }
    }

    &:last-child {

      font-size: 24px;
      line-height: 28px;
      color: #000;
    }
  }
}

.lk-order-total-price {

  margin-top: 20px;
  display: flex;
  align-items: flex-end;

  @media (min-width: 1240px) {

    display: table-cell;
    vertical-align: middle;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }

  span {

    &:first-child {

      font-size: 14px;
      line-height: 21px;
      color: $overall-color;
      font-weight: bold;
      width: 55%;

      @media (min-width: 1240px) {

        display: none;
      }
    }

    &:last-child {

      font-size: 24px;
      line-height: 28px;
      color: #000;
    }
  }
}

.lk-total-summ {

  margin-top: 35px;

  &_text {

    text-align: center;
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    color: $overall-color;

    @media (min-width: 1280px) {

      margin-left: auto;
      margin-right: 50px;
    }
  }

  @media (min-width: 1280px) {

    display: flex;
    margin-top: 15px;
  }
}

