.lk {

  padding-top   : 95px;
  padding-bottom: 60px;

  @media (min-width: 1240px) {

    padding-top   : 195px;
    padding-bottom: 65px;
  }

  &_content {

    padding: 0 25px;

    @media (min-width: 1240px) {

      padding   : 0;
      margin    : 0 auto;
      max-width : 1240px;
      margin-top: 50px;
    }
  }

  &_title {

    font-size  : 24px;
    font-weight: 300;
    color      : $overall-color;
    line-height: 34px;

    @media (min-width: 1240px) {

      margin-top : 66px;
      font-size  : 36px;
      line-height: 51px;
    }
  }

  &_info {

    margin-top: 30px;
  }
}

.lk-info {

  &_title {

    font-size  : 18px;
    line-height: 21px;
    font-weight: 300;
    color      : $overall-color;

    @media (min-width: 1240px) {

      font-size  : 26px;
      line-height: 30px;
    }
  }

  &_roster {

    margin-top: 35px;

    @media (min-width: 1240px) {

      margin-top: 45px;
    }
  }

  &_item {

    display: flex;

    &:not(:first-child) {

      margin-top: 15px;
    }

    span {

      &:first-child {

        font-size  : 12px;
        font-weight: 300;
        line-height: 18px;
        color      : $overall-color;
        width      : 55px;

        @media (min-width: 1240px) {

          font-size  : 14px;
          line-height: 21px;
          width      : 60px;
        }
      }

      &:last-child {

        font-size  : 12px;
        line-height: 18px;
        font-weight: bold;
        color      : $overall-color;
        margin-left: 10px;

        @media (min-width: 1240px) {

          font-size  : 14px;
          line-height: 21px;
          margin-left: 45px;
        }

      }
    }
  }
}

.lk-func {

  margin-top: 35px;

  @media (min-width: 1240px) {

    display    : flex;
    align-items: center;
  }

  &_change-btn {

    font-size                  : 14px;
    line-height                : 16px;
    color                      : #FFA92E;
    position                   : relative;
    display                    : inline-block;
    text-decoration            : none;
    padding-left               : 20px;
    -webkit-transition-duration: .3s;
    -moz-transition-duration   : .3s;
    -ms-transition-duration    : .3s;
    -o-transition-duration     : .3s;
    transition-duration        : .3s;
    display                    : block;
    margin                     : 20px 0;

    &:before {

      content          : '';
      position         : absolute;
      top              : -2px;
      left             : 0;
      background-image : url('../image/edit-lk.svg');
      background-repeat: no-repeat;
      background-size  : auto;
      width            : 20px;
      height           : 20px;
    }

    &:hover {

      color                      : $leading-color;
      -webkit-transition-duration: .3s;
      -moz-transition-duration   : .3s;
      -ms-transition-duration    : .3s;
      -o-transition-duration     : .3s;
      transition-duration        : .3s;

      &:before {

        background-image: url('../image/edit-lk-hover.svg');
      }
    }

    &__download {

      &:before {

        background-image: url('../image/download-check.svg');
      }

      @media (min-width: 1240px) {

        display: none;
      }

      &__desktop {

        display: none;

        @media (min-width: 1240px) {

          display    : block;
          margin-left: 50px;
        }
      }
    }
  }

  &_pass {

    height                     : 40px;
    line-height                : 40px;
    text-decoration            : none;
    color                      : #fff;
    background-color           : $leading-color;
    border-radius              : 50px;
    text-align                 : center;
    display                    : block;
    width                      : 165px;
    margin-top                 : 35px;
    font-size                  : 14px;
    font-weight                : 300;
    -webkit-transition-duration: .3s;
    -moz-transition-duration   : .3s;
    -ms-transition-duration    : .3s;
    -o-transition-duration     : .3s;
    transition-duration        : .3s;

    &:hover {

      -webkit-transition-duration: .3s;
      -moz-transition-duration   : .3s;
      -ms-transition-duration    : .3s;
      -o-transition-duration     : .3s;
      transition-duration        : .3s;
      background-color           : #FFA92E;
    }

    @media (min-width: 1240px) {

      margin-top : 0;
      margin-left: 65px;
    }
  }
}

.lk-order {

  margin-top: 50px;

  @media (min-width: 1240px) {

    margin-top: 45px;
  }

  &_title {

    font-size  : 18px;
    font-weight: 300;
    line-height: 21px;
    color      : $overall-color;

    @media (min-width: 1240px) {

      font-size  : 26px;
      line-height: 31px;
    }

    &__page {

      @media (min-width: 1240px) {

        display: none;
      }
    }
  }

  &_roster {

    margin-top: 40px;

    @media (min-width: 1240px) {

      margin-top: 35px;
      display   : table;
      width     : 100%;
    }
  }

  &_head {

    display: none;

    @media (min-width: 1240px) {

      display: table-row;

      span {

        display       : table-cell;
        vertical-align: middle;
        border-bottom : 1px solid rgba(0, 0, 0, .2);
        padding-bottom: 15px;
        font-size     : 14px;
        color         : $overall-color;
        font-weight   : bold;

        &:first-child {

          padding-left: 15px;
        }
      }
    }
  }

  &_body {

    padding-bottom             : 40px;
    border-bottom              : 1px solid rgba(0, 0, 0, .15);
    -webkit-transition-duration: .3s;
    -moz-transition-duration   : .3s;
    -ms-transition-duration    : .3s;
    -o-transition-duration     : .3s;
    transition-duration        : .3s;
    
    &:hover {
      
      background-color           : #f3f3f3;
      -webkit-transition-duration: .3s;
      -moz-transition-duration   : .3s;
      -ms-transition-duration    : .3s;
      -o-transition-duration     : .3s;
      transition-duration        : .3s;
    }

    @media (min-width: 1240px) {

      display: table-row;
    }

    p {

      display        : flex;
      justify-content: space-between;
      align-items    : flex-end;


      &:first-child {

        padding-top: 30px;
      }

      &:not(:first-child) {

        margin-top: 30px;
      }

      @media (min-width: 1240px) {

        display       : table-cell;
        vertical-align: middle;
        padding       : 15px 0;
        border-bottom : 1px solid rgba(0, 0, 0, .2);

        &:first-child {

          padding     : 15px 0;
          padding-left: 15px;
        }
      }

      span {

        &:first-child {

          font-size  : 14px;
          line-height: 21px;
          font-weight: bold;

          @media (min-width: 1240px) {

            display: none
          }
        }

        &:last-child {

          font-size  : 18px;
          font-weight: bold;
          color      : #000;
        }
      }
    }
  }
}
