.catalog {

  padding-top: 95px;

  @media (min-width: 1240px) {

    padding-top: 195px;
  }

  &_content {

    padding: 0 25px;

    @media (min-width: 1240px) {

      padding  : 0;
      max-width: 1240px;
      margin   : 0 auto;
    }
  }
}

.catalog-info {

  background-color: #F3F3F3;
  border-radius   : 10px;
  padding         : 20px 15px;
  box-sizing      : border-box;

  @media (min-width: 1240px) {

    margin-top: 20px;
    padding   : 30px 105px;
  }

  &_title {

    font-size    : 20px;
    line-height  : 28px;
    font-weight  : 300;
    color        : $overall-color;
    position     : relative;
    padding-left : 45px;
    padding-right: 20px;

    @media (min-width: 1240px) {

      padding-left : 0;
      padding-right: 0;
    }

    &:after {
      content          : '';
      position         : absolute;
      top              : 10px;
      right            : 0;
      width            : 13px;
      height           : 9px;
      background-image : url('../image/arr-head.svg');
      background-repeat: no-repeat;
      background-size  : 100% 100%;

      @media (min-width: 1240px) {

        display: none;
      }
    }

    @media (min-width: 1240px) {

      line-height: 51px;
      font-size  : 36px;
    }
  }

  &_text {

    font-size  : 12px;
    line-height: 18px;
    font-weight: 300;
    color      : $overall-color;
    margin-top : 20px;

    @media (min-width: 1240px) {

      line-height: 21px;
      font-size  : 14px;
    }
  }

  &_footnote {

    margin-top: 30px;

    @media (min-width: 1240px) {

      margin-top: 20px;
      display   : flex;
    }
  }
}

.catalog-footnote {

  &_text {

    font-size  : 16px;
    line-height: 24px;
    color      : #000;
    display    : block;
  }

  &_link {

    display                    : inline-block;
    margin-top                 : 15px;
    font-size                  : 16px;
    line-height                : 24px;
    color                      : #FFA92E;
    text-decoration            : none;
    font-weight                : bold;
    -webkit-transition-duration: .3s;
    -moz-transition-duration   : .3s;
    -ms-transition-duration    : .3s;
    -o-transition-duration     : .3s;
    transition-duration        : .3s;

    &:hover {

      -webkit-transition-duration: .3s;
      -moz-transition-duration   : .3s;
      -ms-transition-duration    : .3s;
      -o-transition-duration     : .3s;
      transition-duration        : .3s;
      color                      : $leading-color;
    }

    @media (min-width: 1240px) {

      margin-top : 0;
      margin-left: 15px;
    }
  }
}


.catalog-base {

  margin-top: 35px;

  @media (min-width: 1240px) {

    margin-top: 25px;
  }

  &_desktop-sort {

    display: none;

    @media (min-width: 1240px) {

      display: block;
    }

    &_title {

      font-size  : 16px;
      color      : $overall-color;
      line-height: 24px;
    }

    &_form {

      display    : flex;
      align-items: center;
    }

    &_list {

      display    : flex;
      margin-left: 30px;
    }

    &_item {

      &:not(:last-child) {

        margin-right: 40px;
      }

      a {

        text-decoration            : none;
        line-height                : 24px;
        font-size                  : 16px;
        color                      : #8C8C8C;
        -webkit-transition-duration: .3s;
        -moz-transition-duration   : .3s;
        -ms-transition-duration    : .3s;
        -o-transition-duration     : .3s;
        transition-duration        : .3s;

        &:hover {

          -webkit-transition-duration: .3s;
          -moz-transition-duration   : .3s;
          -ms-transition-duration    : .3s;
          -o-transition-duration     : .3s;
          transition-duration        : .3s;
          color                      : #FFA92E;
        }
      }
    }
  }

  &_content {

    padding: 0 25px;

    @media (min-width: 1240px) {

      padding  : 0;
      display  : flex;
      flex-wrap: wrap;
      max-width: 1240px;
      margin   : 0 auto;
    }
  }

  &_left {

    @media (min-width: 1240px) {

      width: 290px;
    }
  }

  &_right {

    margin-top: 55px;

    @media (min-width: 1240px) {

      margin-top : 0;
      width      : 925px;
      margin-left: 25px;
    }
  }
}

.catalog-sort {

  &_text {

    font-size  : 16px;
    line-height: 24px;
    color      : $overall-color;
  }

  &_select {

    margin-top      : 10px;
    color           : #FFA92E;
    font-size       : 16px;
    line-height     : 24px;
    padding         : 0;
    text-align      : left;
    border          : none;
    background-color: transparent;
    box-sizing      : border-box;
  }

  @media (min-width: 1240px) {

    display: none;
  }

  &_price-link {

    position     : relative;
    padding-right: 20px;

    &:after {

      content                    : '';
      background-image           : url('../image/sort-desktop.svg');
      background-repeat          : no-repeat;
      background-size            : auto;
      position                   : absolute;
      top                        : 5px;
      right                      : 0;
      width                      : 15px;
      height                     : 15px;
      -webkit-transition-duration: .3s;
      -moz-transition-duration   : .3s;
      -ms-transition-duration    : .3s;
      -o-transition-duration     : .3s;
      transition-duration        : .3s;
    }

    &:hover {

      &:after {

        background-image           : url('../image/sort-desktop-hover.svg');
        -webkit-transition-duration: .3s;
        -moz-transition-duration   : .3s;
        -ms-transition-duration    : .3s;
        -o-transition-duration     : .3s;
        transition-duration        : .3s;
      }
    }
  }
}

.catalog-product {

  @media (min-width: 1240px) {

    display   : flex;
    flex-wrap : wrap;
    margin-top: 45px;
  }
}

.catalog-nav {

  margin-top: 50px;

  @media (min-width: 1240px) {

    margin-top     : 0;
    display        : flex;
    flex-direction : row-reverse;
    justify-content: space-between;
    align-items    : center;
  }

  &_all {

    margin-top: 50px;
    text-align: center;

    @media (min-width: 1240px) {

      margin-top: 0;
    }
  }
}

.catalog-nav-page {

  &_list {

    display        : flex;
    justify-content: space-between;
  }

  &_item {

    @media (min-width: 1240px) {

      &:not(:first-child) {

        margin-left: 15px;
      }

      &:last-child {

        /* margin-left: 45px; */
      }
    }
  }

  &_link {

    text-decoration            : none;
    font-size                  : 18px;
    color                      : $overall-color;
    -webkit-transition-duration: .3s;
    -moz-transition-duration   : .3s;
    -ms-transition-duration    : .3s;
    -o-transition-duration     : .3s;
    transition-duration        : .3s;

    &:hover {

      color                      : #FFA92E;
      -webkit-transition-duration: .3s;
      -moz-transition-duration   : .3s;
      -ms-transition-duration    : .3s;
      -o-transition-duration     : .3s;
      transition-duration        : .3s;
    }

    &__active {

      color: #FFA92E;
    }
  }
}

.catalog-nav-all {

  &_link {

    display                    : inline-block;
    height                     : 45px;
    line-height                : 45px;
    text-align                 : center;
    text-decoration            : none;
    font-size                  : 18px;
    color                      : rgba(0, 0, 0, .2);
    border                     : 1px solid rgba(0, 0, 0, .2);
    border-radius              : 5px;
    padding                    : 0 50px;
    -webkit-transition-duration: .3s;
    -moz-transition-duration   : .3s;
    -ms-transition-duration    : .3s;
    -o-transition-duration     : .3s;
    transition-duration        : .3s;

    @media (min-width: 1240px) {

      width: 500px;
    }

    span {

      position: relative;
      display : inline-block;

      &:before {

        content          : '';
        position         : absolute;
        top              : 15px;
        left             : -15px;
        width            : 7px;
        height           : 15px;
        background-image : url('../image/cat-left.svg');
        background-repeat: no-repeat;
        background-size  : auto;
      }

      &:after {

        content          : '';
        position         : absolute;
        top              : 15px;
        right            : -15px;
        width            : 7px;
        height           : 15px;
        background-image : url('../image/cat-left.svg');
        background-repeat: no-repeat;
        background-size  : auto;
      }
    }

    &:hover {

      background-color           : $leading-color;
      color                      : #fff;
      -webkit-transition-duration: .3s;
      -moz-transition-duration   : .3s;
      -ms-transition-duration    : .3s;
      -o-transition-duration     : .3s;
      transition-duration        : .3s;
      border-color               : $leading-color;

      span {

        &:before {

          background-image: url('../image/car-left-hover.svg');
        }

        &:after {

          background-image: url('../image/car-left-hover.svg');
        }
      }
    }
  }
}

.form-section {

  padding   : 0 25px;
  box-sizing: border-box;
  margin-top: 45px;
}

.text-section {

  margin-top: 60px;

  @media (min-width: 1240px) {

    margin-top: 30px;
  }

  &_content {

    padding: 0 25px;

    @media (min-width: 1240px) {

      max-width: 820px;
      padding  : 0;
      margin   : 0 auto;
    }
  }

  &_title {

    font-size  : 18px;
    color      : $overall-color;
    font-weight: 300;

    @media (min-width: 1240px) {

      font-size: 26px;
    }
  }

  &_text {

    margin-top: 20px;

    p {

      font-size  : 14px;
      line-height: 21px;
      color      : $overall-color;
      font-weight: 300;

      &:not(:first-child) {

        margin-top: 30px;
      }
    }
  }
}


.product-more {

  margin-top: 85px;

  @media (min-width: 1240px) {

    padding-bottom: 20px;
  }

  &_content {

    padding: 0 25px;

    @media (min-width: 1240px) {

      padding  : 0;
      max-width: 820px;
      margin   : 0 auto;
    }
  }

  &_title {

    font-size  : 24px;
    line-height: 28px;
    color      : $overall-color;
    font-weight: 300;

    @media (min-width: 1240px) {

      font-size: 26px;
    }
  }

  &_carousel {

    margin-top: 30px;

    .owl-nav .owl-prev {

      position : absolute;
      left     : 0;
      top      : 50%;
      transform: translate(0, -130%);
    }

    .owl-nav .owl-next {

      position : absolute;
      right    : 0;
      top      : 50%;
      transform: translate(0, -130%);
    }
  }

  &_link {

    text-decoration: none;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;

    svg path {

      transition-duration: .3s;
    }

    &:hover {

      .product-more_name {

        color              : #FFA92E;
        transition-duration: .3s
      }

      svg path {

        fill               : #FFA92E;
        transition-duration: .3s
      }
    }
  }

  &_name {

    font-size          : 12px;
    color              : #000;
    text-align         : center;
    margin-top         : 5px;
    transition-duration: .3s
  }

  .product-more_img-block-img {
    width : 62px!important;
    height: 62px;
  }
}

.catalog-nav_page__filter {
  margin: 40px 0;
}

.catalog-info_title-image {
  position: absolute;
  top     : -5px;
  left    : 0;
  width   : 36px;
  height  : 36px;
}

@media (min-width: 1240px) {

  .catalog-info_title-image {
    width : 56px;
    height: 56px;
    top   : -3px;
    left  : -70px;
  }

}
