.catalog-filter {

  margin-top: 30px;

  &_head {

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
    background-color: #fff;
    z-index: 2;

    @media (min-width: 1240px) {

      display: none;;
    }
  }

  &_exit {

    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;

    &:before {

      content: '';
      position: absolute;
      top: 8px;
      left: -3px;
      width: 25px;
      height: 1px;
      background-color: #2A2D33;
      transform: rotate(-45deg);
    }

    &:after {

      content: '';
      position: absolute;
      top: 8px;
      left: -3px;
      width: 25px;
      height: 1px;
      background-color: #2A2D33;
      transform: rotate(45deg);
    }
  }

  &_btn {

    font-size: 14px;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    background-color: $leading-color;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 0 30px;

    @media (min-width: 1240px) {

      display: none;
    }
  }

  &_form-block {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
    display: none;

    @media (min-width: 1240px) {

      position: static;
      height: auto;
      display: block;
    }

    &__active {

      display: block;
    }
  }
}

.catalog-form {

  margin-top: 45px;
  padding: 0 25px;

  @media (min-width: 1240px) {

    padding: 0;
  }

  &_wrapper {

    padding-top: 50px;
    height: calc(100vh - 50px);
    overflow: scroll;

    @media (min-width: 1240px) {

      overflow: visible;
      height: auto;
      padding-top: 0;
    }
  }

  &_text {

    font-size: 18px;
    line-height: 25px;
    color: $overall-color;
  }

  &_btn-block {

    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    z-index: 1;

    @media (min-width: 1240px) {

      position: static;
      padding: 0;
      margin-top: 45px;
    }
  }

  &_btn {

    &__true {

      text-decoration: none;
      color: #fff;
      font-size: 14px;
      font-weight: 300;
      padding: 0 20px;
      border-radius: 20px;
      background-color: $leading-color;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      margin-right: 10px;
      -webkit-transition-duration: .3s;
      -moz-transition-duration: .3s;
      -ms-transition-duration: .3s;
      -o-transition-duration: .3s;
      transition-duration: .3s;

      &:hover {

        -webkit-transition-duration: .3s;
        -moz-transition-duration: .3s;
        -ms-transition-duration: .3s;
        -o-transition-duration: .3s;
        transition-duration: .3s;
        background-color: #FFA92E;
      }
    }

    &__false {

      text-decoration: none;
      font-size: 14px;
      line-height: 20px;
      font-weight: 300;
      color: #C8C7CC;
      position: relative;
      padding-left: 20px;
      -webkit-transition-duration: .3s;
      -moz-transition-duration: .3s;
      -ms-transition-duration: .3s;
      -o-transition-duration: .3s;
      transition-duration: .3s;

      &:before {

        content: '';
        width: 14px;
        height: 1px;
        position: absolute;
        top: 10px;
        left: 0;
        background-color: #8C8C8C;
        transform: rotate(45deg);
      }

      &:after {

        content: '';
        width: 14px;
        height: 1px;
        position: absolute;
        top: 10px;
        left: 0;
        background-color: #8C8C8C;
        transform: rotate(-45deg);
      }

      &:hover {

        -webkit-transition-duration: .3s;
        -moz-transition-duration: .3s;
        -ms-transition-duration: .3s;
        -o-transition-duration: .3s;
        transition-duration: .3s;
        color: $leading-color;

        &:before {

          background-color: $leading-color;
        }

        &:after {

          background-color: $leading-color;
        }
      }
    }
  }
}


.catalog-price {

  &_title {

    font-size: 18px;
    line-height: 21px;
    color: $overall-color;
    font-weight: bold;
  }

  &_block {

    margin-top: 25px;
  }

  &_wrap {

    display: inline-block;
    position: relative;

    &:first-child {

      margin-right: 15px;
    }

    &__min {

      &:before {

        content: 'от';
        font-size: 18px;
        color: $overall-color;
        position: absolute;
        top: 8px;
        left: 15px;
      }
    }

    &__max {

      &:before {

        content: 'до';
        font-size: 18px;
        color: $overall-color;
        position: absolute;
        top: 8px;
        left: 15px;
      }
    }
  }

  &_input {

    width: 130px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: 35px;
    box-sizing: border-box;
    font-size: 18px;
    color: $overall-color;
    padding-left: 45px;

    &:focus {

      outline: none;
    }
  }
}

.catalog-check {

  &:not(:first-child) {

    margin-top: 45px;
  }

  &_wrap {

    margin-top: 45px;
  }

  &_title {

    font-size: 18px;
    line-height: 21px;
    color: $overall-color;
    font-weight: bold;
  }

  &_type {

    display: flex;
    align-items: center;
    margin-top: 5px;
    width: fit-content;
  }

  &_input {

    display: none;

    &:checked + .catalog-check_custom:before {

      content: "";
      display: block;
      position: absolute;
      width: 17px;
      height: 17px;
      background-image: url('../image/checked.svg');
      background-repeat: no-repeat;
      top: -9px;
      left: -5px;
    }

    &:checked + .catalog-check_custom {

      color: #FFA92E;
    }
  }

  &_custom {

    position: relative;
  	width: 10px;
  	height: 10px;
  	border: 1px solid rgba(0, 0, 0, .2);
  	border-radius: 3px;
    display: inline-block;
  	vertical-align: middle;
  }

  &_name {

    font-size: 18px;
    font-weight: 300;
    color: $overall-color;
    line-height: 25px;
    margin-left: 10px;
    cursor: pointer;
  }
}
