.cart-info {

  padding-top: 95px;

  @media (min-width: 1240px) {

    padding-top: 195px;
  }

  &_code {

    font-size  : 11px;
    line-height: 12px;
    color      : $overall-color;

    @media (min-width: 1240px) {

      display: none;
    }
  }

  &_content {

    padding: 0 25px;

    @media (min-width: 1240px) {

      padding  : 0;
      max-width: 1240px;
      margin   : 0 auto;
    }
  }

  &_title {

    font-size  : 20px;
    color      : $overall-color;
    font-weight: 300;
    line-height: 28px;
    margin-top : 15px;

    @media (min-width: 1240px) {

      display: none;
    }
  }

  &_product {

    margin-top: 40px;

    @media (min-width: 1240px) {

      margin-top: 20px;
      display   : flex;
      flex-wrap : wrap;
    }
  }
}

.cart-slider {

  border-radius: 20px;
  border       : 1px solid #C8C7CC;
  overflow     : hidden;

  @media (min-width: 1240px) {

    display: none !important;
  }

  &_slide {

    padding   : 35px;
    box-sizing: border-box;
  }

  .owl-nav .owl-prev {

    position : absolute;
    top      : 50%;
    left     : 10px;
    transform: translate(0, -50%);
  }

  .owl-nav .owl-next {

    position : absolute;
    top      : 50%;
    right    : 10px;
    transform: translate(0, -50%);
  }
}

.cart-product {

  @media (min-width: 1240px) {

    width: 505px;
  }

  &_desktop-show {

    display: none;

    @media (min-width: 1240px) {

      display: block;
    }
  }

  &_big-img {

    text-align   : center;
    padding      : 65px;
    box-sizing   : border-box;
    border-radius: 20px;
    border       : 1px solid #C8C7CC;
  }

  &_count {

    font-size             : 18px;
    color                 : #2A2D33;
    font-family           : 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    width                 : 70px;
    border                : none;
    background-color      : transparent;
    text-align            : center;

    &:focus {

      outline: none;
    }

    &__dec {

      text-decoration: none;
      display        : flex;
      width          : 20px;
      height         : 20px;
      align-items    : center;
    }

    &__inc {

      text-decoration: none;
    }
  }
}

.cart-more {

  display   : flex;
  margin-top: 15px;

  &_img {

    padding            : 15px;
    box-sizing         : border-box;
    border-radius      : 20px;
    border             : 1px solid rgba(0, 0, 0, .2);
    transition-duration: .3s;

    &:not(:last-child) {

      margin-right: 20px;
    }

    &:hover {

      border-color: #FFA92E;
    }
  }
}

.cart-specification {

  margin-top: 35px;

  @media (min-width: 1240px) {

    margin-left: 20px;
    margin-top : 20px;
    width      : 715px;
  }

  &_desktop-block {

    display: none;

    @media (min-width: 1240px) {

      display: block;
      width  : 450px;
    }
  }

  &_title {

    font-size  : 36px;
    font-weight: 300;
    line-height: 51px;
    color      : $overall-color;
  }

  &_price {

    @media (min-width: 1240px) {

      display        : flex;
      justify-content: space-between;
    }
  }
}

.cart-price {

  &_text {

    font-size  : 36px;
    line-height: 55px;
    color      : #FFA92E;
    display    : block;
  }

  &_subtext {

    display    : block;
    font-size  : 18px;
    line-height: 25px;
    color      : #8C8C8C;
  }
}

.cart-definition {

  @media (min-width: 1240px) {

    display   : flex;
    margin-top: 30px;
  }

  &_info {

    margin-top: 35px;

    @media (min-width: 1240px) {

      margin-top: 0;
    }
  }

  &_text {

    font-size  : 18px;
    line-height: 27px;
    font-weight: bold;
    color      : #FFA92E;


    &__desktop {

      display: none;

      @media (min-width: 1240px) {

        display   : block;
        margin-top: 35px;
      }
    }

    &__mobile {

      margin-top: 25px;

      @media (min-width: 1240px) {

        display: none;
      }
    }
  }
}

.cart-advantages {

  margin-top: 30px;

  @media (min-width: 1240px) {

    margin-top : 0;
    width      : 320px;
    margin-left: 50px;
  }

  &_list {

    display  : flex;
    flex-wrap: wrap;
  }

  &_item {

    width        : calc(100%/3);
    text-align   : center;
    margin-bottom: 10px;

    @media (min-width: 1240px) {

      width: 80px;

      &:not(:last-child) {

        margin-right: 25px;
      }
    }
  }
}

.cart-grid {

  margin-top: 50px;

  &_mobile {

    @media (min-width: 1240px) {

      display: none;
    }
  }

  &_desktop {

    display: none;

    @media (min-width: 1240px) {

      display: block;

      table {

        width: 100%;

        thead {

          border-bottom: 1px solid rgba(0, 0, 0, .2);

          th {

            font-size  : 18px;
            font-weight: bold;
            color      : $overall-color;
            padding    : 15px 0;
            text-align : center;

            &:last-child {

              border-left: 1px solid rgba(0, 0, 0, .2);
            }
          }
        }

        tbody {

          tr {

            transition-duration: .3s;

            &:hover {

              background-color   : #F3F3F3;
              transition-duration: .3s;
            }
          }

          td {

            text-align    : center;
            padding       : 15px 0;
            vertical-align: middle;

            &:last-child {

              border-left: 1px solid rgba(0, 0, 0, .2);
            }
          }
        }
      }
    }
  }

  &_list {

    border-bottom : 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 35px;
  }

  &_item {

    display        : flex;
    justify-content: space-between;
    align-items    : center;

    &:not(:first-child) {

      margin-top: 20px;
    }
  }

  &_select {

    font-size         : 18px;
    color             : $overall-color;
    background-color  : transparent;
    border            : none;
    -webkit-appearance: none;

    &:focus {

      outline: none;
    }
  }

  &_name {

    font-size  : 18px;
    font-weight: bold;
    color      : $overall-color;
  }

  &_property {

    font-size      : 18px;
    color          : $overall-color;
    display        : flex;
    align-items    : center;
    justify-content: center;
  }

  &_etc {

    margin-top: 30px;

    @media (min-width: 1240px) {

      display        : flex;
      justify-content: space-between;
      align-items    : center;
    }

    div {

      text-align: center;
      margin-top: 35px;

      @media (min-width: 1240px) {

        margin-top: 0
      }
    }
  }
}

.cart-etc {

  &_total {

    font-size  : 24px;
    color      : $overall-color;
    font-weight: bold;
  }



  &_btn {

    font-size                  : 14px;
    font-weight                : 300;
    color                      : #fff;
    text-align                 : center;
    height                     : 40px;
    line-height                : 40px;
    display                    : inline-block;
    padding                    : 0 70px;
    background-color           : $leading-color;
    border-radius              : 50px;
    text-decoration            : none;
    -webkit-transition-duration: .3s;
    -moz-transition-duration   : .3s;
    -ms-transition-duration    : .3s;
    -o-transition-duration     : .3s;
    transition-duration        : .3s;
    
    &:hover {
      
      background-color           : #FFA92E;
      -webkit-transition-duration: .3s;
      -moz-transition-duration   : .3s;
      -ms-transition-duration    : .3s;
      -o-transition-duration     : .3s;
      transition-duration        : .3s;
    }
  }
}

.cart-characteristic {

  margin-top: 65px;

  @media (min-width: 1240px) {

    margin-top: 80px;
  }

  &_content {

    padding: 0 25px;

    @media (min-width: 1240px) {

      padding       : 0;
      max-width     : 1240px;
      margin        : 0 auto;
      display       : flex;
      flex-wrap     : wrap;
      flex-wrap     : wrap;
      flex-direction: row-reverse;
    }
  }

  &_link {

    position       : relative;
    text-decoration: none;
    font-size      : 18px;
    color          : #FFA92E;

    @media (min-width: 1240px) {

      display: none;
    }

    &:after {

      content          : '';
      position         : absolute;
      top              : 9px;
      right            : -30px;
      width            : 19px;
      height           : 6px;
      background-image : url('../image/arr-cart.svg');
      background-repeat: no-repeat;
      background-size  : auto;
    }

    &__back {

      font-size   : 20px;
      font-weight : 300;
      color       : $overall-color;
      padding-left: 30px;

      &:after {

        display: none;
      }

      &:before {

        content          : '';
        position         : absolute;
        top              : 9px;
        left             : 0;
        width            : 19px;
        height           : 6px;
        background-image : url('../image/arr-back.svg');
        background-repeat: no-repeat;
        background-size  : auto;
      }
    }
  }

  &_roster {

    @media (min-width: 1240px) {

      margin-top: 20px;
    }
  }

  &_wrap {

    position        : fixed;
    bottom          : 0;
    left            : 0;
    width           : 100%;
    height          : calc(100% - 66px);
    background-color: #fff;
    z-index         : 2;
    padding         : 25px;
    box-sizing      : border-box;
    overflow        : scroll;
    display         : none;

    @media (min-width: 1240px) {

      display         : block;
      height          : auto;
      position        : static;
      width           : 715px;
      overflow        : visible;
      padding         : 0;
      background-color: transparent
    }
  }

  &_list {

    margin-top: 40px;

    @media (min-width: 1240px) {

      margin-top: 0;
      border    : 1px solid rgba(0, 0, 0, .2);
    }
  }

  &_item {

    display        : flex;
    justify-content: space-between;

    @media (min-width: 1240px) {

      padding: 10px 20px;

      &:nth-child(2n) {

        background-color: #F3F3F3;
      }
    }

    &:not(:first-child) {

      margin-top: 25px;

      @media (min-width: 1240px) {

        margin-top: 0;
      }
    }
  }

  &_name {

    font-size    : 14px;
    color        : $overall-color;
    padding-right: 20px;
  }

  &_property {

    font-size  : 14px;
    color      : $overall-color;
    font-weight: bold;
  }

  &_info {

    margin-top: 40px;

    @media (min-width: 1240px) {

      width       : 460px;
      margin-top  : 0;
      margin-right: auto;
    }

    &_title {

      font-size  : 18px;
      line-height: 21px;
      font-weight: 300;
      color      : $overall-color;

      @media (min-width: 1240px) {

        font-size  : 26px;
        line-height: 30px;
        color      : $overall-color;
      }
    }

    &_text {

      margin-top: 35px;

      @media (min-width: 1240px) {

        margin-top: 20px;
      }

      p {

        line-height: 21px;
        font-size  : 14px;
        color      : $overall-color;

        &:not(:first-child) {

          margin-top: 25px;
        }
      }
    }
  }

  &_btn {

    margin-top                 : 65px;
    display                    : inline-block;
    padding                    : 0 35px 0 55px;
    background-color           : $leading-color;
    border-radius              : 30px;
    height                     : 40px;
    line-height                : 40px;
    text-align                 : center;
    text-decoration            : none;
    color                      : #fff;
    font-size                  : 14px;
    position                   : relative;
    -webkit-transition-duration: .3s;
    -moz-transition-duration   : .3s;
    -ms-transition-duration    : .3s;
    -o-transition-duration     : .3s;
    transition-duration        : .3s;

    &:before {

      content          : '';
      position         : absolute;
      top              : 10px;
      left             : 35px;
      width            : 16px;
      height           : 20px;
      background-image : url("../image/pdf-item.svg");
      background-repeat: no-repeat;
      background-size  : 100% 100%;
    }

    &:hover {

      -webkit-transition-duration: .3s;
      -moz-transition-duration   : .3s;
      -ms-transition-duration    : .3s;
      -o-transition-duration     : .3s;
      transition-duration        : .3s;
      background-color           : #FFA92E;
    }
  }
}

.confirm_order_btn[disabled] {
  opacity: .5;
}
